In [1]:
import numpy as np
import pandas as pd

### 데이터 프레임 정보 확인
- 데이터 프레임을 생성하였다면 그 다음 단계로 데이터 프레임의 정보를 확인해야 한다.
- 데이터 프레임의 구조(컬럼 목록, 각 컬럼별 데이터 타입, 행의 개수 등등) 뿐만 아니라 데이터 명세서와 비교하여 잘못된 데이터가 있는지도 확인하는 과정이 된다.
- 이 과정에서 컬럼명을 변경하고 싶다면 변경해주세용~~~

In [2]:
# 데이터 프레임 생성
df1 = pd.read_csv('data/train.csv')
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# # 출력시 생략되는 것이 싫다면...
# # 최대 컬럼수. 이 수가 넘으면 출력시 생략된다 (기본 20)
# pd.set_option('display.max_columns', None)
# # 최대 행의수. 이 수가 넘으면 출력시 행략된다 (기본 60)
# pd.set_option('display.max_rows', None)

# df1

In [3]:
# 로우의 개수와 컬럼의 개수
rows, columns = df1.shape
print(f'로우의 개수 : {rows}')
print(f'컬럼의 개수 : {columns}')

로우의 개수 : 891
컬럼의 개수 : 12

In [4]:
# 상위 5개의 행을 가져온다.
# 상위 5개의 행을 추출하여 새로운 데이터 프레임으로 생성하여 반환해준다.
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# 상위 n 개의 행을 추출하여 새로운 데이터 프레임을 생성한다.
df1.head(7)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [6]:
# 하위 5개의 행을 추출하여 새로운 데이터 프레임을 생성한다.
df1.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [7]:
# 하위 n 개의 행을 추출하여 새로운 데이터 프레임을 생성한다.
df1.tail(7)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

In [8]:
# 컬럼의 이름들을 가져온다.
# 데이터 명세서의 컬럼 이름들과 비교하여 다른 부분이 있는지 확인하고
# 각 컬럼의 값의 의미를 파악한다.
display(df1.columns)

# index 들을 가져온다.
# 확인의 목적으로 사용하지는 않는다.
display(df1.index)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

RangeIndex(start=0, stop=891, step=1)

In [9]:
# 데이터 프레임의 구조 정보
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
# 데이터 프레임의 구조 정보
df1.info()

# RangeIndex : index가 어떻게 구성되어 있는지에 대한 내용. index가 무엇으로 설정되어 있느냐에 따라 다르다.
# 여기에서는 000 entries로 표시되어 있는 것을 통해 전체 행의 개수를 파악한다.

# Data columns (total 12 columns) : 여기에서는 컬럼의 수를 파악한다.

# 그 밑에 나오는 정보들
# Column : 컬럼 이름들
# Non-Null Count : 결측치를 제외한 데이터의 개수. 만약 행의 개수와 다르면 결측치가 존재한다라는 의미이다.
# 그런데 눈에 잘 안띄는 경우들이 많기 때문에 다른 방법으로 결측치 존재 여부를 확인하는 것이 더 좋다.
# Dtype : 컬럼에 저장되어 있는 데이터들의 타입 (int - 정수, float - 실수, bool - 논리, datetime - 시간, object - 그 외)

# dyptes : 컬럼들의 데이터 타입이 각각 몇 개씩인지...

# memory usage : 데이터 프레임이 사용하고 있는 메모리의 총 용량

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [11]:
# 만약 컬럼의 개수로 무지하게 많다면...
df2 = pd.read_excel('data/dataset2017.xlsx')
df2

,h12_id,h12_ind,h12_sn,h12_merkey,h_new,h12_cobf,p12_wgl,p12_wsl,p12_wgc,p12_wsc,...,da12_326,da12_327,da12_328,da12_6aq14,da12_6aq15,h12_pers_income1,h12_pers_income2,h12_pers_income3,h12_pers_income4,h12_pers_income5
0,1,1,1,10101,0,NaN,953.482054,0.286943,948.140524,0.285336,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,2,1,1,20101,0,NaN,1238.891352,0.372835,1238.891352,0.372835,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,3,1,1,30101,0,NaN,1282.051947,0.385824,1282.051947,0.385824,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,4,1,1,40101,0,NaN,1066.327201,0.320903,1066.327201,0.320903,...,NaN,NaN,NaN,NaN,NaN,NaN,3418.0,NaN,0,NaN
4,4,1,1,40101,0,NaN,1390.617192,0.418496,1382.826774,0.416151,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15417,9800,7,1,98000701,1,NaN,735.488155,0.221339,735.488155,0.221339,...,NaN,NaN,NaN,NaN,NaN,NaN,979.0,NaN,0,NaN
15418,9800,7,1,98000701,1,NaN,898.395613,0.270365,898.395613,0.270365,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
15419,9800,7,1,98000701,1,NaN,2686.353997,0.808438,2676.190322,0.805379,...,NaN,NaN,NaN,NaN,NaN,NaN,868.0,NaN,0,NaN
15420,9800,7,1,98000701,1,NaN,841.651153,0.253288,841.651153,0.253288,...,NaN,NaN,NaN,NaN,NaN,NaN,518.0,NaN,0,NaN
15421,9800,7,1,98000701,1,NaN,643.650245,0.193702,643.650245,0.193702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [12]:
# 컬럼의 수가 너무 많으면 생략된다.
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15422 entries, 0 to 15421
Columns: 1191 entries, h12_id to h12_pers_income5
dtypes: float64(999), int64(191), object(1)
memory usage: 140.1+ MB

In [13]:
# 컬럼수가 많은 데이터 프레임에서 컬럼 목록을 가져온다.
# 컬럼수가 너무 많으면 중간에 생략된다.
pd.reset_option('display.max_seq_items')
display(df2.columns)

# 제한을 풀어준다.
pd.set_option('display.max_seq_items', None)

display(df2.columns)

# 제한 초기화
pd.reset_option('display.max_seq_items')

Index(['h12_id', 'h12_ind', 'h12_sn', 'h12_merkey', 'h_new', 'h12_cobf',
       'p12_wgl', 'p12_wsl', 'p12_wgc', 'p12_wsc',
       ...
       'da12_326', 'da12_327', 'da12_328', 'da12_6aq14', 'da12_6aq15',
       'h12_pers_income1', 'h12_pers_income2', 'h12_pers_income3',
       'h12_pers_income4', 'h12_pers_income5'],
      dtype='object', length=1191)

Index(['h12_id', 'h12_ind', 'h12_sn', 'h12_merkey', 'h_new', 'h12_cobf',
       'p12_wgl', 'p12_wsl', 'p12_wgc', 'p12_wsc', 'h12_reg5', 'h12_reg7',
       'h12_cin', 'h12_din', 'h12_flag', 'h12_hc', 'nh1201_1', 'nh1201_2',
       'h1201_1', 'h12_pind', 'h12_pid', 'h12_g1', 'h12_g2', 'h12_g3',
       'h12_g4', 'h12_g6', 'h12_g7', 'h12_g8', 'h12_g9', 'h12_g10', 'h12_g11',
       'h12_g12', 'h1201_110', 'h1201_11aq2', 'h1201_11aq3', 'h1201_11aq5',
       'h1201_11aq6', 'h1201_11aq8', 'h1201_11aq10', 'h12_med1', 'h12_med2',
       'h12_med3', 'h12_med4', 'h12_med5', 'h12_med6', 'h12_med7', 'h12_med8',
       'h12_g9_1', 'h12_med9', 'h12_med10', 'h12_eco1', 'h12_eco2', 'h12_eco3',
       'h12_eco4', 'h12_eco4_1', 'h12_eco5_1', 'h12_eco6', 'h12_eco_7_1',
       'h12_eco_7_2', 'h12_eco_7_3', 'h12_eco8', 'h12_eco9', 'h12_eco10',
       'h12_eco11', 'h12_soc1', 'h12_soc_2', 'h12_soc_3', 'h12_soc_4',
       'h12_soc_5', 'h12_soc_6', 'h12_soc_7', 'h12_soc_8', 'h12_soc_9',
       'h12_soc_10', 'h12_soc_11', 'h12_soc8', 'h12_soc9', 'h12_soc11',
       'h12_soc10', 'h12_soc_12', 'h12_soc_13', 'h1205_1', 'h1205_3aq1',
       'h1205_2', 'h1205_3', 'h1205_4', 'h1205_5', 'h1205_6', 'h1205_7',
       'nh1205_8', 'nh1205_9', 'h1205_3aq2', 'h1206_aq1', 'h1206_1', 'h1206_2',
       'h1206_4', 'h1206_5', 'h1206_3', 'h1206_6', 'h1206_8', 'h1206_9',
       'h1206_aq2', 'h1206_aq3', 'h1206_10', 'h1206_11', 'h1206_12',
       'h1206_13', 'h1206_14', 'h1206_21', 'h1206_22', 'h1206_23', 'h1206_24',
       'h1206_25', 'h1206_27', 'h1206_30', 'h1206_33', 'h1206_36', 'h1206_39',
       'h1206_3aq1', 'h1207_3aq1', 'h1207_3aq2', 'h1207_5aq1', 'h1207_3aq3',
       'h1207_3aq4', 'h1207_3aq5', 'h1207_6aq1', 'h1207_3aq6', 'h1207_5aq2',
       'h1207_3aq7', 'h1207_3aq8', 'h1207_3aq9', 'h1207_3aq10', 'h1207_3aq11',
       'h1207_5aq3', 'h1207_5aq4', 'h1207_3aq13', 'h1207_6aq4', 'h1207_6aq6',
       'h1207_3aq14', 'h1207_3aq15', 'h1207_3aq16', 'h1207_3aq17', 'h1207_4',
       'h1207_6aq7', 'h1207_6aq8', 'h1207_6aq9', 'h1207_6aq10', 'h1207_6aq11',
       'h1207_5', 'h1207_6aq12', 'h1207_6aq13', 'h1207_6aq14', 'h1207_9',
       'h1209_9', 'h1209_6aq4', 'h12_inc1', 'h12_inc2_1', 'h12_inc2_2',
       'h12_inc3_1', 'h12_inc3_2', 'h12_inc4_1', 'h12_inc4_2', 'h12_inc5_1',
       'h12_inc5_2', 'h12_inc6_1', 'h12_inc6_2', 'h12_inc7_1', 'h12_inc7_2',
       'h1208_106', 'h1208_107', 'h1208_108', 'h1208_109', 'h1208_110',
       'h1208_111', 'h12_inc2_3', 'h12_inc2', 'h12_inc3_6', 'h12_inc3',
       'h12_inc4_7', 'h12_inc4', 'h12_inc4_8', 'h12_inc4_9', 'h1208_155',
       'h1208_156', 'h1208_157', 'h1208_158', 'h1208_160', 'h1208_159',
       'h1208_3aq3', 'h1208_161', 'h1208_162', 'h1208_163', 'h1208_164',
       'h1208_166', 'h1208_165', 'h1208_3aq4', 'h1208_167', 'h1208_168',
       'h1208_169', 'h1208_170', 'h12_inc7_3', 'h12_inc7', 'h1208_aq9',
       'h1208_aq10', 'h1208_aq11', 'h1208_aq12', 'h1208_aq13', 'h1208_aq14',
       'h1208_aq15', 'h1208_6aq1', 'h1208_aq16', 'h1208_10aq1', 'h1208_aq19',
       'h1208_aq20', 'h1208_aq21', 'h1208_5aq3', 'h1208_7aq1', 'h1208_aq22',
       'h1208_7aq2', 'h1208_aq23', 'h1208_aq24', 'h1208_4aq116',
       'h1208_4aq117', 'h1208_5aq1', 'h1208_11aq1', 'h1208_7aq4', 'h1208_7aq5',
       'h1208_7aq6', 'h1208_7aq7', 'h1208_7aq8', 'h1208_7aq9', 'h1208_aq25',
       'h1208_7aq10', 'h1208_aq26', 'h1208_aq27', 'h1208_aq28', 'h1208_aq29',
       'h1208_3aq5', 'h1208_4aq118', 'h1208_aq30', 'h1208_6aq3', 'h1208_3aq6',
       'h1208_3aq7', 'nh1208_3aq1', 'h1208_aq32', 'h1208_aq33', 'h1208_aq34',
       'h1208_11aq2', 'h1208_11aq3', 'h1208_11aq4', 'h1208_11aq5',
       'h1208_11aq6', 'h1208_11aq7', 'h1208_11aq8', 'h1208_11aq9', 'h1209_aq1',
       'h1209_aq2', 'h1209_aq3', 'h1209_aq4', 'h1209_aq5', 'h1209_aq6',
       'h1209_aq7', 'h1209_aq8', 'h1209_12aq1', 'h1209_12aq2', 'h1209_12aq3',
       'h1209_12aq4', 'h1209_12aq5', 'h1209_12aq6', 'h1210_aq1', 'h1210_aq2',
       'h1210_aq3', 'h1210_aq4', 'h1210_aq5', 'h1210_aq6', 'h1210_aq7',
       'h1210_aq8', 'h1210_aq9', 'h1210_aq10', 'h1210_aq11', 'h1210_aq12',
       'h1210_aq13', 'h1210_aq14', 'h1210_aq15', 'h1210_aq16', 'h1210_aq17',
       'h1210_aq18', 'h1210_aq19', 'h1210_aq20', 'h1210_26', 'h1210_27',
       'h1210_aq23', 'h1210_aq24', 'h1210_aq25', 'h1210_aq26', 'h1211_2',
       'h1211_3', 'h1211_4', 'h1211_5', 'h1211_6', 'h1211_7', 'h1211_8',
       'h1211_3aq1', 'h1211_3aq2', 'h1211_3aq3', 'h1211_3aq4', 'h1211_3aq5',
       'h1211_3aq6', 'h1211_3aq7', 'h1212_2_11aq1', 'h1212_2_11aq2',
       'h1212_2_11aq3', 'h1212_2_11aq4', 'h1212_2_11aq5', 'h1212_2_11aq6',
       'h1212_2_11aq7', 'h1212_2_11aq8', 'h1212_2_11aq9', 'h1212_2_11aq10',
       'h1212_2_11aq11', 'h1212_2_11aq12', 'h1212_2_11aq13', 'h1212_2_11aq14',
       'h1212_2_11aq15', 'h1212_2_11aq16', 'h1212_2_12aq1', 'h1212_2_11aq17',
       'h1212_2_12aq2', 'h1212_2_11aq18', 'h1212_2_12aq3', 'h1212_2_11aq19',
       'h1212_2_12aq4', 'h1212_2_11aq20', 'h1212_2_12aq5', 'h1212_2_11aq21',
       'h1212_2_12aq6', 'h1212_2_11aq23', 'h1212_2_12aq7', 'h1212_2_11aq24',
       'h1212_2_12aq8', 'h1212_2_11aq25', 'h1212_2_12aq9', 'h1212_2_11aq26',
       'h1212_2_12aq10', 'h1212_2_11aq27', 'h1212_2_12aq11', 'h1212_2_11aq28',
       'h1212_2_12aq12', 'h1212_2_11aq30', 'h1212_2_12aq13', 'h1212_2_11aq31',
       'h1212_2_12aq14', 'h1212_2_11aq32', 'h1212_2_12aq15', 'h1212_2_11aq33',
       'h1212_2_12aq16', 'h1212_2_11aq34', 'h1212_2_12aq17', 'h1212_2_11aq35',
       'h1212_2_12aq18', 'h1212_2_11aq37', 'h1212_2_12aq19', 'h1212_2_11aq38',
       'h1212_2_12aq20', 'h1212_2_11aq39', 'h1212_2_12aq21', 'h1212_2_11aq40',
       'h1212_2_12aq22', 'h1212_2_11aq41', 'h1212_2_12aq23', 'h1212_2_11aq42',
       'h1212_2_11aq43', 'h1212_2_11aq44', 'h1212_2_11aq45', 'h1212_2_11aq46',
       'h1212_2_11aq47', 'h1212_2_11aq48', 'h1212_2_11aq49', 'h1212_2_11aq50',
       'h1212_2_11aq51', 'h1212_2_11aq52', 'h1212_2_11aq53', 'h1212_2_11aq54',
       'h1212_2_11aq55', 'h1212_2_11aq56', 'h1212_2_11aq57', 'h1212_2_11aq58',
       'h1212_2_11aq59', 'h1212_1_4aq1', 'nh1212_1_4aq1', 'nh1212_1_4aq2',
       'h1212_1_5aq1', 'h1212_1_5aq2', 'h1212_1_5aq3', 'h1212_1_5aq4',
       'h1212_1_5aq5', 'h1212_1_4aq2', 'h1213_2', 'h1213_6', 'h1213_10',
       'h1213_14', 'h1213_18', 'h1213_22', 'h1213_26', 'h1213_8aq1',
       'h1213_5aq1', 'h1213_8aq2', 'h1213_4aq1', 'h1213_4aq2', 'h1213_4aq4',
       'h1213_4aq6', 'h1213_4aq8', 'h1213_12aq1', 'h1213_5aq4', 'h1213_5aq6',
       'h1213_5aq8', 'h1213_6aq1', 'h1213_10aq1', 'h1213_12aq2', 'h1213_4aq14',
       'h1213_4aq15', 'h1213_4aq16', 'h1213_4aq17', 'h1213_4aq18',
       'h1213_4aq20', 'h1213_4aq22', 'h1213_4aq24', 'h1213_4aq26',
       'h1213_4aq28', 'h1213_4aq30', 'h1213_4aq32', 'h1214_4', 'h1214_8',
       'h1214_12', 'h1214_16', 'h1214_20', 'h1214_24', 'h1214_28', 'h1214_32',
       'h1214_36', 'h1214_3aq1', 'h1214_4aq1', 'h1215_4', 'h1215_8',
       'h1215_12', 'h1215_20', 'h1215_25', 'h1215_29', 'h1215_33', 'h1215_37',
       'h1215_4aq1', 'h1215_7aq1', 'h1215_aq1', 'h1215_40', 'h1215_41',
       'h1215_42', 'h1215_43', 'h1215_44', 'h1215_45', 'h1215_46', 'h1215_47',
       'h1215_48', 'h1215_49', 'h1215_50', 'h1215_51', 'h1215_52', 'h1215_53',
       'h1215_54', 'h1215_55', 'h1215_56', 'h1215_57', 'h1215_60', 'h1215_aq2',
       'h1215_61', 'h1215_62', 'h1215_63', 'h1215_66', 'h1215_67', 'h1215_68',
       'h1215_aq3', 'h1215_69', 'h1215_70', 'h1215_71', 'h1215_74', 'h1215_75',
       'h1215_76', 'h1215_aq4', 'h1215_77', 'h1215_78', 'h1215_79', 'h1215_82',
       'h1215_83', 'h1215_84', 'h1215_aq5', 'h1215_85', 'h1215_86', 'h1215_87',
       'h1215_90', 'h1215_91', 'h1215_92', 'h1215_aq6', 'h1215_93', 'h1215_94',
       'h1215_95', 'h1215_98', 'h1215_99', 'h1215_100', 'h1215_aq7',
       'h1215_101', 'h1215_102', 'h1215_103', 'h1215_106', 'h1215_107',
       'h1216_6aq1', 'h1216_6aq4', 'h1216_8', 'h1216_24', 'h1216_4aq1',
       'h1216_4aq4', 'h1216_32', 'h1216_36', 'h1216_40', 'h1216_4aq7',
       'h1216_56', 'h1216_60', 'h1216_64', 'h1217_1', 'h1217_2', 'h1217_3',
       'h1217_4', 'h1217_5', 'h1217_6', 'h1217_7', 'p12_fnum', 'p12_tq',
       'p12_cp', 'p1201_1', 'p1201_2', 'p1201_aq1', 'p1201_3', 'p1201_4',
       'p1201_5', 'p1201_6', 'p1201_10', 'p1201_11', 'p1201_12', 'p1201_13',
       'p1201_14', 'p1201_7', 'p1201_8', 'p1201_9', 'p1201_15', 'p1201_16',
       'p1201_17', 'p1201_18', 'p1201_19', 'p1201_20', 'p1201_21', 'p1201_22',
       'p1201_23', 'p1201_24', 'p1201_25', 'p1201_27', 'p1201_28', 'p1201_29',
       'p1201_30', 'p1201_31', 'p1201_32', 'p1201_33', 'p1201_34', 'p1202_1',
       'p1202_2', 'p1202_3', 'p1202_4', 'p1202_5', 'p1202_6', 'p1202_7',
       'p1202_8', 'p1202_8aq1', 'p1202_9', 'p1202_8aq2', 'p1202_4aq1',
       'p1202_10', 'p1202_11', 'p1202_12', 'p1202_8aq3', 'p1202_8aq4',
       'p1202_31', 'p1202_4aq2', 'p1202_4aq3', 'p1202_4aq4', 'p1202_8aq5',
       'p1202_8aq6', 'p1202_8aq7', 'p1202_8aq8', 'p1202_8aq9', 'p1202_8aq10',
       'p1202_8aq11', 'p1202_8aq12', 'p1202_8aq13', 'p1202_8aq14',
       'p1202_12aq1', 'p1202_8aq15', 'p1202_aq2', 'p1202_aq3', 'p1202_aq4',
       'p1202_aq5', 'p1203_1', 'p1203_2', 'p1203_5', 'p1203_6', 'p1203_7',
       'p1203_8', 'p1203_9', 'p1203_10', 'p1203_11', 'p1203_12', 'p1204_4',
       'p1204_5', 'p1204_6', 'p1204_7', 'p1204_8', 'p1204_9', 'p1204_10',
       'p1204_11', 'p1204_12', 'p1204_13', 'p1204_3aq1', 'p1204_3aq2',
       'p1204_3aq3', 'p1204_3aq4', 'p1204_3aq5', 'p1204_3aq6', 'p1204_3aq7',
       'p1204_3aq8', 'p1205_3aq1', 'p1205_3aq2', 'p1205_3aq3', 'p1205_3aq4',
       'p1205_3aq5', 'p1205_3aq6', 'p1205_3aq7', 'p1205_3aq8', 'p1205_3aq9',
       'p1205_3aq10', 'p1205_2', 'p1205_3', 'p1205_4aq1', 'p1205_4aq2',
       'p1205_4aq3', 'p1205_4aq4', 'p1205_4aq5', 'p1205_4aq6', 'p1205_4aq7',
       'p1205_4aq8', 'p1205_5', 'p1205_6', 'p1205_7', 'p1205_8', 'p1205_3aq11',
       'p1205_9', 'p1205_10', 'p1205_11', 'p1205_12', 'p1205_13', 'p1205_14',
       'p1205_15', 'p1205_16', 'p1205_17', 'p1205_18', 'p1205_19', 'p1205_20',
       'p1205_21', 'p1205_22', 'p1205_23', 'p1205_24', 'p1205_25', 'p1205_26',
       'p1205_27', 'p1205_28', 'p1205_29', 'p1205_4aq9', 'p1205_4aq10',
       'p1205_4aq11', 'p1205_aq1', 'p1205_aq2', 'p1205_aq3', 'p1205_aq4',
       'p1205_6aq1', 'p1205_6aq2', 'p1205_6aq3', 'p1205_6aq4', 'p1205_6aq5',
       'p1205_6aq6', 'p1205_6aq7', 'p1205_6aq8', 'p1205_6aq9', 'p1205_7aq1',
       'p1205_7aq2', 'p1205_7aq3', 'p1205_12aq1', 'p1207_3aq1', 'p1207_3aq2',
       'p1207_3aq3', 'p1207_3aq4', 'p1207_3aq5', 'p1207_3aq6', 'p1207_3aq7',
       'np1206_1', 'np1206_2', 'np1206_3', 'np1206_4', 'np1206_5', 'np1206_6',
       'np1206_7', 'np1206_8', 'np1206_9', 'np1206_10', 'np1206_11',
       'np1206_12', 'np1206_13', 'np1206_14', 'np1206_15', 'np1206_16',
       'np1206_17', 'np1206_18', 'np1206_19', 'np1206_20', 'np1206_21',
       'np1206_22', 'np1206_23', 'np1206_24', 'np1206_25', 'np1206_26',
       'np1206_27', 'np1206_28', 'np1206_29', 'np1206_30', 'np1206_31',
       'np1206_32', 'np1206_33', 'np1206_34', 'np1206_35', 'np1206_36',
       'np1206_37', 'np1206_38', 'np1206_39', 'np1206_40', 'np1206_41',
       'np1206_42', 'np1206_43', 'np1206_44', 'p1206_3aq1', 'da12_fnum',
       'da12_sub', 'da12_subfnum', 'da12_cp', 'da12_1', 'da12_2', 'da12_3',
       'da12_4', 'da12_5', 'da12_6', 'da12_7', 'da12_8', 'da12_9_1',
       'da12_9_2', 'da12_9_3', 'da12_9_4', 'da12_9_5', 'da12_10', 'da12_11_1',
       'da12_11_2', 'da12_11_3', 'da12_11_4', 'da12_11_5', 'da12_12',
       'da12_13_1', 'da12_13_2', 'da12_13_3', 'da12_13_4', 'da12_13_5',
       'da12_14', 'da12_15_1', 'da12_15_2', 'da12_15_3', 'da12_15_4',
       'da12_15_5', 'da12_16', 'da12_17_1', 'da12_17_2', 'da12_17_3',
       'da12_17_4', 'da12_17_5', 'da12_18', 'da12_19_1', 'da12_19_2',
       'da12_19_3', 'da12_19_4', 'da12_19_5', 'da12_20', 'da12_21_1',
       'da12_21_2', 'da12_21_3', 'da12_21_4', 'da12_21_5', 'da12_22',
       'da12_23_1', 'da12_23_2', 'da12_23_3', 'da12_23_4', 'da12_23_5',
       'da12_24', 'da12_25_1', 'da12_25_2', 'da12_25_3', 'da12_25_4',
       'da12_25_5', 'da12_26', 'da12_27_1', 'da12_27_2', 'da12_27_3',
       'da12_27_4', 'da12_27_5', 'da12_28', 'da12_29_1', 'da12_29_2',
       'da12_29_3', 'da12_29_4', 'da12_29_5', 'da12_30', 'da12_31_1',
       'da12_31_2', 'da12_31_3', 'da12_31_4', 'da12_31_5', 'da12_32',
       'da12_33_1', 'da12_33_2', 'da12_33_3', 'da12_33_4', 'da12_33_5',
       'da12_34', 'da12_35_1', 'da12_35_2', 'da12_35_3', 'da12_35_4',
       'da12_35_5', 'da12_36', 'da12_37_1', 'da12_37_2', 'da12_37_3',
       'da12_37_4', 'da12_37_5', 'da12_38', 'da12_39_1', 'da12_39_2',
       'da12_39_3', 'da12_39_4', 'da12_39_5', 'da12_40', 'da12_41_1',
       'da12_41_2', 'da12_41_3', 'da12_41_4', 'da12_41_5', 'da12_42',
       'da12_43_1', 'da12_43_2', 'da12_43_3', 'da12_43_4', 'da12_43_5',
       'da12_44', 'da12_45_1', 'da12_45_2', 'da12_45_3', 'da12_45_4',
       'da12_45_5', 'da12_46', 'da12_47', 'da12_48', 'da12_49', 'da12_50',
       'da12_51', 'da12_52', 'da12_53', 'da12_54', 'da12_55', 'da12_56',
       'da12_57', 'da12_58', 'da12_59', 'da12_60', 'da12_61', 'da12_62',
       'da12_63', 'da12_64', 'da12_65', 'da12_66', 'da12_67', 'da12_68',
       'da12_69', 'da12_70', 'da12_71', 'da12_72', 'da12_73', 'da12_74',
       'da12_75', 'da12_76', 'da12_77', 'da12_78', 'da12_79', 'da12_80',
       'da12_6aq1', 'da12_6aq2', 'da12_6aq3', 'da12_6aq4', 'da12_6aq5',
       'da12_6aq6', 'da12_6aq7', 'da12_6aq8', 'da12_6aq9', 'da12_6aq10',
       'da12_81', 'da12_82', 'da12_83', 'da12_84', 'da12_85', 'da12_86',
       'da12_87', 'da12_88', 'da12_89', 'da12_90', 'da12_91', 'da12_92',
       'da12_93', 'da12_94', 'da12_95', 'da12_96', 'da12_97', 'da12_98',
       'da12_99', 'da12_100', 'da12_101', 'da12_102', 'da12_103', 'da12_104',
       'da12_105', 'da12_106', 'da12_107', 'da12_108', 'da12_109', 'da12_110',
       'da12_6aq11', 'da12_6aq12', 'da12_6aq13', 'da12_9aq1', 'da12_9aq2',
       'da12_9aq3', 'da12_9aq4', 'da12_9aq5', 'da12_9aq6', 'da12_111',
       'da12_112', 'da12_113', 'da12_114', 'da12_115', 'da12_116', 'da12_117',
       'da12_118', 'da12_119', 'da12_120', 'da12_121', 'da12_122', 'da12_123',
       'da12_124', 'da12_125', 'da12_126', 'da12_127', 'da12_128', 'da12_129',
       'da12_130', 'da12_131', 'da12_132', 'da12_133', 'da12_134', 'da12_135',
       'da12_136', 'da12_137', 'da12_138', 'da12_139', 'da12_140', 'da12_141',
       'da12_142', 'da12_143', 'da12_144', 'da12_145', 'da12_146', 'da12_147',
       'da12_148', 'da12_149', 'da12_150', 'da12_151', 'da12_152',
       'da12_12aq1', 'da12_12aq2', 'da12_153', 'da12_154', 'da12_155',
       'da12_156', 'da12_157', 'da12_158', 'da12_159', 'da12_160', 'da12_161',
       'da12_162', 'da12_163', 'da12_164', 'da12_165', 'da12_166', 'da12_167',
       'da12_168', 'da12_169', 'da12_170', 'da12_171', 'da12_172', 'da12_173',
       'da12_174', 'da12_175', 'da12_176', 'da12_177', 'da12_178', 'da12_179',
       'da12_180', 'da12_181', 'da12_182', 'da12_183', 'da12_184', 'da12_185',
       'da12_186', 'da12_187', 'da12_188', 'da12_189', 'da12_190', 'da12_191',
       'da12_192', 'da12_193', 'da12_194', 'da12_195', 'da12_196', 'da12_197',
       'da12_198', 'da12_199', 'da12_200', 'da12_201', 'da12_202', 'da12_203',
       'da12_204', 'da12_205', 'da12_206', 'da12_207', 'da12_208', 'da12_209',
       'da12_12aq3', 'da12_12aq4', 'da12_210', 'da12_211', 'da12_212',
       'da12_213', 'da12_214', 'da12_215', 'da12_216', 'da12_217', 'da12_218',
       'da12_219', 'da12_220', 'da12_221', 'da12_222', 'da12_223', 'da12_224',
       'da12_225', 'da12_226', 'da12_227', 'da12_228', 'da12_229', 'da12_230',
       'da12_231', 'da12_232', 'da12_233', 'da12_234', 'da12_235', 'da12_236',
       'da12_237', 'da12_238', 'da12_239', 'da12_240', 'da12_241', 'da12_242',
       'da12_243', 'da12_244', 'da12_245', 'da12_246', 'da12_247', 'da12_248',
       'da12_249', 'da12_250', 'da12_251', 'da12_252', 'da12_253', 'da12_254',
       'da12_255', 'da12_256', 'da12_257', 'da12_258', 'da12_259', 'da12_260',
       'da12_261', 'da12_262', 'da12_263', 'da12_264', 'da12_265', 'da12_266',
       'da12_267', 'da12_268', 'da12_269', 'da12_270', 'da12_271', 'da12_272',
       'da12_273', 'da12_274', 'da12_275', 'da12_276', 'da12_277', 'da12_278',
       'da12_279', 'da12_280', 'da12_281', 'da12_282', 'da12_283', 'da12_284',
       'da12_285', 'da12_286', 'da12_287', 'da12_288', 'da12_289', 'da12_290',
       'da12_291', 'da12_292', 'da12_293', 'da12_294', 'da12_295', 'da12_296',
       'da12_297', 'da12_298', 'da12_299', 'da12_300', 'da12_301', 'da12_302',
       'da12_303', 'da12_304', 'da12_305', 'da12_306', 'da12_307', 'da12_308',
       'da12_309', 'da12_310', 'da12_311', 'da12_312', 'da12_313', 'da12_314',
       'da12_315', 'da12_316', 'da12_317', 'da12_318', 'da12_319', 'da12_320',
       'da12_321', 'da12_322', 'da12_323', 'da12_324', 'da12_325', 'da12_326',
       'da12_327', 'da12_328', 'da12_6aq14', 'da12_6aq15', 'h12_pers_income1',
       'h12_pers_income2', 'h12_pers_income3', 'h12_pers_income4',
       'h12_pers_income5'],
      dtype='object')

In [14]:
# info 함수를 사용했을 때 생략되는 부분도 모두 보고 싶다면
# verbose 에 1을 설정해준다.
df2.info(verbose=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15422 entries, 0 to 15421
Data columns (total 1191 columns):
 #     Column            Dtype
---    ------            -----
 0     h12_id            int64
 1     h12_ind           int64
 2     h12_sn            int64
 3     h12_merkey        int64
 4     h_new             int64
 5     h12_cobf          float64
 6     p12_wgl           float64
 7     p12_wsl           float64
 8     p12_wgc           float64
 9     p12_wsc           float64
 10    h12_reg5          int64
 11    h12_reg7          int64
 12    h12_cin           float64
 13    h12_din           float64
 14    h12_flag          int64
 15    h12_hc            int64
 16    nh1201_1          float64
 17    nh1201_2          float64
 18    h1201_1           int64
 19    h12_pind          int64
 20    h12_pid           int64
 21    h12_g1            int64
 22    h12_g2            int64
 23    h12_g3            int64
 24    h12_g4            int64
 25    h12_g6            int64
 26    h12_g7            int64
 27    h12_g8            int64
 28    h12_g9            int64
 29    h12_g10           int64
 30    h12_g11           int64
 31    h12_g12           int64
 32    h1201_110         int64
 33    h1201_11aq2       int64
 34    h1201_11aq3       int64
 35    h1201_11aq5       int64
 36    h1201_11aq6       int64
 37    h1201_11aq8       int64
 38    h1201_11aq10      int64
 39    h12_med1          int64
 40    h12_med2          int64
 41    h12_med3          int64
 42    h12_med4          int64
 43    h12_med5          int64
 44    h12_med6          int64
 45    h12_med7          int64
 46    h12_med8          int64
 47    h12_g9_1          int64
 48    h12_med9          int64
 49    h12_med10         int64
 50    h12_eco1          int64
 51    h12_eco2          int64
 52    h12_eco3          float64
 53    h12_eco4          float64
 54    h12_eco4_1        float64
 55    h12_eco5_1        float64
 56    h12_eco6          float64
 57    h12_eco_7_1       float64
 58    h12_eco_7_2       float64
 59    h12_eco_7_3       float64
 60    h12_eco8          float64
 61    h12_eco9          float64
 62    h12_eco10         float64
 63    h12_eco11         float64
 64    h12_soc1          int64
 65    h12_soc_2         int64
 66    h12_soc_3         float64
 67    h12_soc_4         float64
 68    h12_soc_5         float64
 69    h12_soc_6         float64
 70    h12_soc_7         float64
 71    h12_soc_8         float64
 72    h12_soc_9         float64
 73    h12_soc_10        float64
 74    h12_soc_11        float64
 75    h12_soc8          int64
 76    h12_soc9          int64
 77    h12_soc11         int64
 78    h12_soc10         int64
 79    h12_soc_12        int64
 80    h12_soc_13        int64
 81    h1205_1           int64
 82    h1205_3aq1        float64
 83    h1205_2           float64
 84    h1205_3           float64
 85    h1205_4           float64
 86    h1205_5           float64
 87    h1205_6           float64
 88    h1205_7           float64
 89    nh1205_8          float64
 90    nh1205_9          float64
 91    h1205_3aq2        float64
 92    h1206_aq1         float64
 93    h1206_1           int64
 94    h1206_2           int64
 95    h1206_4           int64
 96    h1206_5           int64
 97    h1206_3           int64
 98    h1206_6           float64
 99    h1206_8           float64
 100   h1206_9           float64
 101   h1206_aq2         float64
 102   h1206_aq3         float64
 103   h1206_10          float64
 104   h1206_11          int64
 105   h1206_12          int64
 106   h1206_13          int64
 107   h1206_14          int64
 108   h1206_21          int64
 109   h1206_22          int64
 110   h1206_23          int64
 111   h1206_24          int64
 112   h1206_25          int64
 113   h1206_27          int64
 114   h1206_30          int64
 115   h1206_33          int64
 116   h1206_36          int64
 117   h1206_39          int64
 118   h1206_3aq1        int64
 119   h1207_3aq1        int64
 120   h1207_3aq2        float64
 121   h1207_5aq1        float64
 122   h1207_3aq3        float64
 123   h1207_3aq4        float64
 124   h1207_3aq5        int64
 125   h1207_6aq1        float64
 126   h1207_3aq6        float64
 127   h1207_5aq2        int64
 128   h1207_3aq7        float64
 129   h1207_3aq8        float64
 130   h1207_3aq9        float64
 131   h1207_3aq10       float64
 132   h1207_3aq11       float64
 133   h1207_5aq3        float64
 134   h1207_5aq4        float64
 135   h1207_3aq13       float64
 136   h1207_6aq4        float64
 137   h1207_6aq6        float64
 138   h1207_3aq14       float64
 139   h1207_3aq15       float64
 140   h1207_3aq16       float64
 141   h1207_3aq17       float64
 142   h1207_4           float64
 143   h1207_6aq7        float64
 144   h1207_6aq8        float64
 145   h1207_6aq9        float64
 146   h1207_6aq10       float64
 147   h1207_6aq11       float64
 148   h1207_5           float64
 149   h1207_6aq12       float64
 150   h1207_6aq13       float64
 151   h1207_6aq14       float64
 152   h1207_9           int64
 153   h1209_9           int64
 154   h1209_6aq4        int64
 155   h12_inc1          int64
 156   h12_inc2_1        float64
 157   h12_inc2_2        float64
 158   h12_inc3_1        float64
 159   h12_inc3_2        float64
 160   h12_inc4_1        float64
 161   h12_inc4_2        float64
 162   h12_inc5_1        float64
 163   h12_inc5_2        float64
 164   h12_inc6_1        float64
 165   h12_inc6_2        float64
 166   h12_inc7_1        float64
 167   h12_inc7_2        float64
 168   h1208_106         int64
 169   h1208_107         int64
 170   h1208_108         int64
 171   h1208_109         int64
 172   h1208_110         int64
 173   h1208_111         int64
 174   h12_inc2_3        int64
 175   h12_inc2          float64
 176   h12_inc3_6        int64
 177   h12_inc3          float64
 178   h12_inc4_7        int64
 179   h12_inc4          float64
 180   h12_inc4_8        int64
 181   h12_inc4_9        float64
 182   h1208_155         float64
 183   h1208_156         float64
 184   h1208_157         float64
 185   h1208_158         float64
 186   h1208_160         float64
 187   h1208_159         float64
 188   h1208_3aq3        float64
 189   h1208_161         float64
 190   h1208_162         float64
 191   h1208_163         float64
 192   h1208_164         float64
 193   h1208_166         float64
 194   h1208_165         float64
 195   h1208_3aq4        float64
 196   h1208_167         float64
 197   h1208_168         float64
 198   h1208_169         float64
 199   h1208_170         float64
 200   h12_inc7_3        int64
 201   h12_inc7          int64
 202   h1208_aq9         float64
 203   h1208_aq10        int64
 204   h1208_aq11        int64
 205   h1208_aq12        int64
 206   h1208_aq13        int64
 207   h1208_aq14        int64
 208   h1208_aq15        int64
 209   h1208_6aq1        int64
 210   h1208_aq16        int64
 211   h1208_10aq1       int64
 212   h1208_aq19        int64
 213   h1208_aq20        int64
 214   h1208_aq21        int64
 215   h1208_5aq3        int64
 216   h1208_7aq1        int64
 217   h1208_aq22        int64
 218   h1208_7aq2        int64
 219   h1208_aq23        int64
 220   h1208_aq24        int64
 221   h1208_4aq116      int64
 222   h1208_4aq117      float64
 223   h1208_5aq1        int64
 224   h1208_11aq1       int64
 225   h1208_7aq4        int64
 226   h1208_7aq5        int64
 227   h1208_7aq6        float64
 228   h1208_7aq7        float64
 229   h1208_7aq8        float64
 230   h1208_7aq9        float64
 231   h1208_aq25        float64
 232   h1208_7aq10       float64
 233   h1208_aq26        int64
 234   h1208_aq27        int64
 235   h1208_aq28        int64
 236   h1208_aq29        float64
 237   h1208_3aq5        int64
 238   h1208_4aq118      int64
 239   h1208_aq30        float64
 240   h1208_6aq3        float64
 241   h1208_3aq6        float64
 242   h1208_3aq7        float64
 243   nh1208_3aq1       float64
 244   h1208_aq32        float64
 245   h1208_aq33        float64
 246   h1208_aq34        float64
 247   h1208_11aq2       int64
 248   h1208_11aq3       int64
 249   h1208_11aq4       int64
 250   h1208_11aq5       int64
 251   h1208_11aq6       int64
 252   h1208_11aq7       int64
 253   h1208_11aq8       float64
 254   h1208_11aq9       int64
 255   h1209_aq1         int64
 256   h1209_aq2         int64
 257   h1209_aq3         int64
 258   h1209_aq4         int64
 259   h1209_aq5         int64
 260   h1209_aq6         int64
 261   h1209_aq7         int64
 262   h1209_aq8         float64
 263   h1209_12aq1       float64
 264   h1209_12aq2       float64
 265   h1209_12aq3       float64
 266   h1209_12aq4       float64
 267   h1209_12aq5       float64
 268   h1209_12aq6       float64
 269   h1210_aq1         int64
 270   h1210_aq2         int64
 271   h1210_aq3         int64
 272   h1210_aq4         int64
 273   h1210_aq5         int64
 274   h1210_aq6         int64
 275   h1210_aq7         int64
 276   h1210_aq8         int64
 277   h1210_aq9         int64
 278   h1210_aq10        int64
 279   h1210_aq11        int64
 280   h1210_aq12        int64
 281   h1210_aq13        int64
 282   h1210_aq14        int64
 283   h1210_aq15        int64
 284   h1210_aq16        int64
 285   h1210_aq17        int64
 286   h1210_aq18        int64
 287   h1210_aq19        int64
 288   h1210_aq20        int64
 289   h1210_26          int64
 290   h1210_27          int64
 291   h1210_aq23        int64
 292   h1210_aq24        int64
 293   h1210_aq25        float64
 294   h1210_aq26        float64
 295   h1211_2           int64
 296   h1211_3           int64
 297   h1211_4           int64
 298   h1211_5           int64
 299   h1211_6           int64
 300   h1211_7           int64
 301   h1211_8           int64
 302   h1211_3aq1        int64
 303   h1211_3aq2        int64
 304   h1211_3aq3        int64
 305   h1211_3aq4        int64
 306   h1211_3aq5        float64
 307   h1211_3aq6        int64
 308   h1211_3aq7        int64
 309   h1212_2_11aq1     float64
 310   h1212_2_11aq2     float64
 311   h1212_2_11aq3     float64
 312   h1212_2_11aq4     float64
 313   h1212_2_11aq5     float64
 314   h1212_2_11aq6     float64
 315   h1212_2_11aq7     float64
 316   h1212_2_11aq8     float64
 317   h1212_2_11aq9     float64
 318   h1212_2_11aq10    float64
 319   h1212_2_11aq11    float64
 320   h1212_2_11aq12    float64
 321   h1212_2_11aq13    float64
 322   h1212_2_11aq14    float64
 323   h1212_2_11aq15    float64
 324   h1212_2_11aq16    float64
 325   h1212_2_12aq1     float64
 326   h1212_2_11aq17    float64
 327   h1212_2_12aq2     float64
 328   h1212_2_11aq18    float64
 329   h1212_2_12aq3     float64
 330   h1212_2_11aq19    float64
 331   h1212_2_12aq4     float64
 332   h1212_2_11aq20    float64
 333   h1212_2_12aq5     float64
 334   h1212_2_11aq21    float64
 335   h1212_2_12aq6     float64
 336   h1212_2_11aq23    float64
 337   h1212_2_12aq7     float64
 338   h1212_2_11aq24    float64
 339   h1212_2_12aq8     float64
 340   h1212_2_11aq25    float64
 341   h1212_2_12aq9     float64
 342   h1212_2_11aq26    float64
 343   h1212_2_12aq10    float64
 344   h1212_2_11aq27    float64
 345   h1212_2_12aq11    float64
 346   h1212_2_11aq28    float64
 347   h1212_2_12aq12    float64
 348   h1212_2_11aq30    float64
 349   h1212_2_12aq13    float64
 350   h1212_2_11aq31    float64
 351   h1212_2_12aq14    float64
 352   h1212_2_11aq32    float64
 353   h1212_2_12aq15    float64
 354   h1212_2_11aq33    float64
 355   h1212_2_12aq16    float64
 356   h1212_2_11aq34    float64
 357   h1212_2_12aq17    float64
 358   h1212_2_11aq35    float64
 359   h1212_2_12aq18    float64
 360   h1212_2_11aq37    float64
 361   h1212_2_12aq19    float64
 362   h1212_2_11aq38    float64
 363   h1212_2_12aq20    float64
 364   h1212_2_11aq39    float64
 365   h1212_2_12aq21    float64
 366   h1212_2_11aq40    float64
 367   h1212_2_12aq22    float64
 368   h1212_2_11aq41    float64
 369   h1212_2_12aq23    float64
 370   h1212_2_11aq42    float64
 371   h1212_2_11aq43    float64
 372   h1212_2_11aq44    float64
 373   h1212_2_11aq45    float64
 374   h1212_2_11aq46    float64
 375   h1212_2_11aq47    float64
 376   h1212_2_11aq48    float64
 377   h1212_2_11aq49    float64
 378   h1212_2_11aq50    float64
 379   h1212_2_11aq51    float64
 380   h1212_2_11aq52    float64
 381   h1212_2_11aq53    float64
 382   h1212_2_11aq54    float64
 383   h1212_2_11aq55    float64
 384   h1212_2_11aq56    float64
 385   h1212_2_11aq57    float64
 386   h1212_2_11aq58    float64
 387   h1212_2_11aq59    float64
 388   h1212_1_4aq1      float64
 389   nh1212_1_4aq1     float64
 390   nh1212_1_4aq2     float64
 391   h1212_1_5aq1      int64
 392   h1212_1_5aq2      float64
 393   h1212_1_5aq3      float64
 394   h1212_1_5aq4      float64
 395   h1212_1_5aq5      float64
 396   h1212_1_4aq2      int64
 397   h1213_2           int64
 398   h1213_6           int64
 399   h1213_10          int64
 400   h1213_14          int64
 401   h1213_18          int64
 402   h1213_22          int64
 403   h1213_26          int64
 404   h1213_8aq1        int64
 405   h1213_5aq1        int64
 406   h1213_8aq2        int64
 407   h1213_4aq1        int64
 408   h1213_4aq2        float64
 409   h1213_4aq4        float64
 410   h1213_4aq6        float64
 411   h1213_4aq8        float64
 412   h1213_12aq1       float64
 413   h1213_5aq4        float64
 414   h1213_5aq6        float64
 415   h1213_5aq8        float64
 416   h1213_6aq1        float64
 417   h1213_10aq1       float64
 418   h1213_12aq2       float64
 419   h1213_4aq14       float64
 420   h1213_4aq15       object
 421   h1213_4aq16       int64
 422   h1213_4aq17       float64
 423   h1213_4aq18       float64
 424   h1213_4aq20       float64
 425   h1213_4aq22       float64
 426   h1213_4aq24       float64
 427   h1213_4aq26       float64
 428   h1213_4aq28       float64
 429   h1213_4aq30       float64
 430   h1213_4aq32       float64
 431   h1214_4           float64
 432   h1214_8           float64
 433   h1214_12          float64
 434   h1214_16          float64
 435   h1214_20          float64
 436   h1214_24          float64
 437   h1214_28          float64
 438   h1214_32          float64
 439   h1214_36          float64
 440   h1214_3aq1        float64
 441   h1214_4aq1        float64
 442   h1215_4           float64
 443   h1215_8           float64
 444   h1215_12          float64
 445   h1215_20          float64
 446   h1215_25          float64
 447   h1215_29          float64
 448   h1215_33          float64
 449   h1215_37          float64
 450   h1215_4aq1        float64
 451   h1215_7aq1        float64
 452   h1215_aq1         float64
 453   h1215_40          float64
 454   h1215_41          float64
 455   h1215_42          float64
 456   h1215_43          float64
 457   h1215_44          float64
 458   h1215_45          float64
 459   h1215_46          float64
 460   h1215_47          float64
 461   h1215_48          float64
 462   h1215_49          float64
 463   h1215_50          float64
 464   h1215_51          float64
 465   h1215_52          float64
 466   h1215_53          float64
 467   h1215_54          float64
 468   h1215_55          float64
 469   h1215_56          float64
 470   h1215_57          float64
 471   h1215_60          float64
 472   h1215_aq2         float64
 473   h1215_61          float64
 474   h1215_62          float64
 475   h1215_63          float64
 476   h1215_66          float64
 477   h1215_67          float64
 478   h1215_68          float64
 479   h1215_aq3         float64
 480   h1215_69          float64
 481   h1215_70          float64
 482   h1215_71          float64
 483   h1215_74          float64
 484   h1215_75          float64
 485   h1215_76          float64
 486   h1215_aq4         float64
 487   h1215_77          float64
 488   h1215_78          float64
 489   h1215_79          float64
 490   h1215_82          float64
 491   h1215_83          float64
 492   h1215_84          float64
 493   h1215_aq5         float64
 494   h1215_85          float64
 495   h1215_86          float64
 496   h1215_87          float64
 497   h1215_90          float64
 498   h1215_91          float64
 499   h1215_92          float64
 500   h1215_aq6         float64
 501   h1215_93          float64
 502   h1215_94          float64
 503   h1215_95          float64
 504   h1215_98          float64
 505   h1215_99          float64
 506   h1215_100         float64
 507   h1215_aq7         float64
 508   h1215_101         float64
 509   h1215_102         float64
 510   h1215_103         float64
 511   h1215_106         float64
 512   h1215_107         float64
 513   h1216_6aq1        float64
 514   h1216_6aq4        float64
 515   h1216_8           float64
 516   h1216_24          float64
 517   h1216_4aq1        float64
 518   h1216_4aq4        float64
 519   h1216_32          float64
 520   h1216_36          float64
 521   h1216_40          float64
 522   h1216_4aq7        float64
 523   h1216_56          float64
 524   h1216_60          float64
 525   h1216_64          float64
 526   h1217_1           int64
 527   h1217_2           float64
 528   h1217_3           int64
 529   h1217_4           int64
 530   h1217_5           int64
 531   h1217_6           int64
 532   h1217_7           int64
 533   p12_fnum          float64
 534   p12_tq            float64
 535   p12_cp            float64
 536   p1201_1           float64
 537   p1201_2           float64
 538   p1201_aq1         float64
 539   p1201_3           float64
 540   p1201_4           float64
 541   p1201_5           float64
 542   p1201_6           float64
 543   p1201_10          float64
 544   p1201_11          float64
 545   p1201_12          float64
 546   p1201_13          float64
 547   p1201_14          float64
 548   p1201_7           float64
 549   p1201_8           float64
 550   p1201_9           float64
 551   p1201_15          float64
 552   p1201_16          float64
 553   p1201_17          float64
 554   p1201_18          float64
 555   p1201_19          float64
 556   p1201_20          float64
 557   p1201_21          float64
 558   p1201_22          float64
 559   p1201_23          float64
 560   p1201_24          float64
 561   p1201_25          float64
 562   p1201_27          float64
 563   p1201_28          float64
 564   p1201_29          float64
 565   p1201_30          float64
 566   p1201_31          float64
 567   p1201_32          float64
 568   p1201_33          float64
 569   p1201_34          float64
 570   p1202_1           float64
 571   p1202_2           float64
 572   p1202_3           float64
 573   p1202_4           float64
 574   p1202_5           float64
 575   p1202_6           float64
 576   p1202_7           float64
 577   p1202_8           float64
 578   p1202_8aq1        float64
 579   p1202_9           float64
 580   p1202_8aq2        float64
 581   p1202_4aq1        float64
 582   p1202_10          float64
 583   p1202_11          float64
 584   p1202_12          float64
 585   p1202_8aq3        float64
 586   p1202_8aq4        float64
 587   p1202_31          float64
 588   p1202_4aq2        float64
 589   p1202_4aq3        float64
 590   p1202_4aq4        float64
 591   p1202_8aq5        float64
 592   p1202_8aq6        float64
 593   p1202_8aq7        float64
 594   p1202_8aq8        float64
 595   p1202_8aq9        float64
 596   p1202_8aq10       float64
 597   p1202_8aq11       float64
 598   p1202_8aq12       float64
 599   p1202_8aq13       float64
 600   p1202_8aq14       float64
 601   p1202_12aq1       float64
 602   p1202_8aq15       float64
 603   p1202_aq2         float64
 604   p1202_aq3         float64
 605   p1202_aq4         float64
 606   p1202_aq5         float64
 607   p1203_1           float64
 608   p1203_2           float64
 609   p1203_5           float64
 610   p1203_6           float64
 611   p1203_7           float64

In [16]:
# isna() : 값이 결측치가 아니면 False, 결측치면 True로 구성되어 있는 데이터 프레임을 생성해준다.
# sum() : 각 컬럼별 총합을 구하는 함수. True는 1, False은 0으로 취급한다.
# 아래의 코드는 각 컬럼별 결측치 개수를 확인할 수 있다.
df1.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [17]:
# notna() : 값이 결측치가 아니면 True, 결측치면 False로 구성되어 있는 데이터 프레임을 생성해준다.
# sum() : 각 컬럼별 총합을 구하는 함수. True는 1, False은 0으로 취급한다.
# 아래의 코드는 각 컬럼별 결측치가 아닌 데이터의 개수를 확인할 수 있다.
df1.notna().sum()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

### 데이터의 종류
- 범위형 : 연속성을 가지고 있는 값을 의미한다. 최대나 최소가 있을 수 있다 (나이, 키, 몸무게 등등)
- 범주형 : 값의 종류가 정해져 있고 연속성을 가지고 있지 않는 데이터(성별, 혈액형, 지하철 노선 등등)

In [19]:
# 요약 통계 정보
# describe : 숫자와 숫자가 아닌 컬럼들이 같이 있을 경우 숫자 컬럼들만 모아서 요약 통계 정보를 구해 반환한다.
# 만약 문자열만 있는 데이터 프레임 이라면 그에 맞는 요약 통계 정보를 제공한다.

# count : 결측치를 제외한 데이터의 개수
# mean : 결측치를 제외한 평균
# std : 결측치를 제외한 표준 편차
# min : 결측치를 제외한 최소 수
# 25% : 결측치를 제외한 25% 위치의 수
# 50% : 결측치를 제외한 50% 위치의 수
# 75% : 결측치를 제외한 75% 위치의 수
# max : 결측치를 제외한 최대 수
df1.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [20]:
# 범위형 데이터만 추출하여 요약 통계정보를 확인한다.
df1[['SibSp', 'Parch', 'Fare']].describe()

            SibSp       Parch        Fare
count  891.000000  891.000000  891.000000
mean     0.523008    0.381594   32.204208
std      1.102743    0.806057   49.693429
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    7.910400
50%      0.000000    0.000000   14.454200
75%      1.000000    0.000000   31.000000
max      8.000000    6.000000  512.329200

In [21]:
# 범주형 데이터를 통한 요약 통계 정보 확인
# 만약 숫자 데이터가 저장되어 있는 컬럼이 있다면 문자열 컬럼으로 변환해서 보세요
# count : 결측치를 제외한 데이터의 개수
# unique : 중복을 제외한 데이터의 종류 수
# top : 빈도수가 가장 높은 데이터
# freq : top에 해당하는 데이터가 몇 번이나 나왔는지..
df1[['Survived', 'Pclass', 'Sex']].astype('str').describe()

       Survived Pclass   Sex
count       891    891   891
unique        2      3     2
top           0      3  male
freq        549    491   577

In [22]:
# 범위형 데이터에 대한 요약 통계 정보에서 min과 max만 보고 데이터 명세서에 나와있는
# 정상 범위안에 최소와 최대값이 포함되는지 확인 한다.
a1 = df1[['SibSp', 'Parch', 'Fare']].describe()
a1.loc[['min', 'max']]

     SibSp  Parch      Fare
min    0.0    0.0    0.0000
max    8.0    6.0  512.3292

In [23]:
# 범주형 데이터는 어떤한 값들이 저장되어 있는지 확인하는 것이 중요하다
# 하지만 요약 통계 정보를 통해서는 이를 확인하기가 어렵다.
# 각 컬럼별 중복을 제외한 데이터가 무엇이 있는지 직접 확인해야 한다
a1 = df1['Survived'].value_counts().index
display(a1)

a2 = df1['Survived'].unique()
display(a2)

Index([0, 1], dtype='int64', name='Survived')

array([0, 1])

In [24]:
a1 = df1['Embarked'].value_counts().index
display(a1)

a2 = df1['Embarked'].unique()
display(a2)

Index(['S', 'C', 'Q'], dtype='object', name='Embarked')

array(['S', 'C', 'Q', nan], dtype=object)