In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select

import pandas as pd
import time

In [2]:
# 웹드라이버 실행
driver = webdriver.Chrome()
driver.maximize_window()

In [3]:
# 사이트를 요청한다.
driver.get('https://m.sports.naver.com/kbaseball/schedule/index?category=kbo&date=2008-03-29')

In [4]:
# 한 페이지의 데이터를 가져오는 함수
def get_page_data(page_data, is_post_season) :

    time.sleep(1)

    # 수집한 데이터를 담을 딕셔너리
    d1 = {
        '경기날짜' : [],
        '팀1이름': [],
        '팀2이름': [],
        '팀1점수' : [],
        '팀2점수' : []
    }

    # 현재 연도를 가져온다.
    year_tag = page_data.find_element(by=By.CSS_SELECTOR, value='#content > div > div:nth-child(3) > div > div.CalendarDate_calendar_date_group__bXTAD > div > div.CalendarDate_current_date_wrap__BSh44 > time > span')
                                                                 

    # print(year_tag.text)

    # 경기 결과 목록들을 가지고 있는 root를 가져온다.
    # 만약 포스트 시즌이라면
    if is_post_season == True :
        result_root = page_data.find_element(by=By.XPATH, value='//*[@id="content"]/div/div[4]/div[2]')
    # 포스트 시즌이 아니라면
    else :
        result_root = page_data.find_element(by=By.CSS_SELECTOR, value='#content > div > div:nth-child(5) > div')
    # 바로 하위에 있는 div 태그들을 가져온다.
    result_list = result_root.find_elements(by=By.XPATH, value='./child::div')
    # print(len(result_list))

    # 가져온 경기 결과 수 만큼 반복한다.
    for result_tag in result_list :
        # 현재 경기의 날짜를 가져온다.
        date_tag = result_tag.find_element(by=By.XPATH, value='./child::div/div/em')
        # print(date_tag.text)
        # 띄어 쓰기를 기준으로 잘라낸다.
        date_split = date_tag.text.split()
        # 날짜 문자열을 만들어준다.
        date_str = f'{year_tag.text}-{date_split[0][:-1]}-{date_split[1][:-1]}'
        # print(date_str)

        # 각 날짜별 경기 결과가 담겨져 있는 ul 태그를 가져온다.
        ul_tag = result_tag.find_element(by=By.XPATH, value='./child::ul')
        # print(ul_tag)
        # ul_tag 안에 있는 li 태그 들을 가져온다.
        li_list = ul_tag.find_elements(by=By.XPATH, value='./child::li')
        # print(len(li_list))
        # li 태그의 수 만큼 반복한다.
        for li_tag in li_list :
            # 경기 결과가 담겨져 있는 div 태그 부분을 가져온다.
            date_result_div = li_tag.find_element(by=By.XPATH, value='./child::div/div[2]')
            # print(date_result_div.text)
            # 경기 결과를 나타내는 문자열 값을 가져온다.
            result_str_tag = date_result_div.find_element(by=By.XPATH, value='./child::em')
            # print(result_str_tag.text)
            # 경기 결과를 나타내는 문자열이 '종료' 인  경우에만 수집을 한다.
            if result_str_tag.text.strip() == '종료' :
                # 좌측 팀의 정보가 담긴 div 태그를 가져온다.
                left_team_div = date_result_div.find_element(by=By.XPATH, value='./child::div[1]')
                # print(left_team_div.text)
                # 우측 팀의 정보가 담기 div 태그를 가져온다.
                right_team_div = date_result_div.find_element(by=By.XPATH, value='./child::div[2]')
                # print(right_team_div.text)

                # 좌측팀의 이름을 가져온다.
                left_team_name_tag = left_team_div.find_element(by=By.XPATH, value='./child::div/div[2]/div/strong')
                # print(left_team_name_tag.text)

                # 우측팀의 이름을 가져온다.
                right_team_name_tag = right_team_div.find_element(by=By.XPATH, value='./child::div/div[2]/div/strong')
                # print(right_team_name_tag.text)

                # 좌측팀의 점수를 가져온다.
                left_team_point_tag = left_team_div.find_element(by=By.XPATH, value='./child::div[2]/strong')
                # print(left_team_point_tag.text)

                # 우측팀의 점수를 가져온다.
                right_team_point_tag = right_team_div.find_element(by=By.XPATH, value='./child::div[2]/strong')
                # print(right_team_point_tag.text)

                # 데이터를 담는다.
                d1['경기날짜'].append(date_str)
                d1['팀1이름'].append(left_team_name_tag.text.strip())
                d1['팀2이름'].append(right_team_name_tag.text.strip())
                d1['팀1점수'].append(left_team_point_tag.text.strip())
                d1['팀2점수'].append(right_team_point_tag.text.strip())

    df1 = pd.DataFrame(d1)
    # display(df1)
    return df1

In [5]:
# 현재 년도의 월 데이터를 가져온다.
def get_month_date(page_data) :
    time.sleep(1)
    # 월과 포스트시즌 등이 있는 부분을 가져온다.
    month_div = page_data.find_element(by=By.XPATH, value='//*[@id="content"]/div/div[3]/div/div[2]/div/div/div')
    # print(month_div.text)

    # 내부의 div 태그들을 가져온다.
    month_list = month_div.find_elements(by=By.XPATH, value='./child::div')
    for month_tag in month_list :
        time.sleep(1)
        # print(month_tag.text)
        # 내부의 button를 가져와 눌러준다.
        month_button = month_tag.find_element(by=By.XPATH, value='./child::button')
        month_button = month_tag.find_element(by=By.XPATH, value='./child::button')

        driver.execute_script("arguments[0].scrollIntoView(true);", month_button)
        time.sleep(0.5)
        driver.execute_script("arguments[0].click();", month_button)

        time.sleep(1)


        # 현재가 포스트 시즌이라면..
        if month_button.text.strip() == "포스트시즌" :
            # 포스트시즌 탭 목록을 가져온다
            post_tab_tag = page_data.find_element(by=By.XPATH, value='//*[@id="content"]/div/div[4]/div[1]/div/div')
            # print(post_tab_tag)

            # 이 탭은 탭 버튼을 누를 때마다 탭 버튼을 새롭게 만들고 있다.
            # 이에 탭 누르기 전에 다시 가져와서 누르는 것으로 처리를 하겠다.
            # 내부의 div 태그들을 가져온다.(전체가 몇개인지 확인하기 위해서....)
            post_tab_div_list = post_tab_tag.find_elements(by=By.XPATH, value='./child::div')
            tab_count = len(post_tab_div_list)
            # 가져온 탭의 개수만큼 반복한다.
            for position in range(tab_count) :
                time.sleep(1)
                # 포스트시즌 탭 목록을 가져온다
                post_tab_tag = page_data.find_element(by=By.XPATH, value='//*[@id="content"]/div/div[4]/div[1]/div/div')
                # 탭 버튼 div 태그들을 다시 가져온다.
                post_tab_div_list = post_tab_tag.find_elements(by=By.XPATH, value='./child::div')
                # 현재 번째의 div 태그에서 버튼 태그를 가져온다.
                post_tab_button_tag = post_tab_div_list[position].find_element(by=By.XPATH, value='./child::button')
                # 누른다.
                post_tab_button_tag.click()

                # 데이터를 수집한다.
                df1 = get_page_data(page_data, True)
                display(df1)
        else :
            df1 = get_page_data(page_data, False)
            display(df1)

        
        

get_month_date(driver)

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2008-3-29  KIA   삼성    3    4
1  2008-3-29   LG   SK    4    5
2  2008-3-29   롯데   한화   11    1
3  2008-3-30   롯데   한화    9    8
4  2008-3-30  KIA   삼성    0    3
5  2008-3-30   넥센   두산    1    4
6  2008-3-30   LG   SK    3    1

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2008-4-1   한화   넥센    5    6
1    2008-4-1   두산  KIA    3    0
2    2008-4-1   SK   롯데    4    8
3    2008-4-1   삼성   LG    6    2
4    2008-4-2   한화   넥센    4    5
..        ...  ...  ...  ...  ...
94  2008-4-29   넥센   삼성    5    6
95  2008-4-30  KIA   두산    6    7
96  2008-4-30   LG   롯데    4    3
97  2008-4-30   SK   한화    2    6
98  2008-4-30   넥센   삼성    4    3

[99 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2008-5-1  KIA   두산    1    5
1     2008-5-1   LG   롯데    5    8
2     2008-5-1   SK   한화    6    4
3     2008-5-1   넥센   삼성    2    0
4     2008-5-3   두산   LG   16    4
..         ...  ...  ...  ...  ...
96   2008-5-30   SK   삼성    6    7
97   2008-5-31  KIA   두산    8    3
98   2008-5-31   LG   한화   11    7
99   2008-5-31   롯데   넥센   11    2
100  2008-5-31   SK   삼성    0    3

[101 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2008-6-1   LG   한화    8    2
1    2008-6-1  KIA   두산    6    2
2    2008-6-1   롯데   넥센    8    3
3    2008-6-1   SK   삼성   18    0
4    2008-6-3   한화  KIA    4    1
..        ...  ...  ...  ...  ...
84  2008-6-28   삼성   두산    7    0
85  2008-6-29   한화   SK    1    2
86  2008-6-29  KIA   롯데    4    5
87  2008-6-29   LG   넥센    1    4
88  2008-6-29   삼성   두산    2    1

[89 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2008-7-1   롯데   삼성    3    7
1    2008-7-1   두산   한화    4    6
2    2008-7-1   SK   LG    2    4
3    2008-7-2   두산   한화    8    6
4    2008-7-2   넥센  KIA    4    3
..        ...  ...  ...  ...  ...
82  2008-7-30   롯데   두산    9    3
83  2008-7-31   한화   넥센    4    2
84  2008-7-31   LG  KIA    0    5
85  2008-7-31   롯데   두산    9    6
86  2008-7-31   SK   삼성    4    8

[87 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2008-8-26  KIA   LG    2    4
1   2008-8-26   롯데   한화   11    4
2   2008-8-26   두산   SK    3    4
3   2008-8-26   삼성   넥센    5    2
4   2008-8-27  KIA   LG    0    3
5   2008-8-27   롯데   한화    7    3
6   2008-8-27   두산   SK   12    3
7   2008-8-27   삼성   넥센    4    2
8   2008-8-28  KIA   LG    8    0
9   2008-8-28   롯데   한화   11    4
10  2008-8-28   두산   SK    4    9
11  2008-8-28   삼성   넥센    5    3
12  2008-8-29   두산   LG    6    3
13  2008-8-29   SK   한화    4    2
14  2008-8-29   삼성   롯데    4    7
15  2008-8-29   넥센  KIA    1    3
16  2008-8-30   두산   LG    6    5
17  2008-8-30   SK   한화    2    7
18  2008-8-30   삼성   롯데    2    5
19  2008-8-30   넥센  KIA    1    2
20  2008-8-31   두산   LG    4    7
21  2008-8-31   SK   한화   16    2
22  2008-8-31   삼성   롯데    5    7
23  2008-8-31   넥센  KIA    5    0

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2008-9-2   한화   두산    1    6
1    2008-9-2  KIA   삼성    3    7
2    2008-9-2   LG   롯데    3    8
3    2008-9-2   넥센   SK    2    4
4    2008-9-3   한화   두산    0    1
..        ...  ...  ...  ...  ...
79  2008-9-28   SK   넥센    3    4
80  2008-9-28   삼성   두산   10    9
81  2008-9-30   롯데   SK    2    3
82  2008-9-30   두산   한화    2    7
83  2008-9-30   넥센   LG    1    2

[84 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2008-10-1   LG   두산    7    2
1    2008-10-1   롯데   SK    1    7
2    2008-10-1   삼성   넥센    1    2
3    2008-10-2   두산   넥센   16    3
4    2008-10-2   SK  KIA    2    3
5    2008-10-3   롯데   LG    9    3
6    2008-10-3   두산   넥센    2    8
7    2008-10-3   SK  KIA    5    2
8    2008-10-4   롯데   LG    0    4
9    2008-10-4   두산  KIA    2    8
10   2008-10-4   SK   삼성    3    6
11   2008-10-4   넥센   한화    3    5
12   2008-10-5   넥센   SK    8    4
13   2008-10-8   삼성   롯데   12    3
14   2008-10-9   삼성   롯데    4    3
15  2008-10-11   롯데   삼성    0    0
16  2008-10-16   삼성   두산    4    8
17  2008-10-17   삼성   두산    7    4
18  2008-10-19   두산   삼성    2    6
19  2008-10-20   두산   삼성   12    6
20  2008-10-21   두산   삼성    6    4
21  2008-10-23   삼성   두산    2    5
22  2008-10-26   두산   SK    5    2
23  2008-10-27   두산   SK    2    5
24  2008-10-29   SK   두산    3    2
25  2008-10-30   SK   두산    4    1
26  2008-10-31   SK   두산    2    0

Empty DataFrame
Columns: [경기날짜, 팀1이름, 팀2이름, 팀1점수, 팀2점수]
Index: []

Empty DataFrame
Columns: [경기날짜, 팀1이름, 팀2이름, 팀1점수, 팀2점수]
Index: []

Empty DataFrame
Columns: [경기날짜, 팀1이름, 팀2이름, 팀1점수, 팀2점수]
Index: []

Empty DataFrame
Columns: [경기날짜, 팀1이름, 팀2이름, 팀1점수, 팀2점수]
Index: []

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2008-10-8   삼성   롯데   12    3
1   2008-10-9   삼성   롯데    4    3
2  2008-10-11   롯데   삼성    0    0

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2008-10-16   삼성   두산    4    8
1  2008-10-17   삼성   두산    7    4
2  2008-10-19   두산   삼성    2    6
3  2008-10-20   두산   삼성   12    6
4  2008-10-21   두산   삼성    6    4
5  2008-10-23   삼성   두산    2    5

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2008-10-26   두산   SK    5    2
1  2008-10-27   두산   SK    2    5
2  2008-10-29   SK   두산    3    2
3  2008-10-30   SK   두산    4    1
4  2008-10-31   SK   두산    2    0

In [6]:
# 다음 년도로 이동할 버튼을 누르는 함수
# False를 반환하면 더이상 이동할 곳이 없다고 한다.
def next_button_click(page_data) :
    next_button_tag = page_data.find_element(by=By.XPATH, value='//*[@id="content"]/div/div[3]/div/div[1]/div/div[1]/button[2]')
    # 버튼이 활성화 되어 있으면 누르고 True를 반환한다.
    if next_button_tag.get_attribute('disabled') == None :
        next_button_tag.click()
        return True
    else :
        return False

In [7]:
# 수집한다.
while True :
    # 각 월을 다니면서 데이터를 수집한다.
    df1 = get_month_date(driver)
    display(df1)
    # 다음 년도로 이동한다.
    chk1 = next_button_click(driver)
    # 만약 이동에 실패했다면 while문을 중단한다.
    if chk1 == False :
        break

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2008-3-29  KIA   삼성    3    4
1  2008-3-29   LG   SK    4    5
2  2008-3-29   롯데   한화   11    1
3  2008-3-30   롯데   한화    9    8
4  2008-3-30  KIA   삼성    0    3
5  2008-3-30   넥센   두산    1    4
6  2008-3-30   LG   SK    3    1

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2008-4-1   한화   넥센    5    6
1    2008-4-1   두산  KIA    3    0
2    2008-4-1   SK   롯데    4    8
3    2008-4-1   삼성   LG    6    2
4    2008-4-2   한화   넥센    4    5
..        ...  ...  ...  ...  ...
94  2008-4-29   넥센   삼성    5    6
95  2008-4-30  KIA   두산    6    7
96  2008-4-30   LG   롯데    4    3
97  2008-4-30   SK   한화    2    6
98  2008-4-30   넥센   삼성    4    3

[99 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2008-5-1  KIA   두산    1    5
1     2008-5-1   LG   롯데    5    8
2     2008-5-1   SK   한화    6    4
3     2008-5-1   넥센   삼성    2    0
4     2008-5-3   두산   LG   16    4
..         ...  ...  ...  ...  ...
96   2008-5-30   SK   삼성    6    7
97   2008-5-31  KIA   두산    8    3
98   2008-5-31   LG   한화   11    7
99   2008-5-31   롯데   넥센   11    2
100  2008-5-31   SK   삼성    0    3

[101 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2008-6-1   LG   한화    8    2
1    2008-6-1  KIA   두산    6    2
2    2008-6-1   롯데   넥센    8    3
3    2008-6-1   SK   삼성   18    0
4    2008-6-3   한화  KIA    4    1
..        ...  ...  ...  ...  ...
84  2008-6-28   삼성   두산    7    0
85  2008-6-29   한화   SK    1    2
86  2008-6-29  KIA   롯데    4    5
87  2008-6-29   LG   넥센    1    4
88  2008-6-29   삼성   두산    2    1

[89 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2008-7-1   롯데   삼성    3    7
1    2008-7-1   두산   한화    4    6
2    2008-7-1   SK   LG    2    4
3    2008-7-2   두산   한화    8    6
4    2008-7-2   넥센  KIA    4    3
..        ...  ...  ...  ...  ...
82  2008-7-30   롯데   두산    9    3
83  2008-7-31   한화   넥센    4    2
84  2008-7-31   LG  KIA    0    5
85  2008-7-31   롯데   두산    9    6
86  2008-7-31   SK   삼성    4    8

[87 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2008-8-26  KIA   LG    2    4
1   2008-8-26   롯데   한화   11    4
2   2008-8-26   두산   SK    3    4
3   2008-8-26   삼성   넥센    5    2
4   2008-8-27  KIA   LG    0    3
5   2008-8-27   롯데   한화    7    3
6   2008-8-27   두산   SK   12    3
7   2008-8-27   삼성   넥센    4    2
8   2008-8-28  KIA   LG    8    0
9   2008-8-28   롯데   한화   11    4
10  2008-8-28   두산   SK    4    9
11  2008-8-28   삼성   넥센    5    3
12  2008-8-29   두산   LG    6    3
13  2008-8-29   SK   한화    4    2
14  2008-8-29   삼성   롯데    4    7
15  2008-8-29   넥센  KIA    1    3
16  2008-8-30   두산   LG    6    5
17  2008-8-30   SK   한화    2    7
18  2008-8-30   삼성   롯데    2    5
19  2008-8-30   넥센  KIA    1    2
20  2008-8-31   두산   LG    4    7
21  2008-8-31   SK   한화   16    2
22  2008-8-31   삼성   롯데    5    7
23  2008-8-31   넥센  KIA    5    0

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2008-9-2   한화   두산    1    6
1    2008-9-2  KIA   삼성    3    7
2    2008-9-2   LG   롯데    3    8
3    2008-9-2   넥센   SK    2    4
4    2008-9-3   한화   두산    0    1
..        ...  ...  ...  ...  ...
79  2008-9-28   SK   넥센    3    4
80  2008-9-28   삼성   두산   10    9
81  2008-9-30   롯데   SK    2    3
82  2008-9-30   두산   한화    2    7
83  2008-9-30   넥센   LG    1    2

[84 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2008-10-1   LG   두산    7    2
1    2008-10-1   롯데   SK    1    7
2    2008-10-1   삼성   넥센    1    2
3    2008-10-2   두산   넥센   16    3
4    2008-10-2   SK  KIA    2    3
5    2008-10-3   롯데   LG    9    3
6    2008-10-3   두산   넥센    2    8
7    2008-10-3   SK  KIA    5    2
8    2008-10-4   롯데   LG    0    4
9    2008-10-4   두산  KIA    2    8
10   2008-10-4   SK   삼성    3    6
11   2008-10-4   넥센   한화    3    5
12   2008-10-5   넥센   SK    8    4
13   2008-10-8   삼성   롯데   12    3
14   2008-10-9   삼성   롯데    4    3
15  2008-10-11   롯데   삼성    0    0
16  2008-10-16   삼성   두산    4    8
17  2008-10-17   삼성   두산    7    4
18  2008-10-19   두산   삼성    2    6
19  2008-10-20   두산   삼성   12    6
20  2008-10-21   두산   삼성    6    4
21  2008-10-23   삼성   두산    2    5
22  2008-10-26   두산   SK    5    2
23  2008-10-27   두산   SK    2    5
24  2008-10-29   SK   두산    3    2
25  2008-10-30   SK   두산    4    1
26  2008-10-31   SK   두산    2    0

Empty DataFrame
Columns: [경기날짜, 팀1이름, 팀2이름, 팀1점수, 팀2점수]
Index: []

Empty DataFrame
Columns: [경기날짜, 팀1이름, 팀2이름, 팀1점수, 팀2점수]
Index: []

Empty DataFrame
Columns: [경기날짜, 팀1이름, 팀2이름, 팀1점수, 팀2점수]
Index: []

Empty DataFrame
Columns: [경기날짜, 팀1이름, 팀2이름, 팀1점수, 팀2점수]
Index: []

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2008-10-8   삼성   롯데   12    3
1   2008-10-9   삼성   롯데    4    3
2  2008-10-11   롯데   삼성    0    0

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2008-10-16   삼성   두산    4    8
1  2008-10-17   삼성   두산    7    4
2  2008-10-19   두산   삼성    2    6
3  2008-10-20   두산   삼성   12    6
4  2008-10-21   두산   삼성    6    4
5  2008-10-23   삼성   두산    2    5

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2008-10-26   두산   SK    5    2
1  2008-10-27   두산   SK    2    5
2  2008-10-29   SK   두산    3    2
3  2008-10-30   SK   두산    4    1
4  2008-10-31   SK   두산    2    0

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2009-4-4   한화   SK    8    2
1    2009-4-4  KIA   두산    5    7
2    2009-4-4   LG   삼성    2    6
3    2009-4-4   넥센   롯데    2    3
4    2009-4-5   한화   SK    2    5
..        ...  ...  ...  ...  ...
83  2009-4-29   넥센   삼성    3    2
84  2009-4-30   LG   한화    9   19
85  2009-4-30   롯데  KIA    5   11
86  2009-4-30   SK   두산    8    3
87  2009-4-30   넥센   삼성    8    1

[88 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2009-5-1   한화  KIA    4    4
1     2009-5-1   두산   롯데   11    5
2     2009-5-1   삼성   SK    0    2
3     2009-5-1   넥센   LG    5    9
4     2009-5-2   한화  KIA    5    7
..         ...  ...  ...  ...  ...
101  2009-5-30   SK   삼성    3    8
102  2009-5-31   두산   한화    2    0
103  2009-5-31   SK   삼성    6    5
104  2009-5-31  KIA   LG    7    5
105  2009-5-31   롯데   넥센    3    7

[106 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2009-6-2   한화   LG   11   10
1    2009-6-2   롯데   SK    2    3
2    2009-6-2   두산  KIA    9    3
3    2009-6-2   넥센   삼성    2    9
4    2009-6-3   한화   LG   11   10
..        ...  ...  ...  ...  ...
93  2009-6-28   삼성   두산    6    2
94  2009-6-28   넥센  KIA    1    5
95  2009-6-30   한화   SK    2    4
96  2009-6-30   롯데   LG    5    6
97  2009-6-30   두산   넥센    4    3

[98 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2009-7-1   한화   SK    2   10
1    2009-7-1  KIA   삼성    4    5
2    2009-7-1   롯데   LG    6    4
3    2009-7-1   두산   넥센    7   12
4    2009-7-2   한화   SK    3   11
..        ...  ...  ...  ...  ...
73  2009-7-30   삼성   LG    8    2
74  2009-7-31   LG   넥센    2    3
75  2009-7-31   롯데   한화    7    0
76  2009-7-31   SK   두산    4    6
77  2009-7-31   삼성  KIA    2    5

[78 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2009-8-1   LG   넥센    6    7
1    2009-8-1   롯데   한화    3    8
2    2009-8-1   SK   두산    1    5
3    2009-8-1   삼성  KIA    3    7
4    2009-8-2   LG   넥센    2    3
..        ...  ...  ...  ...  ...
90  2009-8-29   넥센   롯데    3    4
91  2009-8-30  KIA   두산    6    1
92  2009-8-30   LG   한화    2    8
93  2009-8-30   SK   삼성    3    1
94  2009-8-30   넥센   롯데    4    3

[95 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2009-9-1   한화   두산    3    4
1    2009-9-1  KIA   롯데    4    3
2    2009-9-1   SK   넥센    6    3
3    2009-9-2   한화   두산    9   10
4    2009-9-2  KIA   삼성   12    5
..        ...  ...  ...  ...  ...
64  2009-9-25   넥센  KIA    2    5
65  2009-9-26   두산   SK    2    6
66  2009-9-26   넥센   LG    8    9
67  2009-9-29   롯데   두산    7    2
68  2009-9-30   롯데   두산    0    6

[69 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2009-10-2   두산   롯데   12    3
1    2009-10-3   두산   롯데    9    5
2    2009-10-7   두산   SK    3    2
3    2009-10-8   두산   SK    4    1
4   2009-10-10   SK   두산    3    1
5   2009-10-11   SK   두산    8    3
6   2009-10-14   두산   SK    3   14
7   2009-10-16   SK  KIA    3    5
8   2009-10-17   SK  KIA    1    2
9   2009-10-19  KIA   SK    6   11
10  2009-10-20  KIA   SK    3    4
11  2009-10-22   SK  KIA    0    3
12  2009-10-23  KIA   SK    2    3
13  2009-10-24   SK  KIA    5    6

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2009-10-2   두산   롯데   12    3
1    2009-10-3   두산   롯데    9    5
2    2009-10-7   두산   SK    3    2
3    2009-10-8   두산   SK    4    1
4   2009-10-10   SK   두산    3    1
5   2009-10-11   SK   두산    8    3
6   2009-10-14   두산   SK    3   14
7   2009-10-16   SK  KIA    3    5
8   2009-10-17   SK  KIA    1    2
9   2009-10-19  KIA   SK    6   11
10  2009-10-20  KIA   SK    3    4
11  2009-10-22   SK  KIA    0    3
12  2009-10-23  KIA   SK    2    3
13  2009-10-24   SK  KIA    5    6

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2009-10-2   두산   롯데   12    3
1    2009-10-3   두산   롯데    9    5
2    2009-10-7   두산   SK    3    2
3    2009-10-8   두산   SK    4    1
4   2009-10-10   SK   두산    3    1
5   2009-10-11   SK   두산    8    3
6   2009-10-14   두산   SK    3   14
7   2009-10-16   SK  KIA    3    5
8   2009-10-17   SK  KIA    1    2
9   2009-10-19  KIA   SK    6   11
10  2009-10-20  KIA   SK    3    4
11  2009-10-22   SK  KIA    0    3
12  2009-10-23  KIA   SK    2    3
13  2009-10-24   SK  KIA    5    6

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2009-10-2   두산   롯데   12    3
1    2009-10-3   두산   롯데    9    5
2    2009-10-7   두산   SK    3    2
3    2009-10-8   두산   SK    4    1
4   2009-10-10   SK   두산    3    1
5   2009-10-11   SK   두산    8    3
6   2009-10-14   두산   SK    3   14
7   2009-10-16   SK  KIA    3    5
8   2009-10-17   SK  KIA    1    2
9   2009-10-19  KIA   SK    6   11
10  2009-10-20  KIA   SK    3    4
11  2009-10-22   SK  KIA    0    3
12  2009-10-23  KIA   SK    2    3
13  2009-10-24   SK  KIA    5    6

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2009-10-2   두산   롯데   12    3
1    2009-10-3   두산   롯데    9    5
2    2009-10-7   두산   SK    3    2
3    2009-10-8   두산   SK    4    1
4   2009-10-10   SK   두산    3    1
5   2009-10-11   SK   두산    8    3
6   2009-10-14   두산   SK    3   14
7   2009-10-16   SK  KIA    3    5
8   2009-10-17   SK  KIA    1    2
9   2009-10-19  KIA   SK    6   11
10  2009-10-20  KIA   SK    3    4
11  2009-10-22   SK  KIA    0    3
12  2009-10-23  KIA   SK    2    3
13  2009-10-24   SK  KIA    5    6

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2009-9-29   롯데   두산    7    2
1  2009-9-30   롯데   두산    0    6
2  2009-10-2   두산   롯데   12    3
3  2009-10-3   두산   롯데    9    5

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2009-10-7   두산   SK    3    2
1   2009-10-8   두산   SK    4    1
2  2009-10-10   SK   두산    3    1
3  2009-10-11   SK   두산    8    3
4  2009-10-14   두산   SK    3   14

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2009-10-16   SK  KIA    3    5
1  2009-10-17   SK  KIA    1    2
2  2009-10-19  KIA   SK    6   11
3  2009-10-20  KIA   SK    3    4
4  2009-10-22   SK  KIA    0    3
5  2009-10-23  KIA   SK    2    3
6  2009-10-24   SK  KIA    5    6

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2010-3-27   한화   SK    2    3
1   2010-3-27  KIA   두산    3    8
2   2010-3-27   LG   삼성    7    5
3   2010-3-27   넥센   롯데    3    2
4   2010-3-28   한화   SK    3    6
5   2010-3-28   LG   삼성    4    9
6   2010-3-28   넥센   롯데   11    3
7   2010-3-28  KIA   두산    9   10
8   2010-3-30   롯데   한화    3   13
9   2010-3-30   두산   넥센    7    2
10  2010-3-30   SK   LG    3    0
11  2010-3-30   삼성  KIA    6    1
12  2010-3-31   삼성  KIA    2    4

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2010-4-2   롯데  KIA    2    3
1    2010-4-2   두산   SK   10    3
2    2010-4-2   삼성   한화    8    1
3    2010-4-2   넥센   LG   14    5
4    2010-4-3   롯데  KIA    2    4
..        ...  ...  ...  ...  ...
87  2010-4-29   넥센   롯데    2    5
88  2010-4-30  KIA   롯데    8    4
89  2010-4-30   LG   SK    4    5
90  2010-4-30   삼성   한화   10    4
91  2010-4-30   넥센   두산    5   12

[92 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2010-5-1  KIA   롯데   15    7
1    2010-5-1   LG   SK    3   21
2    2010-5-1   삼성   한화    8    5
3    2010-5-1   넥센   두산   11    3
4    2010-5-2  KIA   롯데    4    5
..        ...  ...  ...  ...  ...
90  2010-5-29   삼성   두산   12    8
91  2010-5-30   한화  KIA    2    6
92  2010-5-30   LG   넥센    1    0
93  2010-5-30   롯데   SK    4   11
94  2010-5-30   삼성   두산    7    0

[95 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2010-6-1   한화   SK    3    0
1    2010-6-1  KIA   삼성    2    4
2    2010-6-1   LG   롯데    6    5
3    2010-6-1   넥센   두산    1    7
4    2010-6-2   한화   SK    1    2
..        ...  ...  ...  ...  ...
95  2010-6-29   넥센   LG    4    8
96  2010-6-30   롯데   삼성    3    4
97  2010-6-30   두산   한화    1    0
98  2010-6-30   SK  KIA   10    5
99  2010-6-30   넥센   LG    7    3

[100 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2010-7-1   롯데   삼성    6    7
1    2010-7-1   두산   한화    4    3
2    2010-7-1   SK  KIA    8    2
3    2010-7-1   넥센   LG   12    5
4    2010-7-3   한화   넥센    7    2
..        ...  ...  ...  ...  ...
77  2010-7-30   넥센   삼성    1    3
78  2010-7-31   한화   두산    6    3
79  2010-7-31  KIA   SK    4    1
80  2010-7-31   LG   롯데    8   10
81  2010-7-31   넥센   삼성    3    9

[82 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2010-8-1   한화   두산    2    3
1    2010-8-1  KIA   SK    7    0
2    2010-8-1   LG   롯데    3    5
3    2010-8-1   넥센   삼성    6    3
4    2010-8-3   한화   넥센    6    2
..        ...  ...  ...  ...  ...
83  2010-8-29   두산   한화    9    3
84  2010-8-29   SK   롯데    8    5
85  2010-8-29   넥센  KIA    3    2
86  2010-8-31  KIA   삼성    7    5
87  2010-8-31   넥센   LG    5    6

[88 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2010-9-1   LG   롯데    8    7
1    2010-9-1   SK   두산    3    0
2    2010-9-1   삼성   넥센    4    5
3    2010-9-2   롯데  KIA    6    1
4    2010-9-2   삼성   한화    8    2
..        ...  ...  ...  ...  ...
60  2010-9-26  KIA   한화    3   11
61  2010-9-26   삼성   LG    6    1
62  2010-9-26   넥센   SK    4    5
63  2010-9-29   롯데   두산   10    5
64  2010-9-30   롯데   두산    4    1

[65 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2010-10-2   두산   롯데    6    5
1    2010-10-3   두산   롯데   11    4
2    2010-10-5   롯데   두산    4   11
3    2010-10-7   두산   삼성    5    6
4    2010-10-8   두산   삼성    4    3
5   2010-10-10   삼성   두산    8    9
6   2010-10-11   삼성   두산    8    7
7   2010-10-13   두산   삼성    5    6
8   2010-10-15   삼성   SK    5    9
9   2010-10-16   삼성   SK    1    4
10  2010-10-18   SK   삼성    4    2
11  2010-10-19   SK   삼성    4    2

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2010-10-2   두산   롯데    6    5
1    2010-10-3   두산   롯데   11    4
2    2010-10-5   롯데   두산    4   11
3    2010-10-7   두산   삼성    5    6
4    2010-10-8   두산   삼성    4    3
5   2010-10-10   삼성   두산    8    9
6   2010-10-11   삼성   두산    8    7
7   2010-10-13   두산   삼성    5    6
8   2010-10-15   삼성   SK    5    9
9   2010-10-16   삼성   SK    1    4
10  2010-10-18   SK   삼성    4    2
11  2010-10-19   SK   삼성    4    2

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2010-10-2   두산   롯데    6    5
1    2010-10-3   두산   롯데   11    4
2    2010-10-5   롯데   두산    4   11
3    2010-10-7   두산   삼성    5    6
4    2010-10-8   두산   삼성    4    3
5   2010-10-10   삼성   두산    8    9
6   2010-10-11   삼성   두산    8    7
7   2010-10-13   두산   삼성    5    6
8   2010-10-15   삼성   SK    5    9
9   2010-10-16   삼성   SK    1    4
10  2010-10-18   SK   삼성    4    2
11  2010-10-19   SK   삼성    4    2

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2010-10-2   두산   롯데    6    5
1    2010-10-3   두산   롯데   11    4
2    2010-10-5   롯데   두산    4   11
3    2010-10-7   두산   삼성    5    6
4    2010-10-8   두산   삼성    4    3
5   2010-10-10   삼성   두산    8    9
6   2010-10-11   삼성   두산    8    7
7   2010-10-13   두산   삼성    5    6
8   2010-10-15   삼성   SK    5    9
9   2010-10-16   삼성   SK    1    4
10  2010-10-18   SK   삼성    4    2
11  2010-10-19   SK   삼성    4    2

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2010-10-2   두산   롯데    6    5
1    2010-10-3   두산   롯데   11    4
2    2010-10-5   롯데   두산    4   11
3    2010-10-7   두산   삼성    5    6
4    2010-10-8   두산   삼성    4    3
5   2010-10-10   삼성   두산    8    9
6   2010-10-11   삼성   두산    8    7
7   2010-10-13   두산   삼성    5    6
8   2010-10-15   삼성   SK    5    9
9   2010-10-16   삼성   SK    1    4
10  2010-10-18   SK   삼성    4    2
11  2010-10-19   SK   삼성    4    2

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2010-9-29   롯데   두산   10    5
1  2010-9-30   롯데   두산    4    1
2  2010-10-2   두산   롯데    6    5
3  2010-10-3   두산   롯데   11    4
4  2010-10-5   롯데   두산    4   11

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2010-10-7   두산   삼성    5    6
1   2010-10-8   두산   삼성    4    3
2  2010-10-10   삼성   두산    8    9
3  2010-10-11   삼성   두산    8    7
4  2010-10-13   두산   삼성    5    6

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2010-10-15   삼성   SK    5    9
1  2010-10-16   삼성   SK    1    4
2  2010-10-18   SK   삼성    4    2
3  2010-10-19   SK   삼성    4    2

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2011-3-12  KIA   넥센    0    0
1   2011-3-12   LG   한화    0    0
2   2011-3-12   두산   삼성    0    0
3   2011-3-12   SK   롯데    0    0
4   2011-3-13   두산   삼성    0    0
5   2011-3-13  KIA   넥센    0    0
6   2011-3-13   LG   한화    0    0
7   2011-3-13   SK   롯데    0    0
8   2011-3-15  KIA   LG    0    0
9   2011-3-15   두산   롯데    0    0
10  2011-3-15   SK   한화    0    0
11  2011-3-15   넥센   삼성    0    0
12  2011-3-16  KIA   LG    0    0
13  2011-3-16   두산   롯데    0    0
14  2011-3-16   SK   한화    0    0
15  2011-3-16   넥센   삼성    0    0
16  2011-3-17   한화   두산    0    0
17  2011-3-17  KIA   SK    0    0
18  2011-3-17   LG   삼성    0    0
19  2011-3-17   넥센   롯데    0    0
20  2011-3-18   한화   두산    0    0
21  2011-3-18  KIA   SK    0    0
22  2011-3-18   LG   삼성    0    0
23  2011-3-18   넥센   롯데    0    0
24  2011-3-19  KIA   삼성    0    0
25  2011-3-19   LG   넥센    0    0
26  2011-3-19   롯데   한화    0    0
27  2011-3-19   SK   두산    0    0
28  2011-3-22  KIA   롯데    0    0
29  2011-3-22   LG   SK    0    0
30  2011-3-22   삼성   한화    0    0
31  2011-3-22   넥센   두산    0    0
32  2011-3-23  KIA   롯데    0    0
33  2011-3-23   LG   SK    0    0
34  2011-3-23   삼성   한화    0    0
35  2011-3-23   넥센   두산    0    0
36  2011-3-24   한화   넥센    0    0
37  2011-3-24   롯데   LG    0    0
38  2011-3-24   두산  KIA    0    0
39  2011-3-24   삼성   SK    0    0
40  2011-3-25   롯데   LG    0    0
41  2011-3-26   한화  KIA    0    0
42  2011-3-26   롯데   삼성    0    0
43  2011-3-26   두산   LG    0    0
44  2011-3-26   넥센   SK    0    0
45  2011-3-27   한화  KIA    0    0
46  2011-3-27   롯데   삼성    0    0
47  2011-3-27   두산   LG    0    0
48  2011-3-27   넥센   SK    0    0

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2011-4-2   한화   롯데    0    6
1    2011-4-2   LG   두산    0    4
2    2011-4-2   삼성  KIA    6    2
3    2011-4-2   넥센   SK    0    2
4    2011-4-3   한화   롯데    3    1
..        ...  ...  ...  ...  ...
85  2011-4-29   롯데  KIA    6    5
86  2011-4-29   두산   SK    4    3
87  2011-4-29   넥센   LG    7    8
88  2011-4-30   한화   삼성    1    5
89  2011-4-30   롯데  KIA    1    4

[90 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2011-5-1   한화   삼성    3    1
1    2011-5-1   롯데  KIA    7    2
2    2011-5-1   두산   SK    1    3
3    2011-5-1   넥센   LG   10    9
4    2011-5-3  KIA   넥센    4    7
..        ...  ...  ...  ...  ...
92  2011-5-29   LG   넥센    4    8
93  2011-5-31  KIA   LG    1    4
94  2011-5-31   두산   SK    5    1
95  2011-5-31   삼성   한화    3    2
96  2011-5-31   넥센   롯데    7    8

[97 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2011-6-1  KIA   LG    6    1
1    2011-6-1   두산   SK    2    1
2    2011-6-1   삼성   한화    5    6
3    2011-6-1   넥센   롯데    2    5
4    2011-6-2  KIA   LG    8    0
..        ...  ...  ...  ...  ...
79  2011-6-28   두산   넥센    6    5
80  2011-6-28   삼성   LG    4    3
81  2011-6-29  KIA   롯데    7    2
82  2011-6-30   한화   SK    9    6
83  2011-6-30  KIA   롯데    0    4

[84 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2011-7-1   한화  KIA    4   12
1    2011-7-1   롯데   삼성    4    5
2    2011-7-1   두산   LG    6    0
3    2011-7-1   SK   넥센    5    6
4    2011-7-2   한화  KIA   11    7
..        ...  ...  ...  ...  ...
64  2011-7-30   삼성   LG    5   10
65  2011-7-30   넥센  KIA    0    2
66  2011-7-31   두산   롯데    7    8
67  2011-7-31   SK   한화    5    2
68  2011-7-31   넥센  KIA    9    4

[69 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2011-8-2  KIA   두산    8    3
1    2011-8-2   LG   SK    5    4
2    2011-8-2   롯데   한화    9    3
3    2011-8-2   넥센   삼성    3    5
4    2011-8-3  KIA   두산    4    5
..        ...  ...  ...  ...  ...
86  2011-8-30   삼성   롯데   13    3
87  2011-8-30   넥센  KIA    8    7
88  2011-8-31   LG   SK    3    0
89  2011-8-31   삼성   롯데    2    8
90  2011-8-31   넥센   두산    4    2

[91 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2011-9-1  KIA   롯데    1    2
1    2011-9-1   LG   SK    6    7
2    2011-9-1   넥센   두산    3    6
3    2011-9-2   롯데   LG    6    2
4    2011-9-2   넥센   한화    0    1
..        ...  ...  ...  ...  ...
79  2011-9-29   LG   넥센    0    5
80  2011-9-29   삼성   SK    3    3
81  2011-9-30   한화   넥센    0    3
82  2011-9-30   두산   롯데    3    6
83  2011-9-30   삼성   SK    0    2

[84 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2011-10-1   한화   넥센   11    9
1    2011-10-1   LG   두산    1    9
2    2011-10-1   삼성   SK    6    4
3    2011-10-2   한화   넥센    6    4
4    2011-10-2   LG   두산    1   11
5    2011-10-3   LG   두산    4    7
6    2011-10-3   SK   삼성    4    3
7    2011-10-4   한화   롯데    2   20
8    2011-10-4   SK  KIA    0    4
9    2011-10-4   삼성   LG    2    7
10   2011-10-5   한화   롯데    3    6
11   2011-10-5   두산   넥센    8    2
12   2011-10-5   SK  KIA    3    0
13   2011-10-5   삼성   LG    2    2
14   2011-10-6   한화   롯데    3    5
15   2011-10-6   두산   넥센    4    0
16   2011-10-6   SK  KIA    6    5
17   2011-10-6   삼성   LG    8    3
18   2011-10-8  KIA   SK    5    1
19   2011-10-9  KIA   SK    2    3
20  2011-10-11   SK  KIA    0    0
21  2011-10-12   SK  KIA    8    0
22  2011-10-16   SK   롯데    7    6
23  2011-10-17   SK   롯데    1    4
24  2011-10-19   롯데   SK    0    3
25  2011-10-20   롯데   SK    2    0
26  2011-10-23   SK   롯데    8    4
27  2011-10-25   SK   삼성    0    2
28  2011-10-26   SK   삼성    1    2
29  2011-10-28   삼성   SK    1    2
30  2011-10-29   삼성   SK    8    4
31  2011-10-31   SK   삼성    0    1

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2011-10-1   한화   넥센   11    9
1    2011-10-1   LG   두산    1    9
2    2011-10-1   삼성   SK    6    4
3    2011-10-2   한화   넥센    6    4
4    2011-10-2   LG   두산    1   11
5    2011-10-3   LG   두산    4    7
6    2011-10-3   SK   삼성    4    3
7    2011-10-4   한화   롯데    2   20
8    2011-10-4   SK  KIA    0    4
9    2011-10-4   삼성   LG    2    7
10   2011-10-5   한화   롯데    3    6
11   2011-10-5   두산   넥센    8    2
12   2011-10-5   SK  KIA    3    0
13   2011-10-5   삼성   LG    2    2
14   2011-10-6   한화   롯데    3    5
15   2011-10-6   두산   넥센    4    0
16   2011-10-6   SK  KIA    6    5
17   2011-10-6   삼성   LG    8    3
18   2011-10-8  KIA   SK    5    1
19   2011-10-9  KIA   SK    2    3
20  2011-10-11   SK  KIA    0    0
21  2011-10-12   SK  KIA    8    0
22  2011-10-16   SK   롯데    7    6
23  2011-10-17   SK   롯데    1    4
24  2011-10-19   롯데   SK    0    3
25  2011-10-20   롯데   SK    2    0
26  2011-10-23   SK   롯데    8    4
27  2011-10-25   SK   삼성    0    2
28  2011-10-26   SK   삼성    1    2
29  2011-10-28   삼성   SK    1    2
30  2011-10-29   삼성   SK    8    4
31  2011-10-31   SK   삼성    0    1

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2011-10-1   한화   넥센   11    9
1    2011-10-1   LG   두산    1    9
2    2011-10-1   삼성   SK    6    4
3    2011-10-2   한화   넥센    6    4
4    2011-10-2   LG   두산    1   11
5    2011-10-3   LG   두산    4    7
6    2011-10-3   SK   삼성    4    3
7    2011-10-4   한화   롯데    2   20
8    2011-10-4   SK  KIA    0    4
9    2011-10-4   삼성   LG    2    7
10   2011-10-5   한화   롯데    3    6
11   2011-10-5   두산   넥센    8    2
12   2011-10-5   SK  KIA    3    0
13   2011-10-5   삼성   LG    2    2
14   2011-10-6   한화   롯데    3    5
15   2011-10-6   두산   넥센    4    0
16   2011-10-6   SK  KIA    6    5
17   2011-10-6   삼성   LG    8    3
18   2011-10-8  KIA   SK    5    1
19   2011-10-9  KIA   SK    2    3
20  2011-10-11   SK  KIA    0    0
21  2011-10-12   SK  KIA    8    0
22  2011-10-16   SK   롯데    7    6
23  2011-10-17   SK   롯데    1    4
24  2011-10-19   롯데   SK    0    3
25  2011-10-20   롯데   SK    2    0
26  2011-10-23   SK   롯데    8    4
27  2011-10-25   SK   삼성    0    2
28  2011-10-26   SK   삼성    1    2
29  2011-10-28   삼성   SK    1    2
30  2011-10-29   삼성   SK    8    4
31  2011-10-31   SK   삼성    0    1

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2011-10-1   한화   넥센   11    9
1    2011-10-1   LG   두산    1    9
2    2011-10-1   삼성   SK    6    4
3    2011-10-2   한화   넥센    6    4
4    2011-10-2   LG   두산    1   11
5    2011-10-3   LG   두산    4    7
6    2011-10-3   SK   삼성    4    3
7    2011-10-4   한화   롯데    2   20
8    2011-10-4   SK  KIA    0    4
9    2011-10-4   삼성   LG    2    7
10   2011-10-5   한화   롯데    3    6
11   2011-10-5   두산   넥센    8    2
12   2011-10-5   SK  KIA    3    0
13   2011-10-5   삼성   LG    2    2
14   2011-10-6   한화   롯데    3    5
15   2011-10-6   두산   넥센    4    0
16   2011-10-6   SK  KIA    6    5
17   2011-10-6   삼성   LG    8    3
18   2011-10-8  KIA   SK    5    1
19   2011-10-9  KIA   SK    2    3
20  2011-10-11   SK  KIA    0    0
21  2011-10-12   SK  KIA    8    0
22  2011-10-16   SK   롯데    7    6
23  2011-10-17   SK   롯데    1    4
24  2011-10-19   롯데   SK    0    3
25  2011-10-20   롯데   SK    2    0
26  2011-10-23   SK   롯데    8    4
27  2011-10-25   SK   삼성    0    2
28  2011-10-26   SK   삼성    1    2
29  2011-10-28   삼성   SK    1    2
30  2011-10-29   삼성   SK    8    4
31  2011-10-31   SK   삼성    0    1

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2011-10-1   한화   넥센   11    9
1    2011-10-1   LG   두산    1    9
2    2011-10-1   삼성   SK    6    4
3    2011-10-2   한화   넥센    6    4
4    2011-10-2   LG   두산    1   11
5    2011-10-3   LG   두산    4    7
6    2011-10-3   SK   삼성    4    3
7    2011-10-4   한화   롯데    2   20
8    2011-10-4   SK  KIA    0    4
9    2011-10-4   삼성   LG    2    7
10   2011-10-5   한화   롯데    3    6
11   2011-10-5   두산   넥센    8    2
12   2011-10-5   SK  KIA    3    0
13   2011-10-5   삼성   LG    2    2
14   2011-10-6   한화   롯데    3    5
15   2011-10-6   두산   넥센    4    0
16   2011-10-6   SK  KIA    6    5
17   2011-10-6   삼성   LG    8    3
18   2011-10-8  KIA   SK    5    1
19   2011-10-9  KIA   SK    2    3
20  2011-10-11   SK  KIA    0    0
21  2011-10-12   SK  KIA    8    0
22  2011-10-16   SK   롯데    7    6
23  2011-10-17   SK   롯데    1    4
24  2011-10-19   롯데   SK    0    3
25  2011-10-20   롯데   SK    2    0
26  2011-10-23   SK   롯데    8    4
27  2011-10-25   SK   삼성    0    2
28  2011-10-26   SK   삼성    1    2
29  2011-10-28   삼성   SK    1    2
30  2011-10-29   삼성   SK    8    4
31  2011-10-31   SK   삼성    0    1

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2011-10-8  KIA   SK    5    1
1   2011-10-9  KIA   SK    2    3
2  2011-10-11   SK  KIA    0    0
3  2011-10-12   SK  KIA    8    0

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2011-10-16   SK   롯데    7    6
1  2011-10-17   SK   롯데    1    4
2  2011-10-19   롯데   SK    0    3
3  2011-10-20   롯데   SK    2    0
4  2011-10-23   SK   롯데    8    4

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2011-10-25   SK   삼성    0    2
1  2011-10-26   SK   삼성    1    2
2  2011-10-28   삼성   SK    1    2
3  2011-10-29   삼성   SK    8    4
4  2011-10-31   SK   삼성    0    1

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2012-4-7   한화   롯데    1    4
1    2012-4-7  KIA   SK    2    6
2    2012-4-7   LG   삼성    6    3
3    2012-4-7   넥센   두산    6    2
4    2012-4-8   한화   롯데    5   10
..        ...  ...  ...  ...  ...
60  2012-4-28   넥센   한화    7    5
61  2012-4-29  KIA   두산    3    4
62  2012-4-29   LG   롯데    0    5
63  2012-4-29   삼성   SK    9    4
64  2012-4-29   넥센   한화    3    6

[65 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2012-5-1   한화   LG    2    4
1     2012-5-1   롯데   넥센   11    1
2     2012-5-2   한화   LG    2    6
3     2012-5-2   롯데   넥센    4    6
4     2012-5-2   두산   삼성    5    3
..         ...  ...  ...  ...  ...
100  2012-5-30   삼성   한화    3    0
101  2012-5-31  KIA   두산    4    2
102  2012-5-31   LG   롯데    3    1
103  2012-5-31   SK   넥센    5    9
104  2012-5-31   삼성   한화    3    2

[105 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2012-6-1   한화   LG    9    2
1    2012-6-1  KIA   SK    0    1
2    2012-6-1   두산   삼성    2    1
3    2012-6-1   넥센   롯데    3    7
4    2012-6-2   한화   LG    5    8
..        ...  ...  ...  ...  ...
93  2012-6-29  KIA   한화   11    2
94  2012-6-29   롯데   두산    1    6
95  2012-6-29   넥센   삼성    1    5
96  2012-6-30   LG   SK    8    1
97  2012-6-30   롯데   두산    1    5

[98 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2012-7-1  KIA   한화    2    1
1    2012-7-1   LG   SK    5    2
2    2012-7-1   롯데   두산    2    7
3    2012-7-1   넥센   삼성    1    3
4    2012-7-3   한화   넥센    2    4
..        ...  ...  ...  ...  ...
68  2012-7-29   삼성   넥센    4    3
69  2012-7-31   한화   LG    3    5
70  2012-7-31  KIA   롯데    4    5
71  2012-7-31   두산   삼성    2    1
72  2012-7-31   넥센   SK    7    5

[73 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2012-8-1   한화   LG    5    2
1    2012-8-1  KIA   롯데   13    4
2    2012-8-1   두산   삼성    9    1
3    2012-8-1   넥센   SK    4   11
4    2012-8-2   한화   LG    5    0
..        ...  ...  ...  ...  ...
81  2012-8-29   삼성  KIA    4    0
82  2012-8-29   넥센   한화    6    7
83  2012-8-31   한화  KIA    3    0
84  2012-8-31   LG   롯데    0    0
85  2012-8-31   넥센   삼성    5    3

[86 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2012-9-1   한화  KIA    3    2
1    2012-9-1   LG   롯데    7    3
2    2012-9-1   두산   SK    4    4
3    2012-9-1   넥센   삼성    5   10
4    2012-9-2  KIA   한화   13    2
..        ...  ...  ...  ...  ...
82  2012-9-29   SK  KIA    8    1
83  2012-9-29   넥센   한화    4    1
84  2012-9-30   롯데  KIA    0    1
85  2012-9-30   두산   LG    6    5
86  2012-9-30   삼성   넥센    9    5

[87 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2012-10-1   롯데  KIA    0   10
1    2012-10-1   두산   넥센    0    5
2    2012-10-1   SK   한화    4    1
3    2012-10-1   삼성   LG    9    3
4    2012-10-2   롯데  KIA   10    2
5    2012-10-2   두산   넥센    3    1
6    2012-10-2   SK   한화    4    5
7    2012-10-2   삼성   LG    2    0
8    2012-10-3  KIA   한화    5    4
9    2012-10-3   두산   삼성    1    3
10   2012-10-3   SK   LG    2    3
11   2012-10-4   SK   삼성    2    4
12   2012-10-4   넥센   한화    1    1
13   2012-10-5   롯데   SK    8    3
14   2012-10-5   삼성  KIA    0    5
15   2012-10-5   넥센   두산    2    4
16   2012-10-6   LG   두산    1    0
17   2012-10-6   롯데   SK    1    6
18   2012-10-6   삼성  KIA    4    3
19   2012-10-8   롯데   두산    8    5
20   2012-10-9   롯데   두산    2    1
21  2012-10-11   두산   롯데    0    0
22  2012-10-12   두산   롯데    3    4
23  2012-10-16   롯데   SK    1    2
24  2012-10-17   롯데   SK    5    4
25  2012-10-19   SK   롯데    1    4
26  2012-10-20   SK   롯데    2    1
27  2012-10-22   롯데   SK    3    6
28  2012-10-24   SK   삼성    1    3
29  2012-10-25   SK   삼성    3    8
30  2012-10-28   삼성   SK    8   12
31  2012-10-29   삼성   SK    1    4
32  2012-10-31   SK   삼성    1    2

         경기날짜  팀1이름  팀2이름 팀1점수 팀2점수
0   2012-11-1    삼성    SK    7    0
1   2012-11-8   라미고   차이나   14    1
2   2012-11-8    롯데    퍼스    6    1
3   2012-11-9    퍼스  요미우리    1    7
4   2012-11-9    삼성   라미고    0    3
5  2012-11-10  요미우리    롯데    5    0
6  2012-11-10   차이나    삼성    0    9
7  2012-11-11  요미우리   라미고    6    3

         경기날짜  팀1이름  팀2이름 팀1점수 팀2점수
0   2012-11-1    삼성    SK    7    0
1   2012-11-8   라미고   차이나   14    1
2   2012-11-8    롯데    퍼스    6    1
3   2012-11-9    퍼스  요미우리    1    7
4   2012-11-9    삼성   라미고    0    3
5  2012-11-10  요미우리    롯데    5    0
6  2012-11-10   차이나    삼성    0    9
7  2012-11-11  요미우리   라미고    6    3

         경기날짜  팀1이름  팀2이름 팀1점수 팀2점수
0   2012-11-1    삼성    SK    7    0
1   2012-11-8   라미고   차이나   14    1
2   2012-11-8    롯데    퍼스    6    1
3   2012-11-9    퍼스  요미우리    1    7
4   2012-11-9    삼성   라미고    0    3
5  2012-11-10  요미우리    롯데    5    0
6  2012-11-10   차이나    삼성    0    9
7  2012-11-11  요미우리   라미고    6    3

         경기날짜  팀1이름  팀2이름 팀1점수 팀2점수
0   2012-11-1    삼성    SK    7    0
1   2012-11-8   라미고   차이나   14    1
2   2012-11-8    롯데    퍼스    6    1
3   2012-11-9    퍼스  요미우리    1    7
4   2012-11-9    삼성   라미고    0    3
5  2012-11-10  요미우리    롯데    5    0
6  2012-11-10   차이나    삼성    0    9
7  2012-11-11  요미우리   라미고    6    3

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2012-10-8   롯데   두산    8    5
1   2012-10-9   롯데   두산    2    1
2  2012-10-11   두산   롯데    0    0
3  2012-10-12   두산   롯데    3    4

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2012-10-16   롯데   SK    1    2
1  2012-10-17   롯데   SK    5    4
2  2012-10-19   SK   롯데    1    4
3  2012-10-20   SK   롯데    2    1
4  2012-10-22   롯데   SK    3    6

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2012-10-24   SK   삼성    1    3
1  2012-10-25   SK   삼성    3    8
2  2012-10-28   삼성   SK    8   12
3  2012-10-29   삼성   SK    1    4
4  2012-10-31   SK   삼성    1    2
5   2012-11-1   삼성   SK    7    0

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2013-3-9   한화  KIA    3   13
1    2013-3-9   LG   삼성    4    4
2    2013-3-9   SK   롯데    1    2
3    2013-3-9   넥센   NC    6    1
4   2013-3-10   한화  KIA    1    4
5   2013-3-10   LG   삼성    9    6
6   2013-3-10   SK   롯데    6    3
7   2013-3-10   넥센   NC    4    7
8   2013-3-12   LG   NC    2    4
9   2013-3-12   두산   삼성    3    1
10  2013-3-12   SK  KIA    1    6
11  2013-3-12   넥센   롯데    4    2
12  2013-3-13   LG   NC    4    0
13  2013-3-14   한화   넥센    3    2
14  2013-3-14   LG   SK    3    4
15  2013-3-14   NC   두산    0    1
16  2013-3-14   삼성   롯데    5    3
17  2013-3-15   한화   넥센    4    6
18  2013-3-15   LG   SK    3    2
19  2013-3-15   NC   두산    5    8
20  2013-3-15   삼성   롯데    0    0
21  2013-3-16   한화   SK    1    8
22  2013-3-16   두산  KIA    2    3
23  2013-3-16   넥센   삼성    2    7
24  2013-3-17   한화   SK    0    2
25  2013-3-17   두산  KIA    7    2
26  2013-3-17   넥센   삼성    2    2
27  2013-3-19  KIA   NC    7    5
28  2013-3-19   LG   롯데    2    0
29  2013-3-19   두산   한화    2    2
30  2013-3-19   SK   넥센    8    9
31  2013-3-20  KIA   NC    2    4
32  2013-3-20   LG   롯데    2    9
33  2013-3-20   두산   한화   10    4
34  2013-3-20   SK   넥센    7    1
35  2013-3-21  KIA   LG   16    3
36  2013-3-21   롯데   NC    3    6
37  2013-3-21   두산   넥센    1    7
38  2013-3-21   삼성   한화    3    6
39  2013-3-22  KIA   LG    6    1
40  2013-3-22   롯데   NC    1    2
41  2013-3-22   두산   넥센    0    3
42  2013-3-22   삼성   한화    3    8
43  2013-3-23  KIA   삼성    6    2
44  2013-3-23   롯데   한화    1    2
45  2013-3-23   NC   SK    4    4
46  2013-3-23   두산   LG    3    2
47  2013-3-24  KIA   삼성    4    3
48  2013-3-24   롯데   한화    7    0
49  2013-3-24   NC   SK    2    4
50  2013-3-24   두산   LG    2    3
51  2013-3-30   한화   롯데    5    6
52  2013-3-30   LG   SK    7    4
53  2013-3-30   두산   삼성    9    4
54  2013-3-30   넥센  KIA    9   10
55  2013-3-31   한화   롯데    5    6
56  2013-3-31   LG   SK    4    1
57  2013-3-31   두산   삼성    7    3
58  2013-3-31   넥센  KIA    6    4

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2013-4-2  KIA   한화    9    5
1    2013-4-2   LG   넥센    1    3
2    2013-4-2   롯데   NC    4    0
3    2013-4-2   SK   두산    3    7
4    2013-4-3  KIA   한화   12    1
..        ...  ...  ...  ...  ...
83  2013-4-28   삼성  KIA    4    1
84  2013-4-30  KIA   두산    5    3
85  2013-4-30   LG   NC    1    2
86  2013-4-30   롯데   한화    3    9
87  2013-4-30   넥센   삼성    3    1

[88 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2013-5-1  KIA   두산    8    1
1     2013-5-1   LG   NC    6    7
2     2013-5-1   롯데   한화    4    3
3     2013-5-1   넥센   삼성    8    5
4     2013-5-2  KIA   두산    4    6
..         ...  ...  ...  ...  ...
98   2013-5-30   넥센   NC    1    7
99   2013-5-31   LG  KIA   11    2
100  2013-5-31   롯데   삼성   10    0
101  2013-5-31   NC   한화    7    2
102  2013-5-31   넥센   두산   10    3

[103 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2013-6-1   LG  KIA    7    3
1    2013-6-1   롯데   삼성    2    1
2    2013-6-1   NC   한화    8    3
3    2013-6-1   넥센   두산    4    8
4    2013-6-2   LG  KIA    5    4
..        ...  ...  ...  ...  ...
88  2013-6-29   넥센   한화    6    5
89  2013-6-30  KIA   삼성    3   10
90  2013-6-30   두산   NC    5    9
91  2013-6-30   SK   LG    3    4
92  2013-6-30   넥센   한화    6    0

[93 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2013-7-2  KIA   SK    8    2
1    2013-7-2   삼성   롯데    6    4
2    2013-7-2   넥센   NC    0    2
3    2013-7-3   한화   LG    8    9
4    2013-7-3  KIA   SK    3    4
..        ...  ...  ...  ...  ...
69  2013-7-30   삼성  KIA    8    5
70  2013-7-31   한화   넥센    2    5
71  2013-7-31   NC   SK    3    0
72  2013-7-31   두산   롯데    9    1
73  2013-7-31   삼성  KIA   16    4

[74 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2013-8-1   한화   넥센    2    5
1    2013-8-1   NC   SK    5    4
2    2013-8-1   두산   롯데    8    3
3    2013-8-1   삼성  KIA   12    2
4    2013-8-2   한화   NC    0    4
..        ...  ...  ...  ...  ...
95  2013-8-30   삼성   SK    5    1
96  2013-8-30   넥센  KIA    4    1
97  2013-8-31   LG   롯데    8    2
98  2013-8-31   NC  KIA    7    3
99  2013-8-31   넥센   한화    2    3

[100 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2013-9-1   LG   롯데    3    2
1    2013-9-1   NC  KIA   12    3
2    2013-9-1   삼성   두산    0    4
3    2013-9-1   넥센   한화    7    3
4    2013-9-3  KIA   삼성    5    2
..        ...  ...  ...  ...  ...
90  2013-9-29   삼성   LG    5    7
91  2013-9-30  KIA   NC    3    0
92  2013-9-30   두산   LG    7    3
93  2013-9-30   SK   롯데    1    7
94  2013-9-30   삼성   한화    9    2

[95 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2013-10-1   LG   롯데    3    4
1    2013-10-1   삼성   한화    8    2
2    2013-10-1   넥센   NC    2    6
3    2013-10-2   한화   LG   11    8
4    2013-10-2   SK  KIA    9    0
5    2013-10-2   삼성   롯데    9    2
6    2013-10-2   넥센   NC    2    1
7    2013-10-3   두산  KIA    7    6
8    2013-10-3   한화   LG    0    1
9    2013-10-3   삼성   롯데    7    8
10   2013-10-3   넥센   SK    6   10
11   2013-10-4   SK   롯데    2    7
12   2013-10-4   넥센  KIA    8    3
13   2013-10-5   두산   LG    2    5
14   2013-10-5   SK   NC    5    6
15   2013-10-5   넥센   한화    1    2
16   2013-10-8   두산   넥센    3    4
17   2013-10-9   두산   넥센    2    3
18  2013-10-12   넥센   두산    1    2
19  2013-10-16   두산   LG    4    2
20  2013-10-17   두산   LG    0    2
21  2013-10-19   LG   두산    4    5
22  2013-10-20   LG   두산    1    5
23  2013-10-24   두산   삼성    7    2
24  2013-10-25   두산   삼성    5    1
25  2013-10-27   삼성   두산    3    2
26  2013-10-28   삼성   두산    1    2
27  2013-10-31   두산   삼성    2    6

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2013-11-1   두산   삼성    3    7
1  2013-11-15  볼로냐   삼성    2    5
2  2013-11-15  EDA  라쿠텐    1    6
3  2013-11-16  캔버라  EDA    2    0
4  2013-11-16   퉁이  볼로냐   10    0
5  2013-11-17  라쿠텐  캔버라    6    3
6  2013-11-17   삼성   퉁이    5    4
7  2013-11-18  캔버라   삼성    9    5
8  2013-11-19   퉁이  라쿠텐    4    1
9  2013-11-20   퉁이  캔버라    4   14

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2013-11-1   두산   삼성    3    7
1  2013-11-15  볼로냐   삼성    2    5
2  2013-11-15  EDA  라쿠텐    1    6
3  2013-11-16  캔버라  EDA    2    0
4  2013-11-16   퉁이  볼로냐   10    0
5  2013-11-17  라쿠텐  캔버라    6    3
6  2013-11-17   삼성   퉁이    5    4
7  2013-11-18  캔버라   삼성    9    5
8  2013-11-19   퉁이  라쿠텐    4    1
9  2013-11-20   퉁이  캔버라    4   14

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2013-11-1   두산   삼성    3    7
1  2013-11-15  볼로냐   삼성    2    5
2  2013-11-15  EDA  라쿠텐    1    6
3  2013-11-16  캔버라  EDA    2    0
4  2013-11-16   퉁이  볼로냐   10    0
5  2013-11-17  라쿠텐  캔버라    6    3
6  2013-11-17   삼성   퉁이    5    4
7  2013-11-18  캔버라   삼성    9    5
8  2013-11-19   퉁이  라쿠텐    4    1
9  2013-11-20   퉁이  캔버라    4   14

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2013-11-1   두산   삼성    3    7
1  2013-11-15  볼로냐   삼성    2    5
2  2013-11-15  EDA  라쿠텐    1    6
3  2013-11-16  캔버라  EDA    2    0
4  2013-11-16   퉁이  볼로냐   10    0
5  2013-11-17  라쿠텐  캔버라    6    3
6  2013-11-17   삼성   퉁이    5    4
7  2013-11-18  캔버라   삼성    9    5
8  2013-11-19   퉁이  라쿠텐    4    1
9  2013-11-20   퉁이  캔버라    4   14

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2013-10-8   두산   넥센    3    4
1   2013-10-9   두산   넥센    2    3
2  2013-10-12   넥센   두산    1    2

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2013-10-16   두산   LG    4    2
1  2013-10-17   두산   LG    0    2
2  2013-10-19   LG   두산    4    5
3  2013-10-20   LG   두산    1    5

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2013-10-24   두산   삼성    7    2
1  2013-10-25   두산   삼성    5    1
2  2013-10-27   삼성   두산    3    2
3  2013-10-28   삼성   두산    1    2
4  2013-10-31   두산   삼성    2    6
5   2013-11-1   두산   삼성    3    7

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2014-3-8  KIA   삼성    1    2
1    2014-3-8   롯데   NC    5    1
2    2014-3-8   두산   넥센    3   10
3    2014-3-8   SK   한화    4    1
4    2014-3-9  KIA   삼성    8    3
5    2014-3-9   롯데   NC   14    6
6    2014-3-9   두산   넥센    4    4
7    2014-3-9   SK   한화    1    3
8   2014-3-11  KIA   넥센    6    8
9   2014-3-11   LG   NC    5    2
10  2014-3-11   두산   롯데    1    1
11  2014-3-11   SK   삼성    8    2
12  2014-3-12  KIA   넥센    6    1
13  2014-3-13   NC   한화    2    2
14  2014-3-13   SK   넥센    0    6
15  2014-3-14   LG   삼성    2    5
16  2014-3-14   NC   한화    2    2
17  2014-3-14   SK   넥센    6    7
18  2014-3-15   LG   한화    4    3
19  2014-3-15   롯데   삼성    3    6
20  2014-3-15   두산  KIA    6    4
21  2014-3-15   넥센   NC    1    3
22  2014-3-16   LG   한화   12    2
23  2014-3-16   롯데   삼성    4    3
24  2014-3-16   두산  KIA    7    7
25  2014-3-16   넥센   NC    1    7
26  2014-3-18   LG   롯데   11    6
27  2014-3-18   두산   NC    7    8
28  2014-3-18   SK  KIA    6    8
29  2014-3-18   넥센   한화    7    8
30  2014-3-19   LG   롯데    9   10
31  2014-3-19   두산   NC   13    5
32  2014-3-19   SK  KIA   18    2
33  2014-3-19   넥센   한화    5    5
34  2014-3-20   한화   두산    2    5
35  2014-3-20   LG   SK    3    3
36  2014-3-20   롯데  KIA    1    3
37  2014-3-20   삼성   넥센    8    8
38  2014-3-21   한화   두산    4    4
39  2014-3-21   LG   SK    3    7
40  2014-3-21   롯데  KIA    1    7
41  2014-3-21   삼성   넥센    6    4
42  2014-3-22   한화   롯데   13    8
43  2014-3-22  KIA   LG    4    2
44  2014-3-22   NC   삼성    9    4
45  2014-3-22   두산   SK    7    7
46  2014-3-23   한화   롯데    9    2
47  2014-3-23  KIA   LG    1    2
48  2014-3-23   NC   삼성    4    2
49  2014-3-23   두산   SK   13    9
50  2014-3-29  KIA   삼성    2    1
51  2014-3-29   LG   두산    4    5
52  2014-3-29   넥센   SK    8    3
53  2014-3-30   한화   롯데    4    2
54  2014-3-30  KIA   삼성    5    8
55  2014-3-30   LG   두산   14    4
56  2014-3-30   넥센   SK    4    6
57  2014-3-31   한화   롯데    2   11

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2014-4-1   NC  KIA    0    1
1    2014-4-1   두산   넥센    3    9
2    2014-4-1   SK   LG   13    8
3    2014-4-1   삼성   한화    6    5
4    2014-4-2   NC  KIA    8    7
..        ...  ...  ...  ...  ...
93  2014-4-29   넥센   두산    5    2
94  2014-4-30   LG   NC    5    4
95  2014-4-30   롯데   한화    6    4
96  2014-4-30   SK  KIA    3    6
97  2014-4-30   넥센   두산    1    7

[98 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2014-5-1   LG   NC    5   10
1     2014-5-1   롯데   한화    0    3
2     2014-5-1   SK  KIA    2   20
3     2014-5-1   넥센   두산    2    1
4     2014-5-3   롯데   SK    6    5
..         ...  ...  ...  ...  ...
103  2014-5-30   SK   한화    6    1
104  2014-5-31   LG   넥센    9    5
105  2014-5-31   롯데   두산   23    1
106  2014-5-31   NC  KIA    8    7
107  2014-5-31   SK   한화    7    3

[108 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2014-6-1   LG   넥센    4    8
1    2014-6-1   롯데   두산   14    5
2    2014-6-1   NC  KIA    5    6
3    2014-6-1   SK   한화    3    9
4    2014-6-3  KIA   삼성    1    4
..        ...  ...  ...  ...  ...
88  2014-6-28   넥센   두산    8    1
89  2014-6-29   한화   삼성    2    9
90  2014-6-29   LG   SK   11    4
91  2014-6-29   NC   롯데    0    9
92  2014-6-29   넥센   두산    7    0

[93 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2014-7-1   한화   LG    0    1
1    2014-7-1   롯데   넥센    7   12
2    2014-7-1   두산  KIA    4    3
3    2014-7-1   SK   NC    4    5
4    2014-7-2   한화   LG    2    6
..        ...  ...  ...  ...  ...
82  2014-7-30   두산   롯데    1    3
83  2014-7-31   한화   넥센    9    8
84  2014-7-31  KIA   NC    1    9
85  2014-7-31   LG   삼성    4    8
86  2014-7-31   두산   롯데    3   13

[87 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2014-8-1   NC   SK    6   13
1    2014-8-1   두산   한화    6    9
2    2014-8-1   삼성  KIA    6    4
3    2014-8-1   넥센   LG    3    4
4    2014-8-2   NC   SK    1    9
..        ...  ...  ...  ...  ...
85  2014-8-30   넥센   삼성    7    4
86  2014-8-31   롯데   LG    6    2
87  2014-8-31   두산   NC   10    6
88  2014-8-31   SK  KIA    4    3
89  2014-8-31   넥센   삼성    7    0

[90 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2014-9-2   한화   SK    7    7
1    2014-9-2   NC   삼성   10   10
2    2014-9-4   한화   삼성    0    4
3    2014-9-4   롯데   SK    6    4
4    2014-9-4   NC   넥센    5   13
5    2014-9-4   두산   LG    3    3
6    2014-9-5   두산   LG    3    5
7    2014-9-5   한화   삼성    0    8
8    2014-9-5   롯데   SK    3   12
9    2014-9-5   NC   넥센    1   10
10   2014-9-6  KIA   NC    9    0
11   2014-9-6   LG   한화    5    9
12   2014-9-6   롯데   넥센   10    5
13   2014-9-6   SK   두산    7    2
14   2014-9-7  KIA   NC    3    6
15   2014-9-7   LG   한화    3    5
16   2014-9-7   롯데   넥센    6    7
17   2014-9-7   SK   두산   12    3
18   2014-9-9   한화   넥센    8   13
19   2014-9-9   LG  KIA    7   10
20   2014-9-9   SK   롯데   10    8
21   2014-9-9   삼성   NC    3    6
22  2014-9-10   한화   넥센    2    4
23  2014-9-10   LG  KIA   12    6
24  2014-9-10   SK   롯데    5   11
25  2014-9-10   삼성   NC    4    2
26  2014-9-11   한화   두산    6   11
27  2014-9-11  KIA   삼성    4    5
28  2014-9-11   롯데   NC    5    1
29  2014-9-11   넥센   SK    2   11
30  2014-9-12   한화   두산    1    6
31  2014-9-12  KIA   삼성    4   14
32  2014-9-12   롯데   NC    0    6
33  2014-9-12   넥센   SK    0    3
34  2014-9-13  KIA   한화    3    1
35  2014-9-13   NC   SK   11    4
36  2014-9-13   두산   롯데    4    3
37  2014-9-13   삼성   LG    0    1
38  2014-9-14  KIA   한화    6   10
39  2014-9-14   NC   SK    3    5
40  2014-9-14   두산   롯데    3    4
41  2014-9-14   삼성   LG    3   12
42  2014-9-22   태국   한국    0   15
43  2014-9-24   대만   한국    0   10
44  2014-9-25   한국   홍콩   12    0
45  2014-9-27   중국   한국    2    7
46  2014-9-28   한국   대만    6    3

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2014-10-1   롯데   삼성    3    4
1    2014-10-1   두산  KIA    3    1
2    2014-10-1   SK   한화   11    1
3    2014-10-2   한화   롯데    5   10
4    2014-10-2   두산  KIA    3    4
5    2014-10-2   SK   NC    2    9
6    2014-10-3   한화   롯데    3   15
7    2014-10-3   두산  KIA    1    2
8    2014-10-3   넥센   LG    5   11
9    2014-10-4   두산   NC    4    5
10   2014-10-4   삼성  KIA   10    5
11   2014-10-4   넥센   LG    6    2
12   2014-10-5   한화   SK    3    6
13   2014-10-5   두산   NC    3    5
14   2014-10-5   삼성  KIA    9    5
15   2014-10-5   넥센   LG    4    5
16   2014-10-6   한화   SK    1   11
17   2014-10-6   NC   LG    0    1
18   2014-10-6   두산   삼성    5    1
19   2014-10-7  KIA   넥센    3    6
20   2014-10-7   롯데   한화    5    8
21   2014-10-7   NC   SK    1    2
22   2014-10-7   삼성   LG    5    9
23   2014-10-8  KIA   두산    2    4
24   2014-10-8   삼성   넥센    3    4
25   2014-10-9  KIA   LG    6    7
26   2014-10-9   NC   삼성    9    4
27   2014-10-9   두산   한화    1    4
28  2014-10-10   NC   롯데   12    0
29  2014-10-10   두산   한화    7    3
30  2014-10-11   한화   롯데    3    4
31  2014-10-11   LG   두산   15    2
32  2014-10-11   삼성  KIA    4    5
33  2014-10-11   넥센   SK    7    7
34  2014-10-12   한화   롯데    2    4
35  2014-10-12   LG   두산    1    6
36  2014-10-12   삼성  KIA    8    4
37  2014-10-13   두산   SK    6    7
38  2014-10-13   삼성   한화   22    1
39  2014-10-13   넥센  KIA    8    5
40  2014-10-14   삼성   NC    1    2
41  2014-10-14   넥센   롯데   12    4
42  2014-10-15   LG   삼성    3    5
43  2014-10-15   SK   두산    3    6
44  2014-10-15   넥센   롯데    7    6
45  2014-10-16  KIA   삼성    7    5
46  2014-10-16   SK   두산    7    5
47  2014-10-17   한화  KIA    4    5
48  2014-10-17   LG   롯데    5    8
49  2014-10-17   NC   두산    1    2
50  2014-10-17   SK   넥센    2    7
51  2014-10-19   LG   NC   13    4
52  2014-10-22   LG   NC    4    2
53  2014-10-24   NC   LG    4    3
54  2014-10-25   NC   LG    3   11
55  2014-10-27   LG   넥센    3    6
56  2014-10-28   LG   넥센    9    2
57  2014-10-30   넥센   LG    6    2
58  2014-10-31   넥센   LG   12    2

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2014-11-4   넥센   삼성    4    2
1   2014-11-5   넥센   삼성    1    7
2   2014-11-7   삼성   넥센    3    1
3   2014-11-8   삼성   넥센    3    9
4  2014-11-10   넥센   삼성    1    2
5  2014-11-11   삼성   넥센   11    1

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2014-11-4   넥센   삼성    4    2
1   2014-11-5   넥센   삼성    1    7
2   2014-11-7   삼성   넥센    3    1
3   2014-11-8   삼성   넥센    3    9
4  2014-11-10   넥센   삼성    1    2
5  2014-11-11   삼성   넥센   11    1

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2014-11-4   넥센   삼성    4    2
1   2014-11-5   넥센   삼성    1    7
2   2014-11-7   삼성   넥센    3    1
3   2014-11-8   삼성   넥센    3    9
4  2014-11-10   넥센   삼성    1    2
5  2014-11-11   삼성   넥센   11    1

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2014-11-4   넥센   삼성    4    2
1   2014-11-5   넥센   삼성    1    7
2   2014-11-7   삼성   넥센    3    1
3   2014-11-8   삼성   넥센    3    9
4  2014-11-10   넥센   삼성    1    2
5  2014-11-11   삼성   넥센   11    1

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2014-10-19   LG   NC   13    4
1  2014-10-22   LG   NC    4    2
2  2014-10-24   NC   LG    4    3
3  2014-10-25   NC   LG    3   11

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2014-10-27   LG   넥센    3    6
1  2014-10-28   LG   넥센    9    2
2  2014-10-30   넥센   LG    6    2
3  2014-10-31   넥센   LG   12    2

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2014-11-4   넥센   삼성    4    2
1   2014-11-5   넥센   삼성    1    7
2   2014-11-7   삼성   넥센    3    1
3   2014-11-8   삼성   넥센    3    9
4  2014-11-10   넥센   삼성    1    2
5  2014-11-11   삼성   넥센   11    1

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2015-3-7  KIA   NC    1    2
1    2015-3-7   kt   넥센    0    5
2    2015-3-7   LG   한화    3    9
3    2015-3-7   두산   삼성    9    4
4    2015-3-7   SK   롯데    2    1
..        ...  ...  ...  ...  ...
67  2015-3-29   LG  KIA    6    7
68  2015-3-29   NC   두산    1    4
69  2015-3-29   SK   삼성    7    3
70  2015-3-31   롯데   LG    7    1
71  2015-3-31   삼성   kt    8    6

[72 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2015-4-1  KIA   SK    3    0
1     2015-4-1   롯데   LG    2    3
2     2015-4-1   두산   한화    6    3
3     2015-4-1   삼성   kt    5    1
4     2015-4-1   넥센   NC    3   10
..         ...  ...  ...  ...  ...
107  2015-4-30   한화  KIA    6    0
108  2015-4-30   kt   두산    3    4
109  2015-4-30   LG   삼성    5    8
110  2015-4-30   롯데   넥센    4    2
111  2015-4-30   NC   SK    6    9

[112 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2015-5-1   롯데   한화    5    7
1     2015-5-1   NC   kt    4    2
2     2015-5-1   두산   삼성    4   12
3     2015-5-1   SK  KIA    3    1
4     2015-5-1   넥센   LG    3    1
..         ...  ...  ...  ...  ...
124  2015-5-31   한화   롯데    3    8
125  2015-5-31   두산   kt   10    6
126  2015-5-31   삼성   LG    9    3
127  2015-5-31   넥센   SK    3    2
128  2015-5-31   NC  KIA    7    6

[129 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2015-6-2   한화   넥센    7    8
1     2015-6-2  KIA   두산    9    1
2     2015-6-2   LG   NC   18    5
3     2015-6-2   롯데   삼성    7   13
4     2015-6-2   SK   kt   20    6
..         ...  ...  ...  ...  ...
104  2015-6-28   한화   SK    6    3
105  2015-6-28   kt   삼성    8    3
106  2015-6-28   NC   LG    1    4
107  2015-6-28   두산  KIA    1    2
108  2015-6-28   넥센   롯데    7    1

[109 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2015-7-1   한화  KIA    1    6
1     2015-7-1   kt   SK    4    2
2     2015-7-1   LG   두산    4    8
3     2015-7-1   롯데   NC    4    3
4     2015-7-1   삼성   넥센   13   10
..         ...  ...  ...  ...  ...
97   2015-7-31  KIA   한화   12    4
98   2015-7-31   LG   SK    1    3
99   2015-7-31   롯데   kt   12    2
100  2015-7-31   삼성   두산   11    4
101  2015-7-31   넥센   NC    7    4

[102 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2015-8-1  KIA   한화    9    8
1     2015-8-1   LG   SK    8    4
2     2015-8-1   롯데   kt    6   19
3     2015-8-1   삼성   두산    7    3
4     2015-8-1   넥센   NC    3    4
..         ...  ...  ...  ...  ...
117  2015-8-30   한화   두산    4    5
118  2015-8-30   LG   삼성    9   15
119  2015-8-30   NC   롯데    6    4
120  2015-8-30   SK   kt    4    6
121  2015-8-30   넥센  KIA    7    2

[122 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2015-9-1  KIA   한화    2    8
1     2015-9-1   kt   롯데    5    6
2     2015-9-1   LG   넥센    2   11
3     2015-9-1   SK   두산    5    6
4     2015-9-1   삼성   NC    7    6
..         ...  ...  ...  ...  ...
112  2015-9-29   삼성   한화    6    7
113  2015-9-30  KIA   롯데   13    1
114  2015-9-30   LG   SK    1    8
115  2015-9-30   NC   두산   17    5
116  2015-9-30   삼성   한화    6   18

[117 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2015-10-1   한화   넥센    3    4
1    2015-10-1   NC   LG    7    2
2    2015-10-1   두산   SK    2    1
3    2015-10-2   한화   LG    6    3
4    2015-10-2   KT   삼성    4    5
5    2015-10-2   롯데   넥센    6   10
6    2015-10-2   NC   SK    9    2
7    2015-10-2   두산  KIA    1    2
8    2015-10-3   한화   KT    1    4
9    2015-10-3   롯데   LG    2    5
10   2015-10-3   NC   SK    3    4
11   2015-10-3   두산  KIA    9    7
12   2015-10-3   삼성   넥센    1    0
13   2015-10-4  KIA   두산    0    9
14   2015-10-4   KT   롯데    3    6
15   2015-10-5   KT   NC    2    2
16   2015-10-5   삼성  KIA    6    4
17   2015-10-6   LG  KIA    4    2
18   2015-10-7   SK   넥센    4    5
19  2015-10-10   넥센   두산    3    4
20  2015-10-11   넥센   두산    2    3
21  2015-10-13   두산   넥센    2    5
22  2015-10-14   두산   넥센   11    9
23  2015-10-18   두산   NC    7    0
24  2015-10-19   두산   NC    1    2
25  2015-10-21   NC   두산   16    2
26  2015-10-22   NC   두산    0    7
27  2015-10-24   두산   NC    6    4
28  2015-10-26   두산   삼성    8    9
29  2015-10-27   두산   삼성    6    1
30  2015-10-29   삼성   두산    1    5
31  2015-10-30   삼성   두산    3    4
32  2015-10-31   삼성   두산    2   13

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2015-10-1   한화   넥센    3    4
1    2015-10-1   NC   LG    7    2
2    2015-10-1   두산   SK    2    1
3    2015-10-2   한화   LG    6    3
4    2015-10-2   KT   삼성    4    5
5    2015-10-2   롯데   넥센    6   10
6    2015-10-2   NC   SK    9    2
7    2015-10-2   두산  KIA    1    2
8    2015-10-3   한화   KT    1    4
9    2015-10-3   롯데   LG    2    5
10   2015-10-3   NC   SK    3    4
11   2015-10-3   두산  KIA    9    7
12   2015-10-3   삼성   넥센    1    0
13   2015-10-4  KIA   두산    0    9
14   2015-10-4   KT   롯데    3    6
15   2015-10-5   KT   NC    2    2
16   2015-10-5   삼성  KIA    6    4
17   2015-10-6   LG  KIA    4    2
18   2015-10-7   SK   넥센    4    5
19  2015-10-10   넥센   두산    3    4
20  2015-10-11   넥센   두산    2    3
21  2015-10-13   두산   넥센    2    5
22  2015-10-14   두산   넥센   11    9
23  2015-10-18   두산   NC    7    0
24  2015-10-19   두산   NC    1    2
25  2015-10-21   NC   두산   16    2
26  2015-10-22   NC   두산    0    7
27  2015-10-24   두산   NC    6    4
28  2015-10-26   두산   삼성    8    9
29  2015-10-27   두산   삼성    6    1
30  2015-10-29   삼성   두산    1    5
31  2015-10-30   삼성   두산    3    4
32  2015-10-31   삼성   두산    2   13

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2015-10-1   한화   넥센    3    4
1    2015-10-1   NC   LG    7    2
2    2015-10-1   두산   SK    2    1
3    2015-10-2   한화   LG    6    3
4    2015-10-2   KT   삼성    4    5
5    2015-10-2   롯데   넥센    6   10
6    2015-10-2   NC   SK    9    2
7    2015-10-2   두산  KIA    1    2
8    2015-10-3   한화   KT    1    4
9    2015-10-3   롯데   LG    2    5
10   2015-10-3   NC   SK    3    4
11   2015-10-3   두산  KIA    9    7
12   2015-10-3   삼성   넥센    1    0
13   2015-10-4  KIA   두산    0    9
14   2015-10-4   KT   롯데    3    6
15   2015-10-5   KT   NC    2    2
16   2015-10-5   삼성  KIA    6    4
17   2015-10-6   LG  KIA    4    2
18   2015-10-7   SK   넥센    4    5
19  2015-10-10   넥센   두산    3    4
20  2015-10-11   넥센   두산    2    3
21  2015-10-13   두산   넥센    2    5
22  2015-10-14   두산   넥센   11    9
23  2015-10-18   두산   NC    7    0
24  2015-10-19   두산   NC    1    2
25  2015-10-21   NC   두산   16    2
26  2015-10-22   NC   두산    0    7
27  2015-10-24   두산   NC    6    4
28  2015-10-26   두산   삼성    8    9
29  2015-10-27   두산   삼성    6    1
30  2015-10-29   삼성   두산    1    5
31  2015-10-30   삼성   두산    3    4
32  2015-10-31   삼성   두산    2   13

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2015-10-1   한화   넥센    3    4
1    2015-10-1   NC   LG    7    2
2    2015-10-1   두산   SK    2    1
3    2015-10-2   한화   LG    6    3
4    2015-10-2   KT   삼성    4    5
5    2015-10-2   롯데   넥센    6   10
6    2015-10-2   NC   SK    9    2
7    2015-10-2   두산  KIA    1    2
8    2015-10-3   한화   KT    1    4
9    2015-10-3   롯데   LG    2    5
10   2015-10-3   NC   SK    3    4
11   2015-10-3   두산  KIA    9    7
12   2015-10-3   삼성   넥센    1    0
13   2015-10-4  KIA   두산    0    9
14   2015-10-4   KT   롯데    3    6
15   2015-10-5   KT   NC    2    2
16   2015-10-5   삼성  KIA    6    4
17   2015-10-6   LG  KIA    4    2
18   2015-10-7   SK   넥센    4    5
19  2015-10-10   넥센   두산    3    4
20  2015-10-11   넥센   두산    2    3
21  2015-10-13   두산   넥센    2    5
22  2015-10-14   두산   넥센   11    9
23  2015-10-18   두산   NC    7    0
24  2015-10-19   두산   NC    1    2
25  2015-10-21   NC   두산   16    2
26  2015-10-22   NC   두산    0    7
27  2015-10-24   두산   NC    6    4
28  2015-10-26   두산   삼성    8    9
29  2015-10-27   두산   삼성    6    1
30  2015-10-29   삼성   두산    1    5
31  2015-10-30   삼성   두산    3    4
32  2015-10-31   삼성   두산    2   13

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2015-10-1   한화   넥센    3    4
1    2015-10-1   NC   LG    7    2
2    2015-10-1   두산   SK    2    1
3    2015-10-2   한화   LG    6    3
4    2015-10-2   KT   삼성    4    5
5    2015-10-2   롯데   넥센    6   10
6    2015-10-2   NC   SK    9    2
7    2015-10-2   두산  KIA    1    2
8    2015-10-3   한화   KT    1    4
9    2015-10-3   롯데   LG    2    5
10   2015-10-3   NC   SK    3    4
11   2015-10-3   두산  KIA    9    7
12   2015-10-3   삼성   넥센    1    0
13   2015-10-4  KIA   두산    0    9
14   2015-10-4   KT   롯데    3    6
15   2015-10-5   KT   NC    2    2
16   2015-10-5   삼성  KIA    6    4
17   2015-10-6   LG  KIA    4    2
18   2015-10-7   SK   넥센    4    5
19  2015-10-10   넥센   두산    3    4
20  2015-10-11   넥센   두산    2    3
21  2015-10-13   두산   넥센    2    5
22  2015-10-14   두산   넥센   11    9
23  2015-10-18   두산   NC    7    0
24  2015-10-19   두산   NC    1    2
25  2015-10-21   NC   두산   16    2
26  2015-10-22   NC   두산    0    7
27  2015-10-24   두산   NC    6    4
28  2015-10-26   두산   삼성    8    9
29  2015-10-27   두산   삼성    6    1
30  2015-10-29   삼성   두산    1    5
31  2015-10-30   삼성   두산    3    4
32  2015-10-31   삼성   두산    2   13

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2015-10-7   SK   넥센    4    5

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2015-10-10   넥센   두산    3    4
1  2015-10-11   넥센   두산    2    3
2  2015-10-13   두산   넥센    2    5
3  2015-10-14   두산   넥센   11    9

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2015-10-18   두산   NC    7    0
1  2015-10-19   두산   NC    1    2
2  2015-10-21   NC   두산   16    2
3  2015-10-22   NC   두산    0    7
4  2015-10-24   두산   NC    6    4

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2015-10-26   두산   삼성    8    9
1  2015-10-27   두산   삼성    6    1
2  2015-10-29   삼성   두산    1    5
3  2015-10-30   삼성   두산    3    4
4  2015-10-31   삼성   두산    2   13

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2016-3-8   두산   kt    5    5
1    2016-3-8   SK   롯데    6    6
2    2016-3-8   삼성   NC    5    3
3    2016-3-8   넥센   한화    2    4
4    2016-3-9   LG  KIA    3    0
..        ...  ...  ...  ...  ...
76  2016-3-27   한화  KIA   10    5
77  2016-3-27   롯데   kt    3    5
78  2016-3-27   NC   넥센    8    3
79  2016-3-27   두산   LG    1    0
80  2016-3-27   SK   삼성    1   11

[81 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2016-4-1   한화   LG    4    5
1     2016-4-1  KIA   NC    4    5
2     2016-4-1   kt   SK    8    4
3     2016-4-1   롯데   넥센    2    1
4     2016-4-1   두산   삼성    5    1
..         ...  ...  ...  ...  ...
113  2016-4-30   kt   LG    3    2
114  2016-4-30   NC   롯데    8    1
115  2016-4-30   두산  KIA    7    5
116  2016-4-30   SK   넥센    5    1
117  2016-4-30   삼성   한화    6    3

[118 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2016-5-1   kt   LG    2    4
1     2016-5-1   NC   롯데    5    2
2     2016-5-1   SK   넥센    1   11
3     2016-5-1   삼성   한화    8    9
4     2016-5-1   두산  KIA    4    1
..         ...  ...  ...  ...  ...
117  2016-5-31  KIA   LG    6    6
118  2016-5-31   kt   롯데    5    9
119  2016-5-31   두산   NC    6    5
120  2016-5-31   SK   한화    4    8
121  2016-5-31   삼성   넥센    4    1

[122 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2016-6-1  KIA   LG    5    1
1     2016-6-1   kt   롯데    0    2
2     2016-6-1   두산   NC    1    5
3     2016-6-1   SK   한화    7    2
4     2016-6-1   삼성   넥센    4    6
..         ...  ...  ...  ...  ...
119  2016-6-30   한화   넥센    5   11
120  2016-6-30   LG  KIA   10    9
121  2016-6-30   NC   두산    0    4
122  2016-6-30   SK   kt    5   10
123  2016-6-30   삼성   롯데    6    7

[124 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2016-7-1  KIA   넥센    7   10
1     2016-7-2  KIA   넥센    5    8
2     2016-7-2   두산   한화    4    1
3     2016-7-2   SK   LG    4    2
4     2016-7-3  KIA   넥센    6    7
..         ...  ...  ...  ...  ...
100  2016-7-30   롯데   kt    3    4
101  2016-7-31   한화   두산    4   10
102  2016-7-31  KIA   SK    6    5
103  2016-7-31   LG   NC    8   10
104  2016-7-31   롯데   kt    2    3

[105 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2016-8-2   한화  KIA    9   10
1     2016-8-2   LG   두산    1   12
2     2016-8-3   한화  KIA    8    1
3     2016-8-3   LG   두산    7    5
4     2016-8-3   삼성   SK    4    8
..         ...  ...  ...  ...  ...
114  2016-8-30   넥센   삼성    1    8
115  2016-8-31   LG   롯데    1    9
116  2016-8-31   NC   kt   11    0
117  2016-8-31   SK  KIA    5    7
118  2016-8-31   넥센   삼성   15    6

[119 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2016-9-1  KIA   삼성   16    8
1     2016-9-1   kt   두산    0    1
2     2016-9-1   LG   한화    7    2
3     2016-9-1   NC   롯데    4    2
4     2016-9-1   SK   넥센    2    8
..         ...  ...  ...  ...  ...
104  2016-9-29   삼성   NC    4    5
105  2016-9-29   넥센   두산    9    1
106  2016-9-30   한화   NC    7    1
107  2016-9-30   kt   롯데    4    5
108  2016-9-30   SK   LG    5    3

[109 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2016-10-1   NC   롯데    8    0
1    2016-10-1   SK   LG    5    0
2    2016-10-2   KT  KIA    1    3
3    2016-10-2   NC   롯데   11    6
4    2016-10-2   넥센   한화    4    1
5    2016-10-3   한화   두산   13    5
6    2016-10-3   KT  KIA    6    9
7    2016-10-3   LG   삼성   10    3
8    2016-10-4   LG   삼성    4    5
9    2016-10-4   롯데   두산    5    6
10   2016-10-4   넥센   NC    3    1
11   2016-10-5   한화   KT    7    2
12   2016-10-5  KIA   삼성    4    2
13   2016-10-5   넥센   NC    4    8
14   2016-10-6   LG   롯데    4    1
15   2016-10-6   SK   NC    2    4
16   2016-10-6   삼성  KIA    4    3
17   2016-10-7   KT   NC    6    2
18   2016-10-7   넥센   롯데    4    5
19   2016-10-8  KIA   한화    5    6
20   2016-10-8   두산   LG   11    1
21   2016-10-8   삼성   SK    6    7
22   2016-10-9   KT   NC    7    4
23   2016-10-9   넥센   롯데    5    8
24  2016-10-10  KIA   LG    4    2
25  2016-10-11  KIA   LG    0    1
26  2016-10-13   LG   넥센    7    0
27  2016-10-14   LG   넥센    1    5
28  2016-10-16   넥센   LG    1    4
29  2016-10-17   넥센   LG    4    5
30  2016-10-21   LG   NC    2    3
31  2016-10-22   LG   NC    0    2
32  2016-10-24   NC   LG    1    2
33  2016-10-25   NC   LG    8    3
34  2016-10-29   NC   두산    0    1
35  2016-10-30   NC   두산    1    5

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2016-11-1   두산   NC    6    0
1  2016-11-2   두산   NC    8    1

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2016-11-1   두산   NC    6    0
1  2016-11-2   두산   NC    8    1

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2016-11-1   두산   NC    6    0
1  2016-11-2   두산   NC    8    1

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2016-11-1   두산   NC    6    0
1  2016-11-2   두산   NC    8    1

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2016-10-10  KIA   LG    4    2
1  2016-10-11  KIA   LG    0    1

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2016-10-13   LG   넥센    7    0
1  2016-10-14   LG   넥센    1    5
2  2016-10-16   넥센   LG    1    4
3  2016-10-17   넥센   LG    4    5

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2016-10-21   LG   NC    2    3
1  2016-10-22   LG   NC    0    2
2  2016-10-24   NC   LG    1    2
3  2016-10-25   NC   LG    8    3

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2016-10-29   NC   두산    0    1
1  2016-10-30   NC   두산    1    5
2   2016-11-1   두산   NC    6    0
3   2016-11-2   두산   NC    8    1

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2017-3-14   KT   삼성    9    1
1   2017-3-14   LG   한화    9    9
2   2017-3-14   두산  KIA    4    7
3   2017-3-14   SK   롯데    3    2
4   2017-3-14   넥센   NC    2    2
..        ...  ...  ...  ...  ...
58  2017-3-31   한화   두산    0    3
59  2017-3-31  KIA   삼성    7    2
60  2017-3-31   KT   SK    3    2
61  2017-3-31   LG   넥센    2    1
62  2017-3-31   롯데   NC    5    6

[63 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2017-4-1   한화   두산    6    5
1     2017-4-1  KIA   삼성    9    7
2     2017-4-1   LG   넥센    8    3
3     2017-4-1   KT   SK    2    0
4     2017-4-1   롯데   NC    3    0
..         ...  ...  ...  ...  ...
120  2017-4-30   LG   KT    7    5
121  2017-4-30   롯데   두산    6    0
122  2017-4-30   NC  KIA   12    1
123  2017-4-30   SK   삼성   13    2
124  2017-4-30   넥센   한화    5    4

[125 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2017-5-2   한화   SK    6    5
1     2017-5-2  KIA   넥센    9    3
2     2017-5-2   롯데   KT    9    0
3     2017-5-2   NC   LG    2    1
4     2017-5-2   두산   삼성    5    6
..         ...  ...  ...  ...  ...
119  2017-5-31  KIA   NC   10    2
120  2017-5-31   롯데   삼성    4   11
121  2017-5-31   두산   한화    1    3
122  2017-5-31   SK   KT    8    2
123  2017-5-31   넥센   LG    2    5

[124 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2017-6-1  KIA   NC    7    8
1     2017-6-1   롯데   삼성    2   13
2     2017-6-1   두산   한화    8    6
3     2017-6-1   SK   KT   10    4
4     2017-6-1   넥센   LG    1    6
..         ...  ...  ...  ...  ...
120  2017-6-30  KIA   LG   10    6
121  2017-6-30   NC   롯데    0    9
122  2017-6-30   두산   한화    8   13
123  2017-6-30   삼성   SK    5    7
124  2017-6-30   넥센   KT    9    5

[125 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2017-7-1  KIA   LG   10    4
1     2017-7-1   NC   롯데    5    9
2     2017-7-1   두산   한화    3    9
3     2017-7-1   삼성   SK    7    4
4     2017-7-2  KIA   LG   13    4
..         ...  ...  ...  ...  ...
100  2017-7-30  KIA   두산    4    6
101  2017-7-30   LG   한화    9    3
102  2017-7-30   롯데   SK    3    2
103  2017-7-30   NC   KT    8    3
104  2017-7-30   삼성   넥센    4    9

[105 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2017-8-1   한화   NC    6    7
1     2017-8-1   KT  KIA   15    7
2     2017-8-1   롯데   LG    0    2
3     2017-8-1   두산   삼성   12    5
4     2017-8-1   SK   넥센    0    3
..         ...  ...  ...  ...  ...
119  2017-8-31   KT   한화    1   10
120  2017-8-31   NC   롯데    5    8
121  2017-8-31   두산  KIA    4    9
122  2017-8-31   삼성   SK    4    5
123  2017-8-31   넥센   LG    5    3

[124 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2017-9-1   KT   한화    6    1
1     2017-9-1   NC   롯데    1    6
2     2017-9-1   두산  KIA    3    5
3     2017-9-1   삼성   SK    7    8
4     2017-9-1   넥센   LG    2    6
..         ...  ...  ...  ...  ...
98   2017-9-29   두산   LG    5    3
99   2017-9-29   넥센   NC    4    8
100  2017-9-30   SK   한화    4    1
101  2017-9-30   삼성   LG    3    4
102  2017-9-30   넥센   NC    4   11

[103 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2017-10-1  KIA   KT    2   20
1    2017-10-1   두산   한화    6    4
2    2017-10-1   삼성   LG   10    3
3    2017-10-2  KIA   KT    5    3
4    2017-10-3  KIA   KT   10    2
5    2017-10-3   SK   두산    3    2
6    2017-10-3   LG   롯데    2    4
7    2017-10-3   NC   한화    8    8
8    2017-10-3   넥센   삼성    9   10
9    2017-10-5   SK   NC    5   10
10   2017-10-8   NC   롯데    9    2
11   2017-10-9   NC   롯데    0    1
12  2017-10-11   롯데   NC    6   13
13  2017-10-13   롯데   NC    7    1
14  2017-10-15   NC   롯데    9    0
15  2017-10-17   NC   두산   13    5
16  2017-10-18   NC   두산    7   17
17  2017-10-20   두산   NC   14    3
18  2017-10-21   두산   NC   14    5
19  2017-10-25   두산  KIA    5    3
20  2017-10-26   두산  KIA    0    1
21  2017-10-28  KIA   두산    6    3
22  2017-10-29  KIA   두산    5    1
23  2017-10-30  KIA   두산    7    6

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2017-10-1  KIA   KT    2   20
1    2017-10-1   두산   한화    6    4
2    2017-10-1   삼성   LG   10    3
3    2017-10-2  KIA   KT    5    3
4    2017-10-3  KIA   KT   10    2
5    2017-10-3   SK   두산    3    2
6    2017-10-3   LG   롯데    2    4
7    2017-10-3   NC   한화    8    8
8    2017-10-3   넥센   삼성    9   10
9    2017-10-5   SK   NC    5   10
10   2017-10-8   NC   롯데    9    2
11   2017-10-9   NC   롯데    0    1
12  2017-10-11   롯데   NC    6   13
13  2017-10-13   롯데   NC    7    1
14  2017-10-15   NC   롯데    9    0
15  2017-10-17   NC   두산   13    5
16  2017-10-18   NC   두산    7   17
17  2017-10-20   두산   NC   14    3
18  2017-10-21   두산   NC   14    5
19  2017-10-25   두산  KIA    5    3
20  2017-10-26   두산  KIA    0    1
21  2017-10-28  KIA   두산    6    3
22  2017-10-29  KIA   두산    5    1
23  2017-10-30  KIA   두산    7    6

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2017-10-1  KIA   KT    2   20
1    2017-10-1   두산   한화    6    4
2    2017-10-1   삼성   LG   10    3
3    2017-10-2  KIA   KT    5    3
4    2017-10-3  KIA   KT   10    2
5    2017-10-3   SK   두산    3    2
6    2017-10-3   LG   롯데    2    4
7    2017-10-3   NC   한화    8    8
8    2017-10-3   넥센   삼성    9   10
9    2017-10-5   SK   NC    5   10
10   2017-10-8   NC   롯데    9    2
11   2017-10-9   NC   롯데    0    1
12  2017-10-11   롯데   NC    6   13
13  2017-10-13   롯데   NC    7    1
14  2017-10-15   NC   롯데    9    0
15  2017-10-17   NC   두산   13    5
16  2017-10-18   NC   두산    7   17
17  2017-10-20   두산   NC   14    3
18  2017-10-21   두산   NC   14    5
19  2017-10-25   두산  KIA    5    3
20  2017-10-26   두산  KIA    0    1
21  2017-10-28  KIA   두산    6    3
22  2017-10-29  KIA   두산    5    1
23  2017-10-30  KIA   두산    7    6

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2017-10-1  KIA   KT    2   20
1    2017-10-1   두산   한화    6    4
2    2017-10-1   삼성   LG   10    3
3    2017-10-2  KIA   KT    5    3
4    2017-10-3  KIA   KT   10    2
5    2017-10-3   SK   두산    3    2
6    2017-10-3   LG   롯데    2    4
7    2017-10-3   NC   한화    8    8
8    2017-10-3   넥센   삼성    9   10
9    2017-10-5   SK   NC    5   10
10   2017-10-8   NC   롯데    9    2
11   2017-10-9   NC   롯데    0    1
12  2017-10-11   롯데   NC    6   13
13  2017-10-13   롯데   NC    7    1
14  2017-10-15   NC   롯데    9    0
15  2017-10-17   NC   두산   13    5
16  2017-10-18   NC   두산    7   17
17  2017-10-20   두산   NC   14    3
18  2017-10-21   두산   NC   14    5
19  2017-10-25   두산  KIA    5    3
20  2017-10-26   두산  KIA    0    1
21  2017-10-28  KIA   두산    6    3
22  2017-10-29  KIA   두산    5    1
23  2017-10-30  KIA   두산    7    6

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2017-10-1  KIA   KT    2   20
1    2017-10-1   두산   한화    6    4
2    2017-10-1   삼성   LG   10    3
3    2017-10-2  KIA   KT    5    3
4    2017-10-3  KIA   KT   10    2
5    2017-10-3   SK   두산    3    2
6    2017-10-3   LG   롯데    2    4
7    2017-10-3   NC   한화    8    8
8    2017-10-3   넥센   삼성    9   10
9    2017-10-5   SK   NC    5   10
10   2017-10-8   NC   롯데    9    2
11   2017-10-9   NC   롯데    0    1
12  2017-10-11   롯데   NC    6   13
13  2017-10-13   롯데   NC    7    1
14  2017-10-15   NC   롯데    9    0
15  2017-10-17   NC   두산   13    5
16  2017-10-18   NC   두산    7   17
17  2017-10-20   두산   NC   14    3
18  2017-10-21   두산   NC   14    5
19  2017-10-25   두산  KIA    5    3
20  2017-10-26   두산  KIA    0    1
21  2017-10-28  KIA   두산    6    3
22  2017-10-29  KIA   두산    5    1
23  2017-10-30  KIA   두산    7    6

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2017-10-5   SK   NC    5   10

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2017-10-8   NC   롯데    9    2
1   2017-10-9   NC   롯데    0    1
2  2017-10-11   롯데   NC    6   13
3  2017-10-13   롯데   NC    7    1
4  2017-10-15   NC   롯데    9    0

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2017-10-17   NC   두산   13    5
1  2017-10-18   NC   두산    7   17
2  2017-10-20   두산   NC   14    3
3  2017-10-21   두산   NC   14    5

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2017-10-25   두산  KIA    5    3
1  2017-10-26   두산  KIA    0    1
2  2017-10-28  KIA   두산    6    3
3  2017-10-29  KIA   두산    5    1
4  2017-10-30  KIA   두산    7    6

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2018-3-13   LG   롯데    4    3
1   2018-3-13   두산  KIA    4    5
2   2018-3-13   SK   NC    8    4
3   2018-3-13   삼성   KT    2    3
4   2018-3-13   넥센   한화    5    4
..        ...  ...  ...  ...  ...
60  2018-3-31  KIA   LG    4    6
61  2018-3-31   NC   롯데   10    5
62  2018-3-31   두산   KT    8   20
63  2018-3-31   SK   한화   12    1
64  2018-3-31   넥센   삼성    4    2

[65 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2018-4-1  KIA   LG    5    6
1     2018-4-1   NC   롯데    2    3
2     2018-4-1   두산   KT    4    9
3     2018-4-1   SK   한화   13    1
4     2018-4-1   넥센   삼성    5    6
..         ...  ...  ...  ...  ...
111  2018-4-29   한화   롯데    3    4
112  2018-4-29  KIA   KT    3    5
113  2018-4-29   두산   NC    7    1
114  2018-4-29   SK   넥센    5    8
115  2018-4-29   삼성   LG    8    7

[116 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2018-5-1  KIA   롯데    0    4
1     2018-5-1   KT   두산    2    4
2     2018-5-1   LG   한화    5    6
3     2018-5-1   SK   삼성   12    3
4     2018-5-1   넥센   NC   13    4
..         ...  ...  ...  ...  ...
118  2018-5-31   KT   삼성    0    6
119  2018-5-31   LG   롯데   11   10
120  2018-5-31   NC   한화    5    4
121  2018-5-31   SK   두산    4    6
122  2018-5-31   넥센  KIA    0    5

[123 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2018-6-1   한화   롯데   13    6
1     2018-6-1   KT   SK    1    8
2     2018-6-1   두산  KIA    5    3
3     2018-6-1   삼성   NC    5    3
4     2018-6-1   넥센   LG    1    3
..         ...  ...  ...  ...  ...
118  2018-6-29   넥센   삼성    8    7
119  2018-6-30  KIA   두산    2   12
120  2018-6-30   LG   SK    3    6
121  2018-6-30   롯데   한화    5    6
122  2018-6-30   NC   KT    0    1

[123 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2018-7-1   넥센   삼성    3    1
1     2018-7-3   한화  KIA    2    9
2     2018-7-3   NC   LG   13    6
3     2018-7-3   SK   넥센    9    3
4     2018-7-4   한화  KIA    4    6
..         ...  ...  ...  ...  ...
105  2018-7-31   KT   한화    5    4
106  2018-7-31   LG   두산    2    6
107  2018-7-31   롯데  KIA    1    4
108  2018-7-31   NC   삼성    4    4
109  2018-7-31   넥센   SK    3    1

[110 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2018-8-1   KT   한화    3    4
1    2018-8-1   LG   두산    8   14
2    2018-8-1   롯데  KIA    1    8
3    2018-8-1   NC   삼성    9    5
4    2018-8-1   넥센   SK    8   14
..        ...  ...  ...  ...  ...
58  2018-8-16   한화   삼성    2    5
59  2018-8-16  KIA   롯데    6    8
60  2018-8-16   LG   SK   14    3
61  2018-8-16   NC   KT    3    5
62  2018-8-16   넥센   두산    2    8

[63 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2018-9-4  KIA   두산   10    5
1     2018-9-4   LG   KT    3    4
2     2018-9-4   롯데   한화    4    6
3     2018-9-4   삼성   NC    5    3
4     2018-9-4   넥센   SK    7    3
..         ...  ...  ...  ...  ...
112  2018-9-30   한화  KIA    4    6
113  2018-9-30   LG   두산    1    7
114  2018-9-30   롯데   KT    8    7
115  2018-9-30   NC   넥센    2    8
116  2018-9-30   SK   삼성    8    4

[117 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2018-10-2   KT   LG    6   10
1    2018-10-2   롯데   SK    8    6
2    2018-10-2   NC  KIA    6    5
3    2018-10-3  KIA   삼성    5   20
4    2018-10-3   KT   LG    4    3
5    2018-10-3   롯데   한화    6    7
6    2018-10-4  KIA   SK    7    3
7    2018-10-4   롯데   한화    7    2
8    2018-10-6  KIA   SK    8    4
9    2018-10-6   한화   롯데    5    8
10   2018-10-6   LG   두산    3    1
11   2018-10-6   삼성   KT    1    6
12   2018-10-6   넥센   NC    5    6
13   2018-10-6  KIA   SK    5    7
14   2018-10-7  KIA   두산    4    7
15   2018-10-7   롯데   NC    8    2
16   2018-10-9   한화   KT   10    6
17   2018-10-9  KIA   롯데   10   11
18   2018-10-9   삼성   SK    8    4
19  2018-10-10   KT   롯데   10    1
20  2018-10-10   KT   롯데    7    0
21  2018-10-10   한화  KIA    1    6
22  2018-10-10   SK   두산   12    5
23  2018-10-11   롯데  KIA    4    0
24  2018-10-11   SK   두산    3    8
25  2018-10-12   롯데  KIA    4    6
26  2018-10-12   NC   두산    2   13
27  2018-10-12   넥센   KT   10    5
28  2018-10-13   KT   두산    4    3
29  2018-10-13   LG   SK    3    2
30  2018-10-13   롯데  KIA    5    1
31  2018-10-13   NC   한화    8   10
32  2018-10-13   넥센   삼성    5   12
33  2018-10-14   두산   롯데    5    1
34  2018-10-16  KIA   넥센    6   10
35  2018-10-19   넥센   한화    3    2
36  2018-10-20   넥센   한화    7    5
37  2018-10-22   한화   넥센    4    3
38  2018-10-23   한화   넥센    2    5
39  2018-10-27   넥센   SK    8   10
40  2018-10-28   넥센   SK    1    5
41  2018-10-30   SK   넥센    2    3
42  2018-10-31   SK   넥센    2    4

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2018-11-2   넥센   SK   10   11
1   2018-11-4   SK   두산    7    3
2   2018-11-5   SK   두산    3    7
3   2018-11-7   두산   SK    2    7
4   2018-11-9   두산   SK    2    1
5  2018-11-10   두산   SK    1    4
6  2018-11-12   SK   두산    5    4

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2018-11-2   넥센   SK   10   11
1   2018-11-4   SK   두산    7    3
2   2018-11-5   SK   두산    3    7
3   2018-11-7   두산   SK    2    7
4   2018-11-9   두산   SK    2    1
5  2018-11-10   두산   SK    1    4
6  2018-11-12   SK   두산    5    4

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2018-11-2   넥센   SK   10   11
1   2018-11-4   SK   두산    7    3
2   2018-11-5   SK   두산    3    7
3   2018-11-7   두산   SK    2    7
4   2018-11-9   두산   SK    2    1
5  2018-11-10   두산   SK    1    4
6  2018-11-12   SK   두산    5    4

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2018-11-2   넥센   SK   10   11
1   2018-11-4   SK   두산    7    3
2   2018-11-5   SK   두산    3    7
3   2018-11-7   두산   SK    2    7
4   2018-11-9   두산   SK    2    1
5  2018-11-10   두산   SK    1    4
6  2018-11-12   SK   두산    5    4

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2018-10-16  KIA   넥센    6   10

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2018-10-19   넥센   한화    3    2
1  2018-10-20   넥센   한화    7    5
2  2018-10-22   한화   넥센    4    3
3  2018-10-23   한화   넥센    2    5

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2018-10-27   넥센   SK    8   10
1  2018-10-28   넥센   SK    1    5
2  2018-10-30   SK   넥센    2    3
3  2018-10-31   SK   넥센    2    4
4   2018-11-2   넥센   SK   10   11

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2018-11-4   SK   두산    7    3
1   2018-11-5   SK   두산    3    7
2   2018-11-7   두산   SK    2    7
3   2018-11-9   두산   SK    2    1
4  2018-11-10   두산   SK    1    4
5  2018-11-12   SK   두산    5    4

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2019-3-12   KT   삼성   12   13
1   2019-3-12   LG   키움    1    4
2   2019-3-12   NC   롯데    4    6
3   2019-3-12   두산   한화    2    3
4   2019-3-12   SK  KIA    1    4
..        ...  ...  ...  ...  ...
72  2019-3-31  KIA   KT    4    2
73  2019-3-31   롯데   LG    5    6
74  2019-3-31   NC   한화    6    3
75  2019-3-31   두산   삼성    9    4
76  2019-3-31   SK   키움    8    7

[77 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2019-4-2  KIA   삼성    4    1
1     2019-4-2   KT   두산    0    9
2     2019-4-2   LG   한화    2    6
3     2019-4-2   롯데   SK    5    0
4     2019-4-2   키움   NC    8    6
..         ...  ...  ...  ...  ...
108  2019-4-30   KT   LG    9   10
109  2019-4-30   NC   롯데    1    6
110  2019-4-30   두산   한화    1    2
111  2019-4-30   삼성  KIA    0    8
112  2019-4-30   키움   SK   15    5

[113 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2019-5-1   KT   LG    2    3
1     2019-5-1   NC   롯데    9    5
2     2019-5-1   두산   한화    1    4
3     2019-5-1   삼성  KIA   10    2
4     2019-5-1   키움   SK    0    2
..         ...  ...  ...  ...  ...
127  2019-5-31   한화   SK    1    2
128  2019-5-31   NC   LG    2    3
129  2019-5-31   두산   KT    2    3
130  2019-5-31   삼성   롯데    1    6
131  2019-5-31   키움  KIA    2    3

[132 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2019-6-1   한화   SK    6    0
1     2019-6-1   NC   LG    1    5
2     2019-6-1   두산   KT    3   13
3     2019-6-1   삼성   롯데    2    5
4     2019-6-1   키움  KIA    4    0
..         ...  ...  ...  ...  ...
118  2019-6-30  KIA   KT    3    4
119  2019-6-30   LG   NC    1    9
120  2019-6-30   롯데   두산    4    0
121  2019-6-30   SK   삼성   14    7
122  2019-6-30   키움   한화    6    4

[123 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2019-7-2   한화   LG    2    9
1    2019-7-2   롯데   SK    1   10
2    2019-7-2   NC  KIA    3    5
3    2019-7-2   두산   키움    3    6
4    2019-7-2   삼성   KT    3    5
..        ...  ...  ...  ...  ...
87  2019-7-31   한화   KT    5    2
88  2019-7-31  KIA   SK    6    2
89  2019-7-31   롯데   삼성    8    4
90  2019-7-31   두산   NC    4    8
91  2019-7-31   키움   LG    8    0

[92 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2019-8-1   한화   KT    3    1
1     2019-8-1  KIA   SK    1   10
2     2019-8-1   롯데   삼성    9    4
3     2019-8-1   두산   NC    3    2
4     2019-8-1   키움   LG    5   11
..         ...  ...  ...  ...  ...
117  2019-8-31   KT   한화    6    1
118  2019-8-31   LG   SK    6    4
119  2019-8-31   롯데  KIA    2    4
120  2019-8-31   삼성   두산    3    5
121  2019-8-31   키움   NC    9    3

[122 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2019-9-1   KT   한화    1    6
1    2019-9-1   LG   SK    6    9
2    2019-9-1   롯데  KIA    2    4
3    2019-9-1   삼성   두산    1    4
4    2019-9-1   키움   NC    2    4
..        ...  ...  ...  ...  ...
92  2019-9-29   SK   한화    2    0
93  2019-9-29   삼성   KT    0    7
94  2019-9-29   키움   롯데    4    1
95  2019-9-30   롯데   LG    0    2
96  2019-9-30   SK   한화    6    2

[97 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2019-10-1   NC   두산    5    6
1    2019-10-1   키움   롯데    3    1
2    2019-10-3   NC   LG    1    3
3    2019-10-6   LG   키움    0    1
4    2019-10-7   LG   키움    4    5
5    2019-10-9   키움   LG    2    4
6   2019-10-10   키움   LG   10    5
7   2019-10-14   키움   SK    3    0
8   2019-10-15   키움   SK    8    7
9   2019-10-17   SK   키움    1   10
10  2019-10-22   키움   두산    6    7
11  2019-10-23   키움   두산    5    6
12  2019-10-25   두산   키움    5    0
13  2019-10-26   두산   키움   11    9

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2019-10-1   NC   두산    5    6
1    2019-10-1   키움   롯데    3    1
2    2019-10-3   NC   LG    1    3
3    2019-10-6   LG   키움    0    1
4    2019-10-7   LG   키움    4    5
5    2019-10-9   키움   LG    2    4
6   2019-10-10   키움   LG   10    5
7   2019-10-14   키움   SK    3    0
8   2019-10-15   키움   SK    8    7
9   2019-10-17   SK   키움    1   10
10  2019-10-22   키움   두산    6    7
11  2019-10-23   키움   두산    5    6
12  2019-10-25   두산   키움    5    0
13  2019-10-26   두산   키움   11    9

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2019-10-1   NC   두산    5    6
1    2019-10-1   키움   롯데    3    1
2    2019-10-3   NC   LG    1    3
3    2019-10-6   LG   키움    0    1
4    2019-10-7   LG   키움    4    5
5    2019-10-9   키움   LG    2    4
6   2019-10-10   키움   LG   10    5
7   2019-10-14   키움   SK    3    0
8   2019-10-15   키움   SK    8    7
9   2019-10-17   SK   키움    1   10
10  2019-10-22   키움   두산    6    7
11  2019-10-23   키움   두산    5    6
12  2019-10-25   두산   키움    5    0
13  2019-10-26   두산   키움   11    9

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2019-10-1   NC   두산    5    6
1    2019-10-1   키움   롯데    3    1
2    2019-10-3   NC   LG    1    3
3    2019-10-6   LG   키움    0    1
4    2019-10-7   LG   키움    4    5
5    2019-10-9   키움   LG    2    4
6   2019-10-10   키움   LG   10    5
7   2019-10-14   키움   SK    3    0
8   2019-10-15   키움   SK    8    7
9   2019-10-17   SK   키움    1   10
10  2019-10-22   키움   두산    6    7
11  2019-10-23   키움   두산    5    6
12  2019-10-25   두산   키움    5    0
13  2019-10-26   두산   키움   11    9

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2019-10-1   NC   두산    5    6
1    2019-10-1   키움   롯데    3    1
2    2019-10-3   NC   LG    1    3
3    2019-10-6   LG   키움    0    1
4    2019-10-7   LG   키움    4    5
5    2019-10-9   키움   LG    2    4
6   2019-10-10   키움   LG   10    5
7   2019-10-14   키움   SK    3    0
8   2019-10-15   키움   SK    8    7
9   2019-10-17   SK   키움    1   10
10  2019-10-22   키움   두산    6    7
11  2019-10-23   키움   두산    5    6
12  2019-10-25   두산   키움    5    0
13  2019-10-26   두산   키움   11    9

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2019-10-3   NC   LG    1    3

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2019-10-6   LG   키움    0    1
1   2019-10-7   LG   키움    4    5
2   2019-10-9   키움   LG    2    4
3  2019-10-10   키움   LG   10    5

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2019-10-14   키움   SK    3    0
1  2019-10-15   키움   SK    8    7
2  2019-10-17   SK   키움    1   10

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2019-10-22   키움   두산    6    7
1  2019-10-23   키움   두산    5    6
2  2019-10-25   두산   키움    5    0
3  2019-10-26   두산   키움   11    9

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2020-4-21   한화   KT    2    4
1   2020-4-21   두산   LG    2    5
2   2020-4-21   삼성  KIA    4    2
3   2020-4-21   키움   SK    3    6
4   2020-4-21   롯데   NC    8    0
5   2020-4-22   키움   두산    0    5
6   2020-4-22   LG   KT    3   10
7   2020-4-23  KIA   한화    6    6
8   2020-4-23   삼성   롯데    5    3
9   2020-4-24   SK   LG    4    3
10  2020-4-24   NC   롯데    3   11
11  2020-4-25   한화   삼성    0    3
12  2020-4-25  KIA   NC    1    2
13  2020-4-25   KT   두산    1    8
14  2020-4-25   SK   키움    2    8
15  2020-4-27   KT   한화    3    3
16  2020-4-27   롯데   삼성   12    5
17  2020-4-27   두산   SK    7    5
18  2020-4-27   LG   키움    2    3
19  2020-4-27   NC  KIA    6    8
20  2020-4-29  KIA   삼성    4    3
21  2020-4-29   KT   SK    4    0
22  2020-4-29   LG   한화    4    3
23  2020-4-29   롯데   NC    4    1
24  2020-4-29   두산   키움    6   10

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2020-5-1   한화   KT   13   15
1     2020-5-1   NC  KIA    0    4
2     2020-5-1   삼성   롯데    7    8
3     2020-5-1   키움   SK    5    3
4     2020-5-1   두산   LG    2    3
..         ...  ...  ...  ...  ...
117  2020-5-31   한화   SK    4    6
118  2020-5-31   KT   키움   12    8
119  2020-5-31   LG  KIA   13    5
120  2020-5-31   롯데   두산    8    3
121  2020-5-31   NC   삼성   18    7

[122 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2020-6-2   롯데  KIA    2    7
1     2020-6-2   두산   KT   11    8
2     2020-6-2   SK   NC    8    2
3     2020-6-2   삼성   LG    2    0
4     2020-6-2   키움   한화   15    3
..         ...  ...  ...  ...  ...
116  2020-6-28   삼성   롯데    3    7
117  2020-6-30   KT   LG    3    4
118  2020-6-30   롯데   NC   10    8
119  2020-6-30   두산   키움    2   11
120  2020-6-30   SK   삼성    1    4

[121 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2020-7-1   한화  KIA    3    4
1     2020-7-1   KT   LG   11    5
2     2020-7-1   롯데   NC    2    6
3     2020-7-1   두산   키움   14    5
4     2020-7-1   SK   삼성    1    7
..         ...  ...  ...  ...  ...
111  2020-7-31   한화   LG    2    1
112  2020-7-31  KIA   롯데    3    2
113  2020-7-31   두산   NC    7   10
114  2020-7-31   SK   KT    1   11
115  2020-7-31   키움   삼성   10    3

[116 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2020-8-1   한화   LG    6    9
1     2020-8-1  KIA   롯데    3    7
2     2020-8-1   두산   NC   12   10
3     2020-8-1   SK   KT    0   11
4     2020-8-1   키움   삼성   22    7
..         ...  ...  ...  ...  ...
114  2020-8-30   한화   롯데    2    6
115  2020-8-30   SK   NC    4    7
116  2020-8-30   삼성   키움    2    3
117  2020-8-30   두산   LG    1    4
118  2020-8-30   KT  KIA    5    7

[119 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2020-9-1   한화   두산    0    4
1     2020-9-1   LG   SK   13    5
2     2020-9-1   롯데   KT    2   11
3     2020-9-1   NC   키움    5    2
4     2020-9-1   삼성  KIA    0    6
..         ...  ...  ...  ...  ...
123  2020-9-30  KIA   키움    3    2
124  2020-9-30   KT   삼성    5    3
125  2020-9-30   롯데   LG    3    5
126  2020-9-30   두산   한화    0   10
127  2020-9-30   SK   NC    3   12

[128 rows x 5 columns]

           경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2020-10-1  KIA   키움    3    1
1     2020-10-1   KT   삼성    6    7
2     2020-10-1   롯데   LG    3    2
3     2020-10-1   두산   한화    4   12
4     2020-10-1   SK   NC    2   10
..          ...  ...  ...  ...  ...
114  2020-10-30   KT   한화    3    4
115  2020-10-30   LG   SK    2    3
116  2020-10-30   NC   삼성    4    4
117  2020-10-30   키움   두산    0    2
118  2020-10-31   NC  KIA    3    4

[119 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2020-11-2   키움   LG    3    4
1    2020-11-4   LG   두산    0    4
2    2020-11-5   두산   LG    9    7
3    2020-11-9   두산   KT    3    2
4   2020-11-10   두산   KT    4    1
5   2020-11-12   KT   두산    5    2
6   2020-11-13   KT   두산    0    2
7   2020-11-17   두산   NC    3    5
8   2020-11-18   두산   NC    5    4
9   2020-11-20   NC   두산    6    7
10  2020-11-21   NC   두산    3    0
11  2020-11-23   두산   NC    0    5
12  2020-11-24   두산   NC    2    4

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2020-11-2   키움   LG    3    4
1    2020-11-4   LG   두산    0    4
2    2020-11-5   두산   LG    9    7
3    2020-11-9   두산   KT    3    2
4   2020-11-10   두산   KT    4    1
5   2020-11-12   KT   두산    5    2
6   2020-11-13   KT   두산    0    2
7   2020-11-17   두산   NC    3    5
8   2020-11-18   두산   NC    5    4
9   2020-11-20   NC   두산    6    7
10  2020-11-21   NC   두산    3    0
11  2020-11-23   두산   NC    0    5
12  2020-11-24   두산   NC    2    4

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2020-11-2   키움   LG    3    4
1    2020-11-4   LG   두산    0    4
2    2020-11-5   두산   LG    9    7
3    2020-11-9   두산   KT    3    2
4   2020-11-10   두산   KT    4    1
5   2020-11-12   KT   두산    5    2
6   2020-11-13   KT   두산    0    2
7   2020-11-17   두산   NC    3    5
8   2020-11-18   두산   NC    5    4
9   2020-11-20   NC   두산    6    7
10  2020-11-21   NC   두산    3    0
11  2020-11-23   두산   NC    0    5
12  2020-11-24   두산   NC    2    4

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2020-11-2   키움   LG    3    4
1    2020-11-4   LG   두산    0    4
2    2020-11-5   두산   LG    9    7
3    2020-11-9   두산   KT    3    2
4   2020-11-10   두산   KT    4    1
5   2020-11-12   KT   두산    5    2
6   2020-11-13   KT   두산    0    2
7   2020-11-17   두산   NC    3    5
8   2020-11-18   두산   NC    5    4
9   2020-11-20   NC   두산    6    7
10  2020-11-21   NC   두산    3    0
11  2020-11-23   두산   NC    0    5
12  2020-11-24   두산   NC    2    4

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2020-11-2   키움   LG    3    4

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2020-11-4   LG   두산    0    4
1  2020-11-5   두산   LG    9    7

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2020-11-9   두산   KT    3    2
1  2020-11-10   두산   KT    4    1
2  2020-11-12   KT   두산    5    2
3  2020-11-13   KT   두산    0    2

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2020-11-17   두산   NC    3    5
1  2020-11-18   두산   NC    5    4
2  2020-11-20   NC   두산    6    7
3  2020-11-21   NC   두산    3    0
4  2020-11-23   두산   NC    0    5
5  2020-11-24   두산   NC    2    4

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2021-3-21  KIA   삼성    7   10
1   2021-3-21   KT   두산    4    2
2   2021-3-21   LG   한화    2    3
3   2021-3-21  SSG   NC    3   11
4   2021-3-21   키움   롯데    1    6
5   2021-3-22   한화   두산   12    5
6   2021-3-22  KIA   NC    7    0
7   2021-3-22   LG   KT    3    9
8   2021-3-22  SSG   롯데    3   10
9   2021-3-22   키움   삼성    5    5
10  2021-3-23   한화   두산    4    3
11  2021-3-23  KIA   NC   11    1
12  2021-3-23   LG   KT    4    4
13  2021-3-23  SSG   롯데    2    3
14  2021-3-23   키움   삼성    3    3
15  2021-3-25   한화   KT    5   12
16  2021-3-25   LG   두산    6    3
17  2021-3-25   롯데  KIA    3    1
18  2021-3-25   삼성  SSG    6    3
19  2021-3-25   키움   NC    9    4
20  2021-3-26   한화   KT    6    5
21  2021-3-26   롯데  KIA    4    9
22  2021-3-26   두산   LG    7    3
23  2021-3-26   삼성  SSG   10   10
24  2021-3-26   키움   NC    7    7
25  2021-3-28   롯데   한화    0    2
26  2021-3-28   NC   KT    3   14
27  2021-3-28   삼성   LG    5    6
28  2021-3-28   키움  KIA    3    1
29  2021-3-29  SSG   LG    1    2
30  2021-3-30  SSG   LG    3    2
31  2021-3-30   KT  KIA    6    3
32  2021-3-30   두산   삼성    6    5
33  2021-3-30   키움   한화    2    9
34  2021-3-30   NC   롯데    3    3

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2021-4-3   삼성   키움    1    6
1     2021-4-4   한화   KT    2    3
2     2021-4-4  KIA   두산    1    4
3     2021-4-4   LG   NC    2    1
4     2021-4-4   롯데  SSG    3    5
..         ...  ...  ...  ...  ...
111  2021-4-30   한화   롯데   11    7
112  2021-4-30  KIA   KT    3   15
113  2021-4-30   LG   삼성    0    4
114  2021-4-30  SSG   두산    4    9
115  2021-4-30   키움   NC    4    3

[116 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2021-5-1   한화   롯데   11    3
1     2021-5-1  KIA   KT    0    3
2     2021-5-1   LG   삼성    2    8
3     2021-5-1  SSG   두산    5    2
4     2021-5-1   키움   NC   13    9
..         ...  ...  ...  ...  ...
108  2021-5-30   KT  KIA    4    3
109  2021-5-30   NC   롯데    5    4
110  2021-5-30   두산   삼성    4    2
111  2021-5-30  SSG   한화    5    1
112  2021-5-30   키움   LG    2    8

[113 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2021-6-1  KIA   한화    1    9
1     2021-6-1   KT   LG    8    1
2     2021-6-1   롯데   키움    3    0
3     2021-6-1   두산   NC    4    3
4     2021-6-1   삼성  SSG    0    1
..         ...  ...  ...  ...  ...
117  2021-6-30   삼성  SSG    3    3
118  2021-6-30   KT   LG    4    3
119  2021-6-30   롯데   키움    5    6
120  2021-6-30   두산   한화    8    6
121  2021-6-30   삼성  SSG    4    8

[122 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2021-7-1   KT   LG    6    1
1    2021-7-1   롯데   키움    1   13
2    2021-7-1   NC  KIA    3    6
3    2021-7-1   두산   한화   10    3
4    2021-7-1   삼성  SSG    8    7
5    2021-7-2   한화   LG    5    3
6    2021-7-2   롯데  SSG    6    5
7    2021-7-2   두산  KIA    3    8
8    2021-7-2   키움   KT    1    4
9    2021-7-2   삼성   NC    5    2
10   2021-7-4   한화   LG    0    5
11   2021-7-4   롯데  SSG    6    4
12   2021-7-4   두산  KIA    3    7
13   2021-7-4   삼성   NC    5    0
14   2021-7-4   키움   KT    3   12
15   2021-7-5   한화   LG    6    7
16   2021-7-5   롯데  SSG    4   10
17   2021-7-5   키움   KT   15    5
18   2021-7-6   NC   두산    7    3
19   2021-7-6  SSG   키움    0    4
20   2021-7-7  KIA   한화    4    1
21   2021-7-7   NC   두산    2    4
22   2021-7-7  SSG   키움    2    8
23   2021-7-8   KT   삼성    3    2
24   2021-7-8  SSG   키움    9    3
25   2021-7-9   한화  SSG    9    3
26   2021-7-9   KT  KIA    4   10
27   2021-7-9   롯데   삼성    9    5
28  2021-7-10   한화  SSG    3    1
29  2021-7-10   롯데   삼성    2    3
30  2021-7-11   한화  SSG    2    8
31  2021-7-11   KT  KIA    0    2
32  2021-7-11   롯데   삼성    0   11

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2021-8-10   한화  KIA    1    4
1   2021-8-10   KT   키움    1    3
2   2021-8-10   롯데   NC    5    2
3   2021-8-10  SSG   LG    0    4
4   2021-8-11   한화  KIA    7    7
..        ...  ...  ...  ...  ...
76  2021-8-29   삼성   KT    3    8
77  2021-8-29   키움   LG    2   11
78  2021-8-31   KT   한화    2    5
79  2021-8-31   LG   롯데    9    4
80  2021-8-31   키움   삼성    2    3

[81 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2021-9-1  KIA   두산    0    5
1     2021-9-1   NC  SSG    9    2
2     2021-9-1   키움   삼성    1    7
3     2021-9-1  KIA   두산    3    2
4     2021-9-1   KT   한화    8    3
..         ...  ...  ...  ...  ...
127  2021-9-30   한화   삼성    2    6
128  2021-9-30   KT   롯데    4    8
129  2021-9-30   두산   LG    4   12
130  2021-9-30  SSG   NC    2    6
131  2021-9-30   키움  KIA    2    0

[132 rows x 5 columns]

           경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2021-10-1   KT   롯데    3    4
1     2021-10-1   한화   삼성    8    2
2     2021-10-1   KT   롯데    2    3
3     2021-10-1   두산   LG    2    0
4     2021-10-1   키움  KIA    0    6
..          ...  ...  ...  ...  ...
119  2021-10-30   LG   롯데    2    4
120  2021-10-30   두산   한화    5    3
121  2021-10-30   삼성   NC   11    5
122  2021-10-30   키움  KIA    6    1
123  2021-10-31   KT   삼성    1    0

[124 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2021-11-1   키움   두산    7    4
1    2021-11-2   키움   두산    8   16
2    2021-11-4   두산   LG    5    1
3    2021-11-5   LG   두산    9    3
4    2021-11-7   두산   LG   10    3
5    2021-11-9   두산   삼성    6    4
6   2021-11-10   삼성   두산    3   11
7   2021-11-14   두산   KT    2    4
8   2021-11-15   두산   KT    1    6
9   2021-11-17   KT   두산    3    1
10  2021-11-18   KT   두산    8    4

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2021-11-1   키움   두산    7    4
1    2021-11-2   키움   두산    8   16
2    2021-11-4   두산   LG    5    1
3    2021-11-5   LG   두산    9    3
4    2021-11-7   두산   LG   10    3
5    2021-11-9   두산   삼성    6    4
6   2021-11-10   삼성   두산    3   11
7   2021-11-14   두산   KT    2    4
8   2021-11-15   두산   KT    1    6
9   2021-11-17   KT   두산    3    1
10  2021-11-18   KT   두산    8    4

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2021-11-1   키움   두산    7    4
1    2021-11-2   키움   두산    8   16
2    2021-11-4   두산   LG    5    1
3    2021-11-5   LG   두산    9    3
4    2021-11-7   두산   LG   10    3
5    2021-11-9   두산   삼성    6    4
6   2021-11-10   삼성   두산    3   11
7   2021-11-14   두산   KT    2    4
8   2021-11-15   두산   KT    1    6
9   2021-11-17   KT   두산    3    1
10  2021-11-18   KT   두산    8    4

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2021-11-1   키움   두산    7    4
1    2021-11-2   키움   두산    8   16
2    2021-11-4   두산   LG    5    1
3    2021-11-5   LG   두산    9    3
4    2021-11-7   두산   LG   10    3
5    2021-11-9   두산   삼성    6    4
6   2021-11-10   삼성   두산    3   11
7   2021-11-14   두산   KT    2    4
8   2021-11-15   두산   KT    1    6
9   2021-11-17   KT   두산    3    1
10  2021-11-18   KT   두산    8    4

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2021-11-1   키움   두산    7    4
1  2021-11-2   키움   두산    8   16

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2021-11-4   두산   LG    5    1
1  2021-11-5   LG   두산    9    3
2  2021-11-7   두산   LG   10    3

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2021-11-9   두산   삼성    6    4
1  2021-11-10   삼성   두산    3   11

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2021-11-14   두산   KT    2    4
1  2021-11-15   두산   KT    1    6
2  2021-11-17   KT   두산    3    1
3  2021-11-18   KT   두산    8    4

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2022-3-12   한화   삼성    9    7
1   2022-3-12  KIA   NC    7    0
2   2022-3-12   LG   KT    5    0
3   2022-3-12   두산   키움    2    5
4   2022-3-12  SSG   롯데    8    5
..        ...  ...  ...  ...  ...
61  2022-3-29   KT   키움    5    6
62  2022-3-29   LG   한화    7    3
63  2022-3-29   NC   두산    5    3
64  2022-3-29  SSG  KIA    3    4
65  2022-3-29   롯데   삼성    6    1

[66 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2022-4-2   한화   두산    4    6
1     2022-4-2   LG  KIA    9    0
2     2022-4-2   롯데   키움    7    2
3     2022-4-2  SSG   NC    4    0
4     2022-4-2   삼성   KT    1    4
..         ...  ...  ...  ...  ...
118  2022-4-30   삼성  KIA    5    4
119  2022-4-30   한화   NC    2    0
120  2022-4-30   KT   키움    1    4
121  2022-4-30   롯데   LG    3    1
122  2022-4-30   두산  SSG    1    2

[123 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2022-5-1   한화   NC    2    1
1     2022-5-1   KT   키움    3    9
2     2022-5-1   롯데   LG    4    0
3     2022-5-1   두산  SSG    9    0
4     2022-5-1   삼성  KIA    6    3
..         ...  ...  ...  ...  ...
124  2022-5-31  KIA   두산   13   10
125  2022-5-31   KT  SSG    2    1
126  2022-5-31   LG   롯데    5    7
127  2022-5-31   NC   한화   10    5
128  2022-5-31   삼성   키움    2    3

[129 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2022-6-1  KIA   두산    7    3
1     2022-6-1   KT  SSG    1    2
2     2022-6-1   LG   롯데   14    5
3     2022-6-1   NC   한화    0    3
4     2022-6-1   삼성   키움    4    2
..         ...  ...  ...  ...  ...
112  2022-6-29   KT   삼성    2    8
113  2022-6-29  SSG   한화    8    3
114  2022-6-30  KIA   키움    4    5
115  2022-6-30   KT   삼성   13    2
116  2022-6-30   두산   롯데    1    5

[117 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2022-7-1   한화   키움    5    7
1    2022-7-1  KIA  SSG    6    7
2    2022-7-1   롯데   LG    1    2
3    2022-7-1   두산   KT    7   11
4    2022-7-2   한화   키움    0    3
..        ...  ...  ...  ...  ...
91  2022-7-30   두산   한화    1   11
92  2022-7-30  SSG  KIA    7    5
93  2022-7-30   키움   NC    3    3
94  2022-7-31   롯데   삼성    5    5
95  2022-7-31  SSG  KIA    3    2

[96 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2022-8-2  KIA   한화    4    5
1     2022-8-2   LG   롯데    3    4
2     2022-8-2  SSG   키움    7    5
3     2022-8-3  KIA   한화    6    3
4     2022-8-3   KT   NC   15    2
..         ...  ...  ...  ...  ...
104  2022-8-31  KIA   한화    4    3
105  2022-8-31   롯데   키움    4    5
106  2022-8-31   NC   LG    3    5
107  2022-8-31   두산   KT    2    5
108  2022-8-31  SSG   삼성    1    2

[109 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2022-9-1   한화   키움    1    7
1     2022-9-1   LG   KT    3    1
2     2022-9-1   롯데   두산    1    2
3     2022-9-1   NC  SSG    3    2
4     2022-9-1   삼성  KIA    4    1
..         ...  ...  ...  ...  ...
114  2022-9-29   키움  SSG   14    9
115  2022-9-30   롯데   한화    6    5
116  2022-9-30   NC   LG    1    2
117  2022-9-30   두산   삼성    3   11
118  2022-9-30   키움  SSG    3    7

[119 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2022-10-1   NC   LG    2    1
1    2022-10-1   두산   삼성    3    4
2    2022-10-1  SSG  KIA    3    2
3    2022-10-2  KIA   한화   10    1
4    2022-10-2   NC   LG    2    0
5    2022-10-2   두산   롯데    1    3
6    2022-10-3   두산   롯데    9    3
7    2022-10-3  SSG   한화    4    7
8    2022-10-4  KIA   LG    8    3
9    2022-10-4   삼성   KT    3    7
10   2022-10-5   LG  KIA   10    2
11   2022-10-5   롯데   NC    3    7
12   2022-10-5  SSG   두산    2    5
13   2022-10-5   삼성   KT    7    4
14   2022-10-6   LG  KIA    3    4
15   2022-10-6  SSG   NC    1    6
16   2022-10-6   삼성   두산    4    5
17   2022-10-6   키움   한화    2    3
18   2022-10-7   KT  KIA    1   11
19   2022-10-7   LG   NC    7    2
20   2022-10-7   삼성   두산    8    2
21   2022-10-8   한화   NC    5    6
22   2022-10-8   KT  KIA    7    2
23   2022-10-8   LG   롯데    2    3
24   2022-10-8  SSG   삼성    1    6
25   2022-10-8   키움   두산    5    1
26  2022-10-10   NC   KT    2    5
27  2022-10-11   KT   LG    5    6
28  2022-10-13  KIA   KT    2    6
29  2022-10-16   KT   키움    4    8
30  2022-10-17   KT   키움    2    0
31  2022-10-19   키움   KT    9    2
32  2022-10-20   키움   KT    6    9
33  2022-10-22   KT   키움    3    4
34  2022-10-24   키움   LG    3    6
35  2022-10-25   키움   LG    7    6
36  2022-10-27   LG   키움    4    6
37  2022-10-28   LG   키움    1    4

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2022-11-1   키움  SSG    7    6
1  2022-11-2   키움  SSG    1    6
2  2022-11-4  SSG   키움    8    2
3  2022-11-5  SSG   키움    3    6
4  2022-11-7   키움  SSG    4    5
5  2022-11-8   키움  SSG    3    4

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2022-11-1   키움  SSG    7    6
1  2022-11-2   키움  SSG    1    6
2  2022-11-4  SSG   키움    8    2
3  2022-11-5  SSG   키움    3    6
4  2022-11-7   키움  SSG    4    5
5  2022-11-8   키움  SSG    3    4

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2022-11-1   키움  SSG    7    6
1  2022-11-2   키움  SSG    1    6
2  2022-11-4  SSG   키움    8    2
3  2022-11-5  SSG   키움    3    6
4  2022-11-7   키움  SSG    4    5
5  2022-11-8   키움  SSG    3    4

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2022-11-1   키움  SSG    7    6
1  2022-11-2   키움  SSG    1    6
2  2022-11-4  SSG   키움    8    2
3  2022-11-5  SSG   키움    3    6
4  2022-11-7   키움  SSG    4    5
5  2022-11-8   키움  SSG    3    4

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2022-10-13  KIA   KT    2    6

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2022-10-16   KT   키움    4    8
1  2022-10-17   KT   키움    2    0
2  2022-10-19   키움   KT    9    2
3  2022-10-20   키움   KT    6    9
4  2022-10-22   KT   키움    3    4

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2022-10-24   키움   LG    3    6
1  2022-10-25   키움   LG    7    6
2  2022-10-27   LG   키움    4    6
3  2022-10-28   LG   키움    1    4

        경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0  2022-11-1   키움  SSG    7    6
1  2022-11-2   키움  SSG    1    6
2  2022-11-4  SSG   키움    8    2
3  2022-11-5  SSG   키움    3    6
4  2022-11-7   키움  SSG    4    5
5  2022-11-8   키움  SSG    3    4

None

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2023-3-13  KIA   한화    1    6
1   2023-3-13   KT   키움    2    1
2   2023-3-13   LG   NC    4    2
3   2023-3-13   두산   롯데    5    3
4   2023-3-13  SSG   삼성    1    3
..        ...  ...  ...  ...  ...
62  2023-3-28   한화   삼성   14    3
63  2023-3-28  KIA   롯데    6    7
64  2023-3-28   NC   KT    3    2
65  2023-3-28   두산   키움    2    1
66  2023-3-28  SSG   LG    1    0

[67 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2023-4-1   한화   키움    2    3
1     2023-4-1  KIA  SSG    1    4
2     2023-4-1   LG   KT    6   11
3     2023-4-1   롯데   두산   10   12
4     2023-4-1   NC   삼성    8    0
..         ...  ...  ...  ...  ...
115  2023-4-30  KIA   LG   12    8
116  2023-4-30   NC   한화    4    1
117  2023-4-30   두산  SSG    2    0
118  2023-4-30   삼성   KT    1    0
119  2023-4-30   키움   롯데    3    5

[120 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2023-5-2   한화   두산    0    3
1     2023-5-2   KT  SSG   11    4
2     2023-5-2   LG   NC    5    3
3     2023-5-2   롯데  KIA    7    4
4     2023-5-2   키움   삼성    4    0
..         ...  ...  ...  ...  ...
108  2023-5-31   KT  KIA    1    7
109  2023-5-31   롯데   LG    7    1
110  2023-5-31   두산   NC    3    2
111  2023-5-31   삼성  SSG    3    2
112  2023-5-31   키움   한화   15    3

[113 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2023-6-1   롯데   LG    1    6
1     2023-6-1   삼성  SSG    2   14
2     2023-6-1   키움   한화    3    7
3     2023-6-2  KIA   롯데    2   14
4     2023-6-2   NC   LG    9    2
..         ...  ...  ...  ...  ...
116  2023-6-30   한화   삼성    6    1
117  2023-6-30  KIA   LG    4    5
118  2023-6-30   NC   KT    2    3
119  2023-6-30   두산   롯데    0    1
120  2023-6-30  SSG   키움    7    3

[121 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2023-7-1   한화   삼성   10    4
1    2023-7-1  KIA   LG    5    3
2    2023-7-1   NC   KT    6    7
3    2023-7-1   두산   롯데    2    1
4    2023-7-1  SSG   키움    3    6
..        ...  ...  ...  ...  ...
79  2023-7-30   삼성   키움   10    6
80  2023-7-30   한화  SSG    1    6
81  2023-7-30   KT   NC    5    2
82  2023-7-30   LG   두산   10    0
83  2023-7-30   롯데  KIA    3    6

[84 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2023-8-1  KIA   삼성   11    8
1     2023-8-1   NC   롯데    6    3
2     2023-8-1   두산   한화    8    3
3     2023-8-1  SSG   KT    0    8
4     2023-8-1   키움   LG    2    4
..         ...  ...  ...  ...  ...
108  2023-8-31   롯데   한화    5    2
109  2023-8-31   NC  KIA    3   13
110  2023-8-31   두산   LG    2    3
111  2023-8-31   삼성   KT    4    6
112  2023-8-31   키움  SSG    8    3

[113 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0     2023-9-1   한화   LG    0   10
1     2023-9-1  KIA  SSG   10    2
2     2023-9-1   KT   키움    2    6
3     2023-9-1   NC   삼성   10    0
4     2023-9-2   한화   LG    5    3
..         ...  ...  ...  ...  ...
105  2023-9-29  KIA   키움   13    5
106  2023-9-29   LG   두산    3    4
107  2023-9-30  KIA  SSG    3    4
108  2023-9-30   LG   두산    1    3
109  2023-9-30   NC   삼성    1    3

[110 rows x 5 columns]

          경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0    2023-10-1  KIA  SSG    5    6
1    2023-10-1   LG   두산    7    4
2    2023-10-1   NC   한화    3    4
3    2023-10-1   삼성   롯데    5    8
4    2023-10-1   키움   KT    3    6
..         ...  ...  ...  ...  ...
61  2023-10-22   NC  SSG    4    3
62  2023-10-23   NC  SSG    7    3
63  2023-10-25  SSG   NC    6    7
64  2023-10-30   NC   KT    9    5
65  2023-10-31   NC   KT    3    2

[66 rows x 5 columns]

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2023-11-2   KT   NC    3    0
1   2023-11-3   KT   NC   11    2
2   2023-11-5   NC   KT    2    3
3   2023-11-7   KT   LG    3    2
4   2023-11-8   KT   LG    4    5
5  2023-11-10   LG   KT    8    7
6  2023-11-11   LG   KT   15    4
7  2023-11-13   KT   LG    2    6

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2023-11-2   KT   NC    3    0
1   2023-11-3   KT   NC   11    2
2   2023-11-5   NC   KT    2    3
3   2023-11-7   KT   LG    3    2
4   2023-11-8   KT   LG    4    5
5  2023-11-10   LG   KT    8    7
6  2023-11-11   LG   KT   15    4
7  2023-11-13   KT   LG    2    6

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2023-11-2   KT   NC    3    0
1   2023-11-3   KT   NC   11    2
2   2023-11-5   NC   KT    2    3
3   2023-11-7   KT   LG    3    2
4   2023-11-8   KT   LG    4    5
5  2023-11-10   LG   KT    8    7
6  2023-11-11   LG   KT   15    4
7  2023-11-13   KT   LG    2    6

         경기날짜 팀1이름 팀2이름 팀1점수 팀2점수
0   2023-11-2   KT   NC    3    0
1   2023-11-3   KT   NC   11    2
2   2023-11-5   NC   KT    2    3
3   2023-11-7   KT   LG    3    2
4   2023-11-8   KT   LG    4    5
5  2023-11-10   LG   KT    8    7
6  2023-11-11   LG   KT   15    4
7  2023-11-13   KT   LG    2    6

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="content"]/div/div[4]/div[1]/div/div"}
  (Session info: chrome=143.0.7499.170); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#nosuchelementexception
Stacktrace:
0   chromedriver                        0x0000000104c08b2c cxxbridge1$str$ptr + 3033596
1   chromedriver                        0x0000000104c00b30 cxxbridge1$str$ptr + 3000832
2   chromedriver                        0x00000001046fab0c _RNvCsgXDX2mvAJAg_7___rustc35___rust_no_alloc_shim_is_unstable_v2 + 74196
3   chromedriver                        0x00000001047419c8 _RNvCsgXDX2mvAJAg_7___rustc35___rust_no_alloc_shim_is_unstable_v2 + 364688
4   chromedriver                        0x0000000104782968 _RNvCsgXDX2mvAJAg_7___rustc35___rust_no_alloc_shim_is_unstable_v2 + 630832
5   chromedriver                        0x000000010473616c _RNvCsgXDX2mvAJAg_7___rustc35___rust_no_alloc_shim_is_unstable_v2 + 317492
6   chromedriver                        0x0000000104bcc098 cxxbridge1$str$ptr + 2785128
7   chromedriver                        0x0000000104bcf804 cxxbridge1$str$ptr + 2799316
8   chromedriver                        0x0000000104bac850 cxxbridge1$str$ptr + 2656032
9   chromedriver                        0x0000000104bd0074 cxxbridge1$str$ptr + 2801476
10  chromedriver                        0x0000000104b9d1cc cxxbridge1$str$ptr + 2592924
11  chromedriver                        0x0000000104befcb4 cxxbridge1$str$ptr + 2931588
12  chromedriver                        0x0000000104befe34 cxxbridge1$str$ptr + 2931972
13  chromedriver                        0x0000000104c00788 cxxbridge1$str$ptr + 2999896
14  libsystem_pthread.dylib             0x000000018ba85c08 _pthread_start + 136
15  libsystem_pthread.dylib             0x000000018ba80ba8 thread_start + 8