### 문자열
- 파이썬은 작은 따옴표(' ') 또는 큰 따옴표(" ")로 묶은 것들이 모두 같은 문자열이다.
- 문자열은 프로그램 개발할 때 굉장히 많이 사용하는 요소이다.
- 또한 데이터를 분석할 때 사용하는 데이터에도 문자열이 굉장히 많다.
- 이에 문자열을 다루는 방법에 대해 배우는 것은 매우 중요한다.

In [1]:
# 문자열 생성
# 큰 따옴표나 작은 따옴표로 작성하는 것 자체가 문자열 객체를 생성하는 것이다.
str1 = '안녕하세요'
str2 = "안녕하세요"

print('str1 :', str1)
print('str2 :', str2)

print(type(str1))
print(type(str2))

str1 : 안녕하세요
str2 : 안녕하세요
<class 'str'>
<class 'str'>

In [2]:
# 큰 따옴표를 포함하는 문자열을 사용하고자 한다면..
str1 = '이름은 "홍길동" 입니다'
# 작은 따옴표를 포함하는 문자열을 사용하고자 한다면..
str2 = "이름은 '홍길동' 입니다"

print(str1)
print(str2)

이름은 "홍길동" 입니다
이름은 '홍길동' 입니다

In [3]:
# raw string
# 작성한 것 그대로 기억하는 문자열
# 문자열 하나 안에 작은 따옴표와 큰 따옴표 모두 포함할 경우
# 여러 줄 문자열을 사용할 경우
# 기타 등등
str1 = '''
동해물과 "백두산"이
마르고 닳도록
'하느님'이 보우하사
우리나라 만세
'''

str2 = """
동해물과 "백두산"이
마르고 닳도록
'하느님'이 보우하사
우리나라 만세
"""

print(str1)
print(str2)

동해물과 "백두산"이
마르고 닳도록
'하느님'이 보우하사
우리나라 만세


동해물과 "백두산"이
마르고 닳도록
'하느님'이 보우하사
우리나라 만세

In [4]:
# 에스케이프 문자
# \ 와 같이 작성하는 특별한 의미를 가진 문자
# 그냥 raw string 쓰세요
# \n : 줄바꿈
# \t : 탭
# \' : 작은 따옴표
# \" : 큰 따옴표
# \\ : \

str1 = '동해물과\n백두산이'
print(str1)

str2 = '''동해물과
백두산이
'''
print(str2)

str1 = '동해물과\t\t백두산이'
print(str1)

str2 = '''동해물과      백두산이'''
print(str2)

동해물과
백두산이
동해물과
백두산이

동해물과		백두산이
동해물과      백두산이

In [5]:
# 문자열과 문자열의 연산
# 두 문자열을 합친 새로운 문자열을 만들어줍니다.
a1 = '문자열1' + '문자열2'
print(a1)

문자열1문자열2

In [6]:
# 문자열과 다른 타입의 값을 + 연산자로 연산을 해본다.
a1 = '문자열1' + 10
print(a1)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# 변환 도구
# 문자열로 변환 : str()
# 정수로 변환 : int()
# 실수로 변환 : float()
# 논리로 변환 : bool()
# 같은 걸로만 합칠 수 있음
# ex)문자열+문자열/정수+정수/실수+실수/논리+논리...

a1 = '문자열1' + str(10)
print(a1)

문자열110

In [8]:
# but 그렇지 않은 경우
name1 = '홍길동'
age1 = 20
height1 = 185

str1 = '이름은 ' + name1 + '이고 나이는 ' + str(age1) + '살 입니다. ' + name1 + '의 키는 ' + str(height1) + 'cm 입니다'
print(str1)

이름은 홍길동이고 나이는 20살 입니다. 홍길동의 키는 185cm 입니다

In [9]:
# 포멧 문자 사용
# 정수 : %d, 실수 : %f, 문자열 : %s, 그 외는 : %s
str2 = '이름은 %s이고 나이는 %d살 입니다. %s의 키는 %dcm 입니다' % (name1, age1, name1, height1)
print(str2)

이름은 홍길동이고 나이는 20살 입니다. 홍길동의 키는 185cm 입니다

In [10]:
# format 사용
str3 = '이름은 {0}이고 나이는 {1}살 입니다. {0}의 키는 {2}cm 입니다'.format(name1, age1, height1)
print(str3)

이름은 홍길동이고 나이는 20살 입니다. 홍길동의 키는 185cm 입니다

In [11]:
# format 문자열 사용
str4 = f'이름은 {name1}이고 나이는 {age1}살 입니다. {name1}의 키는 {height1}cm 입니다'
print(str4)

이름은 홍길동이고 나이는 20살 입니다. 홍길동의 키는 185cm 입니다

In [14]:
# 문자열 내의 문자 접근
str1 = 'abcdefg'

# 0부터 1씩 증가하는 순서값을 이용하여 첫 번째 글자부터 접근할 수 있다.
# 첫 번째 글자
print(str1[0])
# 두 번째 글자
print(str1[1])

# 파이썬에서는 뒤에서 부터 시작하는 순서값이 제공된다.
# -1 부터 1씩 감소하는 순서값
# 뒤에서 첫 번째 글자
print(str1[-1])
# 뒤에서 두 번째 글자
print(str1[-2])

a
b
g
f

In [15]:
# 범위
# 순서값 2 ~ 5 - 1 까지
print(str1[2:5])
# 처음부터 5 - 1 까지
print(str1[:5])
# 순서값 2 ~ 끝까지
print(str1[2:])

cde
abcde
cdefg

In [16]:
# 문자열 + 문자열 => 둘을 합친 새로운 문자열을 만들어준다.
str1 = '문자열1' + '문자열2'
print(str1)

# 문자열 * 정수 => 문자열을 정수 만큼 반복한 문자열을 만들어준다.
str2 = '문자열1' * 3
print(str2)

문자열1문자열2
문자열1문자열1문자열1

In [17]:
# 글자수
# 문서에 보통 글자수가 아닌 문자열의 길이라는 용어로 되어 있다.
# 이 길이가 글자 수 인지 아닌지 반드시 확인해야 한다.(한글로 확인하세요)
str1 = 'abcdefg'
str2 = '가나다라마바사'

a1 = len(str1)
a2 = len(str2)

print(a1)
print(a2)

7
7

In [18]:
# 첫 글자를 대문자로 변환하고 나머지는 소문자로 변환한다
str1 = 'hello world'
str2 = 'HELLO WORLD'

str3 = str1.capitalize()
str4 = str2.capitalize()

print(str3)
print(str4)

Hello world
Hello world

In [19]:
# 주어진 문자열을 주어진 크기로 늘려준다.
# 늘어난 만큼 어떤 글자로 채울지를 정해주지 않으면 공백으로 채워준다.
str1 = 'python'

str2 = str1.center(40)
str3 = str1.ljust(40)
str4 = str1.rjust(40)

print(f'[{str2}]')
print(f'[{str3}]')
print(f'[{str4}]')

[                 python                 ]
[python                                  ]
[                                  python]

In [ ]:
# 두 번째로 지정해준 문자열 공백대신 채워준다.
# 글자 하나만 지정이 가능하다. 두개 이상 넣으면 에러 발생
str1 = 'python'

str2 = str1.center(40, '_')
str3 = str1.ljust(40, '_')
str4 = str1.rjust(40, '_')

print(f'[{str2}]')
print(f'[{str3}]')
print(f'[{str4}]')

[_________________python_________________]
[python__________________________________]
[__________________________________python]

In [21]:
str1 = 'abcd abcd abcd aaaa'

In [22]:
str1 = 'abcd abcd abcd aaaa'

# 문자열 내에 abcd가 몇개가 있는가...
a1 = str1.count('abcd')
print(a1)

# 문자열 내에 a가 몇개가 있는가...
a2 = str1.count('a')
print(a2)

# 앞에서 부터 10글자를 제외하고 a가 몇개가 있는가..
a3 = str1.count('a', 10)
print(a3)

# 앞에서 부터 10글자를 제외하고 순서값 15번째 부터 끝까지를 제외한 a가 몇개가 있는가
a4 = str1.count('a', 10, 15)
print(a4)

3
7
5
1

In [23]:
# 문자열이 주어진 문자열로 시작하는가
str1 = 'abcdefg'

a1 = str1.startswith('abc')
a2 = str1.startswith('zzz')
print(a1)
print(a2)

# 문자열이 주어진 문자열로 끝나는가
a3 = str1.endswith('efg')
a4 = str1.endswith('zzz')
print(a3)
print(a4)

True
False
True
False

In [24]:
# cde가 어디에 있는가
a1 = str1.find('cde')
a2 = str1.index('cde')

print(a1)
print(a2)

2
2

In [25]:
# 없는 문자열
# 결과가 -1 이다
a1 = str1.find('zzz')
print(a1)

# 오류 발생
a2 = str1.index('zzz')
print(a2)

-1

ValueError: substring not found

In [26]:
# 숫자와 문자로 구성되어 있는가
str1 = 'abcd1234'
a1 = str1.isalnum()
print(a1)

str2 = 'abcd'
a2 = str2.isalnum()
print(a2)

str3 = '1234'
a3 = str3.isalnum()
print(a3)

str4 = 'abcd가나다라abcd'
a4 = str4.isalnum()
print(a4)

str5 = 'abcd_1234'
a5 = str5.isalnum()
print(a5)

True
True
True
True
False

In [27]:
# 숫자로만 구성되어 있는가
str6 = '123456'
a6 = str6.isdigit()
print(a6)

# 문자로만 구성되어 있는가
str7 = '동해물과'
a7 = str7.isalpha()
print(a7)

# 소문자로만 구성되어 있는가
str8 = 'abcdefg'
a8 = str8.islower()
print(a8)

# 대문자로만 구성되어 있는가
str9 = 'ABCDEFG'
a9 = str9.isupper()
print(a9)

True
True
True
True

In [28]:
str1 = 'ABcdEF'

# 대문자를 소문자로 변경
str2 = str1.lower()
print(str2)

# 소문자를 대문자로 변경
str3 = str1.upper()
print(str3)

abcdef
ABCDEF

In [29]:
# 지정된 문자열의 일부를 다른 문자열로 변경한다.
str1 = 'abcdefg'

# cde 를 zzzzz로 변경한다.
str2 = str1.replace('cde', 'zzzzz')
print(str2)

# cde가 두 군데 있는 문자열
str3 = 'abcdefcdekkk'
str4 = str3.replace('cde', 'zzzzz')
print(str4)

str5 = 'abcdefcdekkk'
# cde 중 첫 번째 cde를 zzzzz로 변경한다.
str6 = str5.replace('cde', 'zzzzz', 1)
print(str6)

abzzzzzfg
abzzzzzfzzzzzkkk
abzzzzzfcdekkk