### Tuple
- 0부터 1씩 증가하는 순서값을 통해 값들을 관리하는 요소이다
- 관리하는 값들을 가져오는 것만 가능하다.

### List
- 0부터 1씩 증가하는 순서값을 통해 값들을 관리하는 요소이다.
- 추가, 수정, 삭제, 삽입 등등이 가능하다.

### 차이점
- Tuple이 List보다 데이터를 읽어오는 속도가 빠르다 (몇 ns 정도....)
- Tuple이 List보다 소모하는 메모리 양이 적다(몇 byte 정도...)

In [1]:
# tuple 생성
# 관리 하는 값이 없는 튜플을 생성한다
tuple1 = tuple()
# 관리하는 값이 없는 리스트를 생성한다.
list1 = list()

print(tuple1)
print(list1)
print(type(tuple1))
print(type(list1))

()
[]
<class 'tuple'>
<class 'list'>

In [2]:
# 특수 문자를 통해서 만드는 것도 가능하다.
tuple2 = ()
list2 = []

print(tuple2)
print(list2)
print(type(tuple2))
print(type(list2))

()
[]
<class 'tuple'>
<class 'list'>

In [3]:
# 관리할 값들을 지정하여 생성한다.
tuple3 = (10, 20, 30, 40, 50)
list3 = [10, 20, 30, 40, 50]

print(tuple3)
print(list3)
print(type(tuple3))
print(type(list3))

(10, 20, 30, 40, 50)
[10, 20, 30, 40, 50]
<class 'tuple'>
<class 'list'>

In [ ]:
# tuple 만 괄호 없이 생성하는 것을 허용한다.
tuple4 = 10, 20, 30, 40, 50

print(tuple4)
print(type(tuple4))

# tuple + list 는 에러발생

(10, 20, 30, 40, 50)
<class 'tuple'>

In [5]:
# 연산
tuple1 = 10, 20, 30
tuple2 = 40, 50, 60
list1 = [10, 20, 30]
list2 = [40, 50, 60]

# 더하기 : 관리하는 값들을 모두 추출하여 새로운 요소를 생성한다.
tuple3 = tuple1 + tuple2
list3 = list1 + list2

print(tuple3)
print(list3)

(10, 20, 30, 40, 50, 60)
[10, 20, 30, 40, 50, 60]

In [6]:
# 곱하기 : 관리하는 값들을 모두 추출하여 곱한 수 만큼 반복된 새로운 요소를 생성한다.
tuple4 = tuple1 * 3
list4 = list1 * 3
print(tuple4)
print(list4)

(10, 20, 30, 10, 20, 30, 10, 20, 30)
[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [9]:
tuple1 = 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
list1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# 각 값들을 가져온다.
# 문자열에서 했던 것과 동일하다.

# 0부터 1씩 증가하는 순서값. 앞에서 부터..
print(tuple1[0])
print(tuple1[1])
print(list1[0])
print(list1[1])

10
20
10
20

In [10]:
# -1 부터 1씩 감소하는 순서값. 뒤에서 부터
print(tuple1[-1])
print(tuple1[-2])
print(list1[-1])
print(list1[-2])

100
90
100
90

In [ ]:
# 순서값 2 ~ 5 - 1 까지
print(tuple1[2:5])
print(list1[2:5])

# 처음 부터 순서값 5 - 1 까지
print(tuple1[:5])
print(list1[:5])

# 순서값 2 부터 끝까지
print(tuple1[2:])
print(list1[2:])

(30, 40, 50)
[30, 40, 50]
(10, 20, 30, 40, 50)
[10, 20, 30, 40, 50]
(30, 40, 50, 60, 70, 80, 90, 100)
[30, 40, 50, 60, 70, 80, 90, 100]

In [12]:
# 관리하는 값의 개수
print(len(list1))
print(len(tuple1))

10
10

In [13]:
# 관리하는 값들 중 최소와 최대 값을 가져온다.
tuple1 = 50, 20, -30, 40, 80
list1 = [50, 20, -30, 40, 80]

a1 = max(tuple1)
a2 = max(list1)
a3 = min(tuple1)
a4 = min(list1)

print(a1, a2, a3, a4)

80 80 -30 -30

In [14]:
# 튜플이 가지고 있는 값들을 모두 추출하여 새로운 리스트를 생성한다.
tuple1 = 10, 20, 30, 40, 50
print(tuple1)

list1 = list(tuple1)
print(list1)

# 리스트가 가지고 있는 값들을 모두 추출하여 새로운 튜플로 생성한다.
tuple2 = tuple(list1)
print(tuple2)

(10, 20, 30, 40, 50)
[10, 20, 30, 40, 50]
(10, 20, 30, 40, 50)

In [15]:
# 문자열을 리스트나 튜플로 생성한다.
tuple1 = tuple('안녕하세요')
list1 = list('안녕하세요')

print(tuple1)
print(list1)

('안', '녕', '하', '세', '요')
['안', '녕', '하', '세', '요']

In [20]:
# str에 리스트나 튜플을 넣어주면 출력할 때 나타나는 형태의 문자열로 만들어준다.
tuple1 = 10, 20, 30, 40, 50
list1 = [10, 20, 30, 40, 50]

str1 = str(tuple1)
str2 = str(list1)

print(tuple1)
print(list1)

print(str1)
print(str2)

print(tuple1[0])
print(list1[0])

print(str1[0])
print(str2[0])

(10, 20, 30, 40, 50)
[10, 20, 30, 40, 50]
(10, 20, 30, 40, 50)
[10, 20, 30, 40, 50]
10
10
(
[

In [21]:
# join : 지정한 튜플이나 리스트내의 값들을 모두 추출하여 하나의 문자열로 만들어준다.
# 리스트 튜플에 들어있는 값들은 문자열 이어야 한다.
# 이때, join을 사용한 문자열이 구분자가 된다.
tuple1 = '안', '녕', '하', '세', '요'
list1 = ['안', '녕', '하', '세', '요']

str1 = '_'

str2 = str1.join(tuple1)
str3 = str1.join(list1)

print(str2)
print(str3)

안_녕_하_세_요
안_녕_하_세_요

In [22]:
# 문자열 나누기
# 구분자를 기준으로 문자열을 나눈다.
# 구분자를 지정하지 않으면 띄어쓰기가 구분자가 된다.
str1 = 'ab cd_ef gh'

k1 = str1.split()
k2 = str1.split('_')

print(k1)
print(k2)

['ab', 'cd_ef', 'gh']
['ab cd', 'ef gh']

### list에 데이터를 추가, 수정, 삭제, 삽입한다.

- tuple은 불가능하다.

In [23]:
list1 = []
print(list1)

[]

In [24]:
# 추가
list1.append(10)
list1.append(20)
list1.append(30)

print(list1)

[10, 20, 30]

In [25]:
# 다수의 값을 한꺼번에 추가한다.
# 데이터를 관리하는 요소를 지정해준다.
list1.extend([40, 50, 60])
print(list1)

[10, 20, 30, 40, 50, 60]

In [26]:
# 수정
# 순서값을 가지고 접근하여 값을 넣어준다.
list1[1] = 200
print(list1)

[10, 200, 30, 40, 50, 60]

In [27]:
# 삽입
# 순서값 1에 해당하는 곳에 지정된 값을 삽입한다.
list1.insert(1, 90)
print(list1)

[10, 90, 200, 30, 40, 50, 60]

In [28]:
# 값을 지정하여 제거한다.
# 동일한 값이 있을 경우 제일 앞에 있는 값을 제거한다.
list1.remove(90)
print(list1)

[10, 200, 30, 40, 50, 60]

In [29]:
# 가장 마지막 것을 가져오고 리스트에서는 제거한다.
a1 = list1.pop()
print(a1)
print(list1)

60
[10, 200, 30, 40, 50]

In [30]:
# 순서값을 지정해주면 값을 가져오고 리스트에서 제거한다.
a1 = list1.pop(2)
print(a1)
print(list1)

30
[10, 200, 40, 50]

In [31]:
# 정렬
# 리스트 내의 데이터를 직접 정렬해준다.
list1 = [40, 20, 10, 30, 50]
list1.sort()
print(list1)

[10, 20, 30, 40, 50]

In [32]:
# 반전
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [33]:
# 정렬시 내림차순으로 하겠다면 reverse에 True를 설정해준다.
list1 = [40, 20, 10, 30, 50]
list1.sort(reverse=True)
print(list1)

[50, 40, 30, 20, 10]

In [35]:
# 문자열도 정렬이 된다.
list2 = ['다', '가', '나']
list2.sort()
print(list2)


str1 = '안녕하세요'
list1 = list(str1)
list1.sort()
str2 = ''.join(list1)
print(str2)

['가', '나', '다']
녕세안요하

In [ ]:
# 위치 찾기
list1 = [10, 20, 30, 40, 50]
a1 = list1.index(20)
print(a1)

# list 내에 없는 것을 지정하면 오류가 발생한다.
a2 = list1.index(100)
print(a2)

1

ValueError: 100 is not in list

### for문 사용하기

In [37]:
list1 = [10, 20, 30, 40, 50]

# python 의 for 문
# in 다음에는 값들을 관리하는 요소를 넣어준다.
# 설정한 값들을 관리하는 요소가 관리하는 값의 수 만큼 관리하는 코드가 반복해서 동작을 한다.
# 이 때, 반복 횟차 번째의 값을 for 다음에 있는 변수에 담아준다.
# 반복되는 코드안에서 반복 번째의 값을 사용하고 싶을 때 변수를 사용한다.
for v1 in list1 :
    print(v1)

10
20
30
40
50

In [38]:
list1 = [10, 20, 30, 40, 50]
list2 = []

# list1에 담긴 값들을 list2에 그대로 담아준다.
for v1 in list1 :
    list2.append(v1)

print(list2)

[10, 20, 30, 40, 50]

In [40]:
# 컴플리헨션 사용
# in 다음에 작성한 데이터를 관리하는 요소만큼 반복된다.
# 매 반복 번째에 해당하는 값이 for 다음에 있는 변수에 담기게 되고
# 제일 처음에 작성한 값이 list에 담겨져서 반환된다.
list3 = [v1 for v1 in list1]
print(list3)

list3 = [0 for v1 in list1]
print(list3)

[10, 20, 30, 40, 50]
[0, 0, 0, 0, 0]

In [41]:
list1 = [10, 20, 30, 40, 50]
list2 = []

# list1에 담긴 값들을 10을 증가시켜서 list2에 담는다.
for v1 in list1 :
    list2.append(v1 + 10)

print(list2)

[20, 30, 40, 50, 60]

In [42]:
list3 = [v1 + 10 for v1 in list1]
print(list3)

[20, 30, 40, 50, 60]

In [43]:
list1 = [1, 2, 3, 4, 5]
list2 = []

# list1에 담긴 값이 짝수면 10을 곱해서 담고 홀수면 그냥 담아준다.
for v1 in list1 :
    if v1 % 2 == 0 :
        list2.append(v1 * 10)
    else :
        list2.append(v1)

print(list2)

[1, 20, 3, 40, 5]

In [ ]:
list2 = [v1 * 10 if v1 % 2 == 0 else v1 for v1 in list1]
print(list2)

[1, 20, 3, 40, 5]

In [45]:
# in list1 : list1이 가지고 있는 수 만큼 반복하겠다는 의미
# for v1 : list1이 가지고 있는 값 중에 반복 번째 값을 v1에 담는다는 의미
# v1 * 10 if v1 % 2 == 0 : if 문의 조건식이 True인 경우에 if 문 앞에 있는 값을 리스트에 담겠다는 의미
# else v1 : if 문의 조건식이 False인 경우에 else 에 있는 값을 리스트에 담겠다는 의미
list2 = [v1 * 10 if v1 % 2 == 0 else v1 for v1 in list1]
print(list2)

[1, 20, 3, 40, 5]

In [46]:
list3 = [1, 2, 3, 4, 5]
list4 = []

for v1 in list3 :
    if v1 % 2 == 0 :
        list4.append(v1 * 10)

print(list4)

[20, 40]

In [47]:
list3 = [1, 2, 3, 4, 5]

# v1에 담긴 값이 if 문 조건에 만족할 경우에만 리스트에 값을 담는다.
# for 좌측에 나오는 if 문은 list에 어떠한 값을 담을 지를 결정하는데 사용하고
# in 우측에 나오는 if 문은 현재 번째의 값을 건너 뛸것인지 사용할 것인지를 결정하는데 사용한다.
list4 = [v1 * 10 for v1 in list3 if v1 % 2 == 0]
print(list4)

[20, 40]

In [48]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = []

# list1이 가지고 있는 값이 짝수일 경우에만 list2에 담는다.
# 만약 값이 5보다 작으면 10을 곱해서 담고 그렇지 않으면 그냥 담는다.

for v1 in list1 :
    if v1 % 2 == 0 :
        if v1 < 5 :
            list2.append(v1 * 10)
        else :
            list2.append(v1)

print(list2)

[20, 40, 6, 8, 10]

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list2 = [v1 * 10 if v1 < 5 else v1 for v1 in list1 if v1 % 2 == 0]
print(list2)

[20, 40, 6, 8, 10]

In [50]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# list1이 가지고 있는 값이 짝수일 경우에만 list2에 담는다.
# 만약 값이 5보다 작으면 10을 곱해서 담고 그렇지 않으면 그냥 담는다.

# for v1 in list1 :                    =>  for v1 in list1
#     if v1 % 2 == 0 :                 =>  뒤에 있는 if 문 - if v1 % 2 == 0
#         if v1 < 5 :                   
#             list2.append(v1 * 10)    => v1 * 10 if v1 < 5
#         else :
#             list2.append(v1)         => else v1

list2 = [v1 * 10 if v1 < 5 else v1 for v1 in list1 if v1 % 2 == 0]

print(list2)

[20, 40, 6, 8, 10]