### Dictionary
- list나 tuple은 0부터 1씩 증가하는 순서 값을 가지고 관리하는 요소
- Dictionary 는 순서가 아닌 이름을 통해 관리하는 요소

### 학생 정보를 관리하는 예제를 예로 들면...
- 학생 한명의 정보를 Dictionary에 담는다.
- 이 Dictionary를 학생 수 만큼 만든다.
- 학생 정보가 담긴 Dictionary들을 List나 Tuple에 담아서 관리를 한다.

In [1]:
# 딕셔너리 생성
# 비어있는 딕셔너리가 생성된다
# 딕셔너리는 나중에 데이터를 추가할 수 있다.
d1 = dict()
print(type(d1))
print(d1)

<class 'dict'>
{}

In [2]:
# 괄호를 통한 딕셔너리 생성
# 비어있는 딕셔너리가 생성된다.
d2 = {}
print(type(d2))
print(d2)

<class 'dict'>
{}

In [ ]:
# 딕셔너리를 만들때 관리할 값을 지정해준다.
# 이름 : 값 형태로 지정한다.
# 이름은 문자열이 아니어도 된다.

d3 = {
    'v1' : 100,
    'v2' : 11.11,
    'v3' : '안녕하세요',
    'v4' : [10, 20, 30],
    'v5' : (10, 20, 30),
    'v6' : {
        'a1' : 100,
        'a2' : 200
    }
}

print(d3) #파이썬에서 원래 출력방식
display(d3) #노트북 방식으로 작업할 때 쓸 수 있는 출력방식

#뭐가 더 좋다 x, 출력 대상에 따라 똑같이 나올수도, 다르게 나올수도
#개인취향에 맞게 더 깔끔하게 나오는거 이용

{'v1': 100, 'v2': 11.11, 'v3': '안녕하세요', 'v4': [10, 20, 30], 'v5': (10, 20, 30), 'v6': {'a1': 100, 'a2': 200}}

{'v1': 100,
 'v2': 11.11,
 'v3': '안녕하세요',
 'v4': [10, 20, 30],
 'v5': (10, 20, 30),
 'v6': {'a1': 100, 'a2': 200}}

In [5]:
# 데이터를 가지고 온다.
# 딕셔너리[이름]
print(d3['v1'])
print(d3['v2'])
print(d3['v3'])
print(d3['v4'])
print(d3['v5'])
print(d3['v6']['a1'])
print(d3['v6']['a2'])

100
11.11
안녕하세요
[10, 20, 30]
(10, 20, 30)
100
200

In [6]:
# 값을 변경한다.
print(d3['v1'])

d3['v1'] = 200
print(d3['v1'])

100
200

In [7]:
# 만약 없는 이름으로 데이터를 넣는다면...
# 추가된다.
d3['v7'] = 5000
display(d3)
print(d3['v7'])

{'v1': 200,
 'v2': 11.11,
 'v3': '안녕하세요',
 'v4': [10, 20, 30],
 'v5': (10, 20, 30),
 'v6': {'a1': 100, 'a2': 200},
 'v7': 5000}

5000

In [8]:
# 딕셔너리는 pop 을 통해 이름을 지정하여 제거할 수 있다.
# 이 때, 제거된 값을 반환해준다.
v1 = d3.pop('v1')
print(v1)
print(d3)

200
{'v2': 11.11, 'v3': '안녕하세요', 'v4': [10, 20, 30], 'v5': (10, 20, 30), 'v6': {'a1': 100, 'a2': 200}, 'v7': 5000}

In [9]:
# 딕셔너리는 순서 개념이 없지만 popitem을 사용하면 제일 마지막에 추가한 
# 데이터를 삭제할 수 있다. (추천드리지 않습니다)
v2 = d3.popitem()
print(v2)
print(d3)

('v7', 5000)
{'v2': 11.11, 'v3': '안녕하세요', 'v4': [10, 20, 30], 'v5': (10, 20, 30), 'v6': {'a1': 100, 'a2': 200}}

In [10]:
# del 연산자 사용
# 지정된 기억장소를 삭제하는 연산자.
# a1 = 100
# print(a1)

# del a1
# print(a1)

list1 = [10, 20, 30]
print(list1)
# 리스트가 관리하는 두 번째 기억장소를 삭제한다.
# 0부터 1씩 증가하는 순서값 방식을 유지해야 하기 때문에 하나씩 당겨진다.
del list1[1]
print(list1)

# tuple1 = 10, 20, 30
# print(tuple1)
# # 튜플은 수정이 불가능하기 때문에 삭제시 오류가 발생핸다.
# del tuple1[1]
# print(tuple1)

d4 = {
    'a1' : 100,
    'a2' : 200,
    'a3' : 300
}

print(d4)
# 지정된 이름의 값이 삭제된다.
del d4['a2']

print(d4)

[10, 20, 30]
[10, 30]
{'a1': 100, 'a2': 200, 'a3': 300}
{'a1': 100, 'a3': 300}

In [11]:
# 없는 이름의 데이터를 가져올 경우
d10 = {
    'a1' : 100,
    'a2' : 200,
    'a3' : 300
}

a1 = d10['a1']
print(a1)

100

In [12]:
# 없는 이름의 데이터를 가져올 경우
d10 = {
    'a1' : 100,
    'a2' : 200,
    'a3' : 300
}

a1 = d10['a1']
print(a1)

# 없는 이름을 지정하여 값을 가져오면 오류가 발생한다.
a4 = d10['a4']
print(a4)

100

KeyError: 'a4'

In [13]:
# get을 사용하면 없는 이름을 지정할 경우 오류가 발생하지 않고 None이 반환된다.
a1 = d10.get('a1')
print(a1)

a4 = d10.get('a4')
print(a4)

100
None

In [14]:
# 이름은 꼭 문자열이 아니어도 된다.
d10 = {
    'a1' : 100,
    10 : 200,
    11.11 : 300,
    True : 400
}

print(d10['a1'])
print(d10[10])
print(d10[11.11])
print(d10[True])

100
200
300
400