In [ ]:
#학생 정보를 출력하는 프로그램

hong_name,hong_age,hong_kor,hong_eng,hong_math = '홍길동','10살','70점','71점','72점'
kim_name,kim_age,kim_kor,kim_eng,kim_math = '김길동','11살','80점','81점','82점'
choi_name,choi_age,choi_kor,choi_eng,choi_math = '홍길동','12살','90점','91점','92점'

print('이름 :',hong_name)
print('나이 :',hong_age)
print('국어점수:',hong_kor)
print('영어점수 :',hong_eng)
print('수학점수 :',hong_math)
print()
print('이름 :',kim_name)
print('나이 :',kim_age)
print('국어점수:',kim_kor)
print('영어점수 :',kim_eng)
print('수학점수 :',kim_math)
print()
print('이름 :',choi_name)
print('나이 :',choi_age)
print('국어점수:',choi_kor)
print('영어점수 :',choi_eng)
print('수학점수 :',choi_math)
print()

이름 : 홍길동
나이 : 10살
국어점수: 70점
영어점수 : 71점
수학점수 : 72점

이름 : 김길동
나이 : 11살
국어점수: 80점
영어점수 : 81점
수학점수 : 82점

이름 : 홍길동
나이 : 12살
국어점수: 90점
영어점수 : 91점
수학점수 : 92점

In [4]:
#2

hong_name,hong_age,hong_kor,hong_eng,hong_math = '홍길동',10,70,71,72
kim_name,kim_age,kim_kor,kim_eng,kim_math = '김길동',11,80,81,82
choi_name,choi_age,choi_kor,choi_eng,choi_math = '홍길동',12,90,91,92

print('이름 :',hong_name)
print('나이 :',hong_age,'살')
print('국어점수:',hong_kor,'점')
print('영어점수 :',hong_eng,'점')
print('수학점수 :',hong_math,'점')
print()
print('이름 :',kim_name)
print('나이 :',kim_age,'살')
print('국어점수:',kim_kor,'점')
print('영어점수 :',kim_eng,'점')
print('수학점수 :',kim_math,'점')
print()
print('이름 :',choi_name)
print('나이 :',choi_age,'살')
print('국어점수:',choi_kor,'점')
print('영어점수 :',choi_eng,'점')
print('수학점수 :',choi_math,'점')
print()

이름 : 홍길동
나이 : 10 살
국어점수: 70 점
영어점수 : 71 점
수학점수 : 72 점

이름 : 김길동
나이 : 11 살
국어점수: 80 점
영어점수 : 81 점
수학점수 : 82 점

이름 : 홍길동
나이 : 12 살
국어점수: 90 점
영어점수 : 91 점
수학점수 : 92 점

In [ ]:
#3-아직 안함(결과물만 저장하려고) 제출 금지

hong_name,hong_age,hong_kor,hong_eng,hong_math = '홍길동',10,70,71,72
kim_name,kim_age,kim_kor,kim_eng,kim_math = '김길동',11,80,81,82
choi_name,choi_age,choi_kor,choi_eng,choi_math = '홍길동',12,90,91,92

print(f'이름 : {hong_name}')
print(f'나이 : {hong_age}살')
print(f'국어점수 : {hong_kor}점')
print(f'영어점수 : {hong_eng}점')
print(f'수학점수 : {hong_math}점')
print()
print(f'이름 : {kim_name}')
print(f'나이 : {kim_age}살')
print(f'국어점수 : {kim_kor}점')
print(f'영어점수 : {kim_eng}점')
print(f'수학점수 : {kim_math}점')
print()
print(f'이름 : {choi_name}')
print(f'나이 : {choi_age}살')
print(f'국어점수 : {choi_kor}점')
print(f'영어점수 : {choi_eng}점')
print(f'수학점수 : {choi_math}점')
print()

이름 : 홍길동
나이 : 10살
국어점수 : 70점
영어점수 : 71점
수학점수 : 72점

이름 : 김길동
나이 : 11살
국어점수 : 80점
영어점수 : 81점
수학점수 : 82점

이름 : 홍길동
나이 : 12살
국어점수 : 90점
영어점수 : 91점
수학점수 : 92점

----

### teacher's ver

### 전체적인 프로그램의 일반적인 구조
- 데이터를 준비
- 준비된 데이터를 가지고 처리를 한다.
- 처리를 통해 얻은 결과를 출력한다.

### 작업순서
- 화면부터 구성한다. (이 때, 값이 필요하다면 임의의 값 아무거나 정해준다)
- 화면을 구성하기 위해 필요한 데이터들이 무엇이 있는지 확인한다.
- 확인된 데이터를 담을 변수를 선언하고 값은 임의의 값을 넣어준다.
- 변수에 담을 값을 어떻게 구할 수 있는지 전략을 세운다.
- 세운 전력대로 값을 구해 변수에 담아준다.

In [ ]:
#1단계

# 학생 데이터를 준비한다

# 준비된 학생 데이터를 통해 처리를 한다.

# 처리된 결과를 통해 출력할 화면을 구성한다.
print('이름 : 홍길동')
print('나이 : 10 살')
print('국어점수 : 70 점')
print('영어점수 : 71 점')
print('수학점수 : 72 점')
print('')
print('이름 : 김길동')
print('나이 : 11 살')
print('국어점수 : 80 점')
print('영어점수 : 81 점')
print('수학점수 : 82 점')
print('')
print('이름 : 최길동')
print('나이 : 12 살')
print('국어점수 : 90 점')
print('영어점수 : 91 점')
print('수학점수 : 92 점')

In [ ]:
#2단계

# 학생 데이터를 준비한다
name1 = '홍길동'
age1 = 10
kor1 = 70
eng1 = 71
math1 = 72

name2 = '김길동'
age2 = 11
kor2 = 80
eng2 = 81
math2 = 82

name3 = '최길동'
age3 = 12
kor3 = 90
eng3 = 91
math3 = 92

# 준비된 학생 데이터를 통해 처리를 한다. 
# 값을 변수에 넣으면 되는 것이기에 처리는 생략

# 처리된 결과를 통해 출력할 화면을 구성한다.
print('이름 :', name1)
print('나이 :', age1, '살')
print('국어점수 :', kor1, '점')
print('영어점수 :', eng1, '점')
print('수학점수 :', math1, '점')
print('')
print('이름 :', name2)
print('나이 :', age2, '살')
print('국어점수 :', kor2, '점')
print('영어점수 :', eng2, '점')
print('수학점수 :', math2, '점')
print('')
print('이름 :', name3)
print('나이 :', age3, '살')
print('국어점수 :', kor3, '점')
print('영어점수 :', eng3, '점')
print('수학점수 :', math3, '점')