In [ ]:
# pip install pandas
import pandas as pd

In [ ]:
# 각각 season별 데이터 불러오기
bat = pd.read_csv('../data/kbo_batting_stats_by_season_1982-2025.csv')
pitch = pd.read_csv('../data/kbo_pitching_stats_by_season_1982-2025.csv')

In [ ]:
# bat 컬럼 확인
bat.columns

Index(['Id', 'Name', 'Birthdate', 'Handedness', 'School', 'Draft', 'Year',
       'Team', 'Age', 'Pos.', 'G', 'oWAR', 'dWAR', 'PA', 'ePA', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'TB', 'RBI', 'SB', 'CS', 'BB', 'HP', 'IB', 'SO',
       'GDP', 'SH', 'SF', 'AVG', 'OBP', 'SLG', 'OPS', 'R/ePA', 'wRC+', 'WAR'],
      dtype='object')

In [ ]:
# pitch 컬럼 확인
pitch.columns

Index(['Id', 'Name', 'Birthdate', 'Handedness', 'School', 'Draft', 'Year',
       'Team', 'Age', 'Pos.', 'G', 'GS', 'GR', 'GF', 'CG', 'SHO', 'W', 'L',
       'S', 'HD', 'IP', 'ER', 'R', 'rRA', 'TBF', 'H', '2B', '3B', 'HR', 'BB',
       'HP', 'IB', 'SO', 'ROE', 'BK', 'WP', 'ERA', 'RA9', 'rRA9', 'FIP',
       'WHIP', 'WAR'],
      dtype='object')

In [ ]:
# 내용 일부 확인해보기
bat.head()

,Id,Name,Birthdate,Handedness,School,Draft,Year,Team,Age,Pos.,...,SO,ROE,BK,WP,ERA,RA9,rRA9,FIP,WHIP,WAR
0,1038,박영진,1958년 07월 27일,우투우타,대구상고-성균관대,82 삼성 창단 멤버,1982,삼성,24,P,...,3,NaN,1,0,8.64,9.72,9.72,6.51,2.40,-0.17
1,1038,박영진,1958년 07월 27일,우투우타,대구상고-성균관대,82 삼성 창단 멤버,1984,삼성,26,P,...,0,NaN,0,0,18.00,18.00,18.00,2.43,4.00,-0.06
2,1057,김동철,1960년 06월 05일,우투우타,동산고,82 삼미 창단 멤버,1982,삼미,22,P,...,19,NaN,1,2,7.06,8.13,8.13,6.04,1.90,-1.33
3,1059,김용남,1958년 02월 26일,우투우타,군산초-군산중-군산상고-한양대,82 해태 창단 멤버,1982,해태,24,P,...,85,NaN,0,4,3.09,4.27,4.27,3.17,1.25,3.34
4,1059,김용남,1958년 02월 26일,우투우타,군산초-군산중-군산상고-한양대,82 해태 창단 멤버,1983,해태,25,P,...,80,NaN,0,1,2.83,3.33,3.33,2.56,1.11,4.58

In [ ]:
# 내용 일부 확인해보기
pitch.head()

,Id,Name,Birthdate,Handedness,School,Draft,Year,Team,Age,Pos.,...,SO,ROE,BK,WP,ERA,RA9,rRA9,FIP,WHIP,WAR
0,1038,박영진,1958년 07월 27일,우투우타,대구상고-성균관대,82 삼성 창단 멤버,1982,삼성,24,P,...,3,NaN,1,0,8.64,9.72,9.72,6.51,2.40,-0.17
1,1038,박영진,1958년 07월 27일,우투우타,대구상고-성균관대,82 삼성 창단 멤버,1984,삼성,26,P,...,0,NaN,0,0,18.00,18.00,18.00,2.43,4.00,-0.06
2,1057,김동철,1960년 06월 05일,우투우타,동산고,82 삼미 창단 멤버,1982,삼미,22,P,...,19,NaN,1,2,7.06,8.13,8.13,6.04,1.90,-1.33
3,1059,김용남,1958년 02월 26일,우투우타,군산초-군산중-군산상고-한양대,82 해태 창단 멤버,1982,해태,24,P,...,85,NaN,0,4,3.09,4.27,4.27,3.17,1.25,3.34
4,1059,김용남,1958년 02월 26일,우투우타,군산초-군산중-군산상고-한양대,82 해태 창단 멤버,1983,해태,25,P,...,80,NaN,0,1,2.83,3.33,3.33,2.56,1.11,4.58

In [ ]:
# team, year(season) 별 컬럼 중복제거하고 보기
bat[['Team','Year']].drop_duplicates().head()

  Team  Year
0   OB  1982
1   OB  1983
2   OB  1984
3   OB  1985
4   OB  1986

In [ ]:
# team, year(season) 별 컬럼 중복제거하고 보기
pitch[['Team','Year']].drop_duplicates().head()

  Team  Year
0   삼성  1982
1   삼성  1984
2   삼미  1982
3   해태  1982
4   해태  1983

In [ ]:
#결측치 확인
bat.isna().sum().sort_values(ascending=False).head(10)

Draft         35
OPS           15
SLG           15
AVG           15
Handedness     1
Id             0
SO             0
SB             0
CS             0
BB             0
dtype: int64

In [ ]:
#결측치 확인
pitch.isna().sum().sort_values(ascending=False).head(10)

ROE           4327
2B            4327
3B            4327
ERA             17
RA9             17
rRA9            15
WAR             15
Draft           10
Handedness       4
WHIP             1
dtype: int64

In [ ]:
# 최신 5개년 - 상의 후 양 조절 가능
bat = bat[bat['Year'].between(2021, 2025)]
pitch = pitch[pitch['Year'].between(2021, 2025)]

In [41]:
bat.isna().sum().sort_values(ascending=False).head()

OPS    2
SLG    2
AVG    2
Id     0
SO     0
dtype: int64

In [39]:
pitch.isna().sum().sort_values(ascending=False).head(10)

WAR     1
rRA9    1
RA9     1
ERA     1
HP      0
rRA     0
TBF     0
H       0
2B      0
3B      0
dtype: int64

In [25]:
bat

,Id,Name,Birthdate,Handedness,School,Draft,Year,Team,Age,Pos.,...,GDP,SH,SF,AVG,OBP,SLG,OPS,R/ePA,wRC+,WAR
3679,10003,백용환,1989년 03월 20일,우투우타,서울영중초-양천중-장충고,08 KIA 2차 5라운드 37순위,2021,KIA,32,C,...,0,0,0,0.000,0.286,0.000,0.286,0.017,14.4,-0.05
3680,10003,백용환,1989년 03월 20일,우투우타,서울영중초-양천중-장충고,08 KIA 2차 5라운드 37순위,2021,한화,32,C,...,4,2,0,0.148,0.258,0.309,0.567,0.061,51.0,-0.41
3681,10003,백용환,1989년 03월 20일,우투우타,서울영중초-양천중-장충고,08 KIA 2차 5라운드 37순위,2022,한화,33,C,...,0,0,0,0.200,0.200,0.400,0.600,0.062,53.6,-0.02
3695,10004,이성우,1981년 09월 01일,우투우타,백운초-청원중-성남서고,05 SK 육성선수,2021,LG,40,C,...,1,5,0,0.212,0.235,0.212,0.447,0.009,8.2,-0.11
3746,10008,김선빈,1989년 12월 18일,우투우타,화순초-화순중-화순고,08 KIA 2차 6라운드 43순위,2021,KIA,32,2B,...,19,1,5,0.307,0.375,0.401,0.776,0.141,115.0,3.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9726,16390,맥브룸,1992년 04월 09일,좌투우타,-,25 SSG 부상 대체 외국인선수,2025,SSG,33,RF,...,2,0,0,0.203,0.263,0.405,0.668,0.078,62.8,-0.17
9727,16393,스톤,1995년 11월 22일,우투우타,-,25 키움 부상 대체 외국인선수,2025,키움,30,RF,...,2,0,1,0.241,0.280,0.310,0.590,0.066,59.9,-0.64
9728,16395,박찬형,2002년 10월 17일,우투좌타,중대초-언북중-배재고,25 롯데 육성선수,2025,롯데,23,3B,...,1,0,1,0.341,0.419,0.504,0.923,0.190,152.1,1.19
9729,16396,리베라토,1995년 12월 18일,좌투좌타,-,25 한화 부상 대체 외국인선수,2025,한화,30,CF,...,3,0,4,0.313,0.366,0.524,0.890,0.172,143.1,2.00
9730,16402,스티븐슨,1994년 06월 01일,좌투좌타,-,25 KT 자유선발,2025,KT,31,CF,...,2,1,0,0.262,0.341,0.403,0.744,0.129,104.5,0.45

In [26]:
pitch

,Id,Name,Birthdate,Handedness,School,Draft,Year,Team,Age,Pos.,...,SO,ROE,BK,WP,ERA,RA9,rRA9,FIP,WHIP,WAR
2502,10058,양현종,1988년 03월 01일,좌투좌타,광주학강초-광주동성중-광주동성고,07 KIA 2차 1라운드 1순위,2022,KIA,34,P,...,141,11.0,0,3,3.85,4.41,4.37,3.66,1.25,2.93
2503,10058,양현종,1988년 03월 01일,좌투좌타,광주학강초-광주동성중-광주동성고,07 KIA 2차 1라운드 1순위,2023,KIA,35,P,...,133,9.0,0,5,3.58,4.11,4.02,3.70,1.34,3.59
2504,10058,양현종,1988년 03월 01일,좌투좌타,광주학강초-광주동성중-광주동성고,07 KIA 2차 1라운드 1순위,2024,KIA,36,P,...,129,11.0,0,2,4.10,4.52,4.37,4.69,1.25,4.34
2505,10058,양현종,1988년 03월 01일,좌투좌타,광주학강초-광주동성중-광주동성고,07 KIA 2차 1라운드 1순위,2025,KIA,37,P,...,109,14.0,0,10,5.06,5.94,5.66,4.35,1.49,0.86
2634,10075,진해수,1986년 06월 26일,좌투좌타,동삼초-경남중-부경고,05 KIA 2차 7라운드 50순위,2021,LG,35,P,...,39,2.0,0,1,2.44,3.45,3.42,3.50,1.33,0.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7722,16398,웰스,1997년 02월 27일,좌투좌타,-,25 키움 부상 대체 외국인선수,2025,키움,28,P,...,16,0.0,0,0,3.15,3.60,3.60,3.04,1.20,0.38
7723,16401,패트릭,1995년 06월 10일,우투우타,-,25 KT 자유선발,2025,KT,30,P,...,45,4.0,0,5,3.12,3.86,3.96,3.67,1.38,1.33
7724,16403,메르세데스,1994년 03월 08일,좌투양타,-,25 키움 자유선발,2025,키움,31,P,...,41,2.0,1,2,4.47,4.66,4.66,3.61,1.36,0.67
7725,16404,톨허스트,1999년 09월 13일,우투우타,-,25 LG 자유선발,2025,LG,26,P,...,45,2.0,0,1,2.86,3.07,3.07,3.21,1.25,1.31
7726,16405,벨라스케즈,1992년 06월 07일,우투우타,-,25 롯데 자유선발,2025,롯데,33,P,...,28,0.0,2,1,8.23,8.23,8.10,6.22,1.86,-0.31

In [31]:
# 출루율, 장타율, 홈런, 2루타, 3루타, 볼넷, 타석
bat[['OBP','SLG','HR','2B','3B','BB','PA']].describe()

,OBP,SLG,HR,2B,3B,BB,PA
count,1473.000000,1471.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000
mean,0.292424,0.311000,3.932111,7.632722,0.695859,17.873727,191.008147
std,0.117974,0.169026,6.646510,9.214101,1.386989,20.712356,193.684705
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.250000,0.229500,0.000000,0.000000,0.000000,1.000000,23.000000
50%,0.313000,0.328000,1.000000,4.000000,0.000000,9.000000,113.000000
75%,0.354000,0.400000,5.000000,12.000000,1.000000,30.000000,326.000000
max,1.000000,3.000000,50.000000,46.000000,11.000000,109.000000,670.000000

In [ ]:
# 평균자책점, 이닝당 출루허용률, 이닝, 대체선수 대비 승리기여도
pitch[['ERA','WHIP','IP','WAR']].describe()

               ERA         WHIP           IP          WAR
count  1438.000000  1439.000000  1439.000000  1438.000000
mean      6.724033     2.080890    44.094719     0.646349
std       8.660832     5.289731    45.579329     1.380642
min       0.000000     0.000000     0.000000    -1.660000
25%       3.560000     1.330000     9.000000    -0.130000
50%       4.825000     1.550000    31.000000     0.100000
75%       6.850000     1.940000    62.000000     0.940000
max      99.990000    99.990000   197.100000     8.380000

In [ ]:
# 이름, 팀, 시즌, 대체선수 대비 승리기여도
bat[['Name','Team','Year','WAR']].dropna().head()

     Name Team  Year   WAR
3679  백용환  KIA  2021 -0.05
3680  백용환   한화  2021 -0.41
3681  백용환   한화  2022 -0.02
3695  이성우   LG  2021 -0.11
3746  김선빈  KIA  2021  3.04

In [36]:
team_war = bat.groupby(['Team','Year'])['WAR'].sum()
top3_war = (
    bat.sort_values('WAR', ascending=False)
       .groupby(['Team','Year']).head(3)
       .groupby(['Team','Year'])['WAR'].sum()
)
share = top3_war / team_war

In [37]:
share

Team  Year
KIA   2021    0.711556
      2022    0.521855
      2023    0.464258
      2024    0.516351
      2025    0.585297
KT    2021    0.537536
      2022    0.563275
      2023    0.486041
      2024    0.605703
      2025    0.641148
LG    2021    0.608067
      2022    0.472075
      2023    0.510544
      2024    0.494234
      2025    0.399945
NC    2021    0.637427
      2022    0.635647
      2023    0.504254
      2024    0.556036
      2025    0.594641
SSG   2021    0.522143
      2022    0.597453
      2023    0.616659
      2024    0.856766
      2025    0.736912
두산    2021    0.467894
      2022    0.519294
      2023    0.616189
      2024    0.402933
      2025    0.643551
롯데    2021    0.521571
      2022    0.729198
      2023    0.574879
      2024    0.538838
      2025    0.498229
삼성    2021    0.684123
      2022    0.712778
      2023    0.706170
      2024    0.668327
      2025    0.554506
키움    2021    0.594492
      2022    0.940637
      2023    1.080136
      2024    1.133637
      2025    1.752793
한화    2021    1.035582
      2022    0.776190
      2023    0.898644
      2024    0.503448
      2025    0.526500
Name: WAR, dtype: float64